openapi: 3.1.0
info:
  title: Convert Accounts API
  description: 'Move your app forward with the Convert API. The Convert API allows

    you to manage your Convert Experiences projects using code. The REST API is

    an interface for managing and extending functionality of Convert. For

    example, instead of creating and maintaining projects using the Convert

    Experiences web dashboard you can create an experiment programmatically.

    Additionally, if you prefer to run custom analysis on experiment results you

    can leverage the API to pull data from Convert Experiences into your own

    workflow. If you do not have a Convert account already, sign up for a free

    developer account at https://www.convert.com/api/.


    *[Convert API V1](/doc/v1) is still available and documentation can be found [here](/doc/v1) but using it is highly discouraged

    as it will be phased out in the future*

    '
  version: 2.0.0
servers:
- url: https://api.convert.com/api/v2
  description: Live API server
- url: https://apidev.convert.com/api/v2
  description: DEV API server
- url: http://apidev.convert.com:5000/api/v2
  description: DEV mocked API server
tags:
- name: Accounts
  description: 'Account is the entity that contains all data. An account is owned by an user and  in which more other users can have different permissions, account wide or at project level

    '
paths:
  /accounts:
    get:
      operationId: getAccountsList
      summary: List accounts accessible to the user
      description: 'Retrieves a list of all accounts the authenticated user has access to.

        If using API key authentication, this typically returns the single account associated with the API key.

        If using cookie-based authentication, it may return multiple accounts if the user is a collaborator on several.

        An account is the top-level container for projects, billing, and user management.

        '
      tags:
      - Accounts
      responses:
        '200':
          $ref: '#/components/responses/AccountsListResponse'
  /billing-plans:
    get:
      operationId: getBillingPlans
      summary: List available billing plans
      description: 'Retrieves a list of all active billing plans that an account can subscribe to.

        Each plan defines usage limits (e.g., tested visitors, number of projects) and available features.

        '
      tags:
      - Accounts
      responses:
        '200':
          $ref: '#/components/responses/BillingPlansListResponse'
  /accounts/{account_id}/livedata:
    post:
      operationId: getAccountLiveData
      summary: Get live tracking events for an account
      tags:
      - Accounts
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account to be retrieved
        schema:
          type: integer
      description: 'Retrieves the last 100 tracking events (e.g., experiment views, goal conversions) across all projects within the specified account.

        Useful for real-time monitoring of activity. Supports filtering by event types and specific projects.

        As per the Knowledge Base, "Live Logs in Convert track how end users are interacting with web pages and experiments...at a project and experiment level in real time."

        '
      requestBody:
        $ref: '#/components/requestBodies/GetAccountLiveDataRequest'
      responses:
        '200':
          $ref: '#/components/responses/LiveDataEventsListResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/change-history:
    post:
      operationId: getAccountHistory
      summary: Get change history for an account
      tags:
      - Accounts
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      description: 'Retrieves a historical log of changes made within the specified account, such as modifications to account settings or billing.

        This provides an audit trail for account-level activities.

        The Knowledge Base states, "The Change History shows a record of user activity for each of your projects." This extends to account changes.

        '
      requestBody:
        $ref: '#/components/requestBodies/GetAccountHistoryRequest'
      responses:
        '200':
          $ref: '#/components/responses/ChangeHistoryListResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/experiences:
    post:
      operationId: getAccountActiveCompletedExperiencesList
      summary: List active and completed experiences for an account
      description: 'Retrieves a list of all active and completed experiences (A/B tests, personalizations, etc.) across all projects within the specified account.

        Allows filtering to narrow down results. Useful for an overview of ongoing and finished optimization activities at the account level.

        '
      tags:
      - Accounts
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/GetAccountActiveCompletedExperiencesListRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExperiencesListResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/details:
    get:
      operationId: getAccountDetails
      summary: Get details for a specific account
      description: 'Retrieves detailed information about a specific account, including its settings, billing status, and usage limits.

        The `include` parameter can be used to fetch additional related data, like active project counts.

        '
      tags:
      - Accounts
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: include
        in: query
        required: false
        description: 'Specifies the list of fields to be included in the response, which otherwise would not be sent.


          Read more in the section related to [Optional Fields](#tag/Optional-Fields)

          '
        schema:
          type: array
          items:
            $ref: '#/components/schemas/AccountDetailsIncludeFields'
      responses:
        '200':
          $ref: '#/components/responses/AccountDetailsResponse'
    post:
      operationId: updateAccountDetails
      summary: Update details for a specific account
      description: 'Modifies the settings or billing information for a specific account.

        This can include updating company details, contact information, or billing preferences.

        '
      tags:
      - Accounts
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/UpdateAccountDetailsRequest'
      responses:
        '200':
          $ref: '#/components/responses/AccountDetailsResponse'
  /accounts/{account_id}/sub-accounts/add:
    post:
      operationId: createSubAccount
      summary: Create a new sub-account
      description: 'Creates a new sub-account under the specified parent main account.

        Sub-accounts inherit certain properties and limits from the parent but can have their own users and projects.

        This is typically used by agencies or larger organizations to manage client accounts or departmental usage separately.

        '
      tags:
      - Accounts
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the parent account under which the sub-account is being created.
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/CreateSubAccountRequest'
      responses:
        '200':
          $ref: '#/components/responses/AccountDetailsResponse'
  /accounts/{account_id}/addons:
    post:
      operationId: requestAccountAddons
      summary: Request add-ons for an account
      description: 'Allows requesting specific add-on features or services for an account, such as premium support tiers or specialized training.

        '
      tags:
      - Accounts
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account for which the addons will be requested
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/RequestAccountAddonsRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/payment-setup:
    post:
      operationId: startPaymentSetup
      summary: Initiate payment method setup
      description: 'Starts a secure session with the payment provider (e.g., Stripe) to set up or update an account''s payment method.

        Returns a client secret or token that the frontend UI uses to complete the payment setup process directly with the provider.

        '
      tags:
      - Accounts
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account for which the payment setup will be started
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/StartPaymentSetupRequest'
      responses:
        '200':
          $ref: '#/components/responses/StartPaymentSetupResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/billing-portal:
    get:
      operationId: getAccountBillingPortal
      summary: Get billing portal URL
      description: 'Returns an authenticated Paddle billing portal URL for the given account.


        The URL takes the customer to the Paddle billing portal where they can

        check subscriptions, view or download invoices.

        '
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          $ref: '#/components/responses/BillingPortalResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/plan_setup/users:
    get:
      operationId: BillingPlanSetupUsers
      summary: Get users for billing plan setup notification
      description: 'Retrieves a list of users associated with an account, typically for the purpose of notifying them about billing plan setup or changes.

        Used internally for account management workflows.

        '
      tags:
      - Accounts
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account for which the plan setup users will be returned
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/PlanSetupUsersResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
components:
  schemas:
    ReportingSegmentsCountry:
      type: string
      description: 'The two-letter ISO 3166-1 alpha-2 country code of the visitor, determined by IP geolocation.

        Used for segmenting reports by country to analyze geographical performance.

        Knowledge Base: "How Do I Target by Geographic Location Like City, Region or Country?".

        '
      maxLength: 2
      minLength: 2
    SimpleLocationExpandable:
      anyOf:
      - type: integer
        description: Location ID
      - $ref: '#/components/schemas/SimpleLocation'
    PlanSetupUsersResponseData:
      type: object
      description: A list of users associated with an account, intended for notification during billing plan setup or changes.
      properties:
        data:
          description: Array of user details.
          type: array
          items:
            type: object
            properties:
              user_id:
                type: string
                description: The user's unique identifier within the Convert system.
              email:
                type: string
                description: The user's email address.
              name:
                type: string
                description: The user's full name.
    ReportingSegmentsSource:
      type: string
      description: 'The traffic source that brought the visitor to the site (e.g., ''google'', ''facebook.com'', ''direct'', ''newsletter'').

        Derived from `utm_source` URL parameters or the HTTP referrer. Enables report segmentation by traffic source.

        Knowledge Base: "How Do You Fill Medium, Keyword and Source Name?".

        '
      enum:
      - campaign
      - search
      - referral
      - direct
      - ai_tool
    RuleElement:
      oneOf:
      - $ref: '#/components/schemas/GenericTextMatchRule'
      - $ref: '#/components/schemas/GenericNumericMatchRule'
      - $ref: '#/components/schemas/GenericBoolMatchRule'
      - $ref: '#/components/schemas/GenericTextKeyValueMatchRule'
      - $ref: '#/components/schemas/GenericNumericKeyValueMatchRule'
      - $ref: '#/components/schemas/GenericBoolKeyValueMatchRule'
      - $ref: '#/components/schemas/CookieMatchRule'
      - $ref: '#/components/schemas/CountryMatchRule'
      - $ref: '#/components/schemas/LanguageMatchRule'
      - $ref: '#/components/schemas/GoalTriggeredMatchRule'
      - $ref: '#/components/schemas/SegmentBucketedMatchRule'
      - $ref: '#/components/schemas/DayOfWeekMatchRule'
      - $ref: '#/components/schemas/HourOfDayMatchRule'
      - $ref: '#/components/schemas/MinuteOfHourMatchRule'
      - $ref: '#/components/schemas/BrowserNameMatchRule'
      - $ref: '#/components/schemas/OsMatchRule'
      - $ref: '#/components/schemas/WeatherConditionMatchRule'
      - $ref: '#/components/schemas/VisitorTypeMatchRule'
      - $ref: '#/components/schemas/JsConditionMatchRule'
      discriminator:
        propertyName: rule_type
        mapping:
          url: '#/components/schemas/GenericTextMatchRule'
          url_with_query: '#/components/schemas/GenericTextMatchRule'
          query_string: '#/components/schemas/GenericTextMatchRule'
          campaign: '#/components/schemas/GenericTextMatchRule'
          keyword: '#/components/schemas/GenericTextMatchRule'
          medium: '#/components/schemas/GenericTextMatchRule'
          source_name: '#/components/schemas/GenericTextMatchRule'
          avg_time_page: '#/components/schemas/GenericNumericMatchRule'
          city: '#/components/schemas/GenericTextMatchRule'
          country: '#/components/schemas/CountryMatchRule'
          region: '#/components/schemas/GenericTextMatchRule'
          days_since_last_visit: '#/components/schemas/GenericNumericMatchRule'
          language: '#/components/schemas/LanguageMatchRule'
          pages_visited_count: '#/components/schemas/GenericNumericMatchRule'
          goal_triggered: '#/components/schemas/GoalTriggeredMatchRule'
          visit_duration: '#/components/schemas/GenericNumericMatchRule'
          cookie: '#/components/schemas/CookieMatchRule'
          visitor_type: '#/components/schemas/VisitorTypeMatchRule'
          visits_count: '#/components/schemas/GenericNumericMatchRule'
          bucketed_into_experience: '#/components/schemas/GenericBoolMatchRule'
          bucketed_into_segment: '#/components/schemas/SegmentBucketedMatchRule'
          local_time_day_of_week: '#/components/schemas/DayOfWeekMatchRule'
          local_time_hour_of_day: '#/components/schemas/HourOfDayMatchRule'
          local_time_minute_of_hour: '#/components/schemas/MinuteOfHourMatchRule'
          project_time_day_of_week: '#/components/schemas/DayOfWeekMatchRule'
          project_time_hour_of_day: '#/components/schemas/HourOfDayMatchRule'
          project_time_minute_of_hour: '#/components/schemas/MinuteOfHourMatchRule'
          browser_name: '#/components/schemas/BrowserNameMatchRule'
          browser_version: '#/components/schemas/GenericTextMatchRule'
          os: '#/components/schemas/OsMatchRule'
          user_agent: '#/components/schemas/GenericTextMatchRule'
          is_desktop: '#/components/schemas/GenericBoolMatchRule'
          is_mobile: '#/components/schemas/GenericBoolMatchRule'
          is_tablet: '#/components/schemas/GenericBoolMatchRule'
          js_condition: '#/components/schemas/JsConditionMatchRule'
          page_tag_page_type: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_sku: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_price: '#/components/schemas/GenericNumericMatchRule'
          page_tag_customer_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_1: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_2: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_3: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_4: '#/components/schemas/GenericTextMatchRule'
          weather_condition: '#/components/schemas/WeatherConditionMatchRule'
          generic_text_key_value: '#/components/schemas/GenericTextKeyValueMatchRule'
          generic_numeric_key_value: '#/components/schemas/GenericNumericKeyValueMatchRule'
          generic_bool_key_value: '#/components/schemas/GenericBoolKeyValueMatchRule'
    ReportingSegmentsFilters:
      type: object
      description: 'A collection of filters used to segment experience report data based on various visitor attributes and traffic sources.

        Applying these filters allows for deeper analysis of how different user groups interact with experience variations.

        Knowledge Base: "Using Basic and Advanced Post segmentation".

        '
      properties:
        devices:
          type: array
          items:
            $ref: '#/components/schemas/ReportingSegmentsDeviceCategories'
          nullable: true
        browsers:
          description: Filter report data for visitors using one or more specified web browsers.
          type: array
          items:
            $ref: '#/components/schemas/ReportingSegmentsBrowser'
          nullable: true
        countries:
          description: Filter report data for visitors from one or more specified countries (using 2-letter ISO codes).
          type: array
          items:
            $ref: '#/components/schemas/ReportingSegmentsCountry'
          nullable: true
        visitor_types:
          description: Filter report data for 'new' or 'returning' visitors.
          type: array
          items:
            $ref: '#/components/schemas/ReportingSegmentsVisitorType'
          nullable: true
        campaigns:
          description: Filter report data for visitors attributed to one or more specified marketing campaign names (from `utm_campaign`).
          type: array
          items:
            $ref: '#/components/schemas/ReportingSegmentsCampaign'
          nullable: true
        custom_segments:
          description: Filter report data for visitors belonging to one or more specified custom Convert Audience segments (by segment ID).
          type: array
          items:
            $ref: '#/components/schemas/ReportingSegmentsCustomSegment'
          nullable: true
        sources:
          description: Filter report data for visitors from one or more specified traffic sources (e.g., 'direct', 'search', 'referral').
          type: array
          items:
            $ref: '#/components/schemas/ReportingSegmentsSource'
          nullable: true
    AccountDetailsIncludeFields:
      type: string
      enum:
      - stats
      - settings.tracking_script.available_versions
    VisitorTypeMatchRulesTypes:
      type: string
      enum:
      - visitor_type
    LocationTriggerTypes:
      type: string
      default: upon_run
      description: 'Specifies the mechanism that activates an experience when its location rules are met:

        - `upon_run`: (Default) The experience activates as soon as the Convert tracking script loads and evaluates that the visitor matches the location''s rules (e.g., URL match). This is the standard behavior for most A/B tests.

        - `manual`: The experience only activates when explicitly triggered by a JavaScript call (`window._conv_q.push({ what: ''triggerLocation'', params: { locationId: ''...'' } })`). Gives precise programmatic control over activation.

        - `dom_element`: The experience activates upon a specific user interaction (e.g., ''click'', ''hover'', ''in_view'', ''change'') with a defined DOM element (identified by a CSS `selector`). Useful for testing changes related to interactive elements.

        - `callback`: The experience activates when a custom JavaScript `callback` function (provided in `js`) calls the `activate()` function passed to it. Allows for complex asynchronous activation logic, e.g., after an API response or a specific SPA state change.

        Note: For Full Stack projects, `upon_run` is effectively the only mode, as activation is handled by the SDK.

        '
      enum:
      - upon_run
      - manual
      - dom_element
      - callback
    SubAccountProductsCreate:
      type: object
      properties:
        billing:
          type: object
          required:
          - products
          properties:
            products:
              type: object
              description: Specifies initial plan subscriptions for Convert products.
              required:
              - experiences
              properties:
                experiences:
                  type: object
                  description: Initial plan for the 'Experiences' product.
                  required:
                  - plan
                  properties:
                    plan:
                      required:
                      - product
                      - usageLimits
                      allOf:
                      - $ref: '#/components/schemas/SubAccountBillingPlanData'
    LocationExpandable:
      anyOf:
      - type: integer
        description: Location ID
      - $ref: '#/components/schemas/Location'
    AudienceExpandable:
      anyOf:
      - type: integer
        description: Audience ID
      - $ref: '#/components/schemas/Audience'
    ProjectStatuses:
      description: 'The overall status of a project:

        - `active`: The project is active, and experiences within it can run and track data.

        - `inactive`: The project is inactive (archived or paused). No experiences within it will run, and no new data will be tracked.

        - `suspended`: The project (or account) has been suspended, typically due to billing issues or terms of service violations. Services are disabled.

        '
      type: string
      enum:
      - active
      - inactive
      - suspended
    ExperienceChangeIdReadOnly:
      description: Represents the unique identifier of a change, typically when returned by the API after creation or in a list.
      type: object
      properties:
        id:
          description: The unique numerical identifier for this specific change.
          type: integer
          readOnly: true
    ExperienceChangeBase:
      description: The fundamental structure representing a single modification applied within an experience's variation. The specific content and behavior of the change are determined by its `type` and detailed in the `data` object.
      type: object
      properties:
        type:
          type: string
          enum:
          - richStructure
          - customCode
          - defaultCode
          - defaultCodeMultipage
          - defaultRedirect
          - fullStackFeature
        data:
          description: 'A flexible object containing the specific details and content for this change, structured according to the change `type`.

            For example, for `customCode`, it would contain `js` and `css` strings. For `defaultRedirect`, it would contain `original_pattern` and `variation_pattern`.

            This field is included by default when fetching a single `ExperienceChange` but might be omitted in list views unless specified in an `include` parameter.

            '
          type: object
    UserCustomization:
      description: A generic key-value pair for storing miscellaneous user-specific UI customizations or settings not covered by structured preferences.
      type: object
      properties:
        key:
          type: string
          maxLength: 20
        value:
          nullable: true
          oneOf:
          - type: string
            maxLength: 20
          - type: number
          - type: boolean
      required:
      - key
      - value
    BaseProject:
      type: object
      properties:
        global_javascript:
          type: string
          nullable: true
          description: 'Custom JavaScript code that will be included on all pages where this project''s tracking script is installed.

            This script runs before any experience-specific code, making it suitable for global helper functions, third-party integrations setup (like analytics), or defining global variables.

            KB: "Project, Experience, Variation Javascript" - "Global Project JavaScript".

            '
        name:
          type: string
          maxLength: 200
          description: A user-defined, friendly name for the project (e.g., "Main Website Optimization", "Q3 Marketing Campaigns", "Mobile App Features").
        project_type:
          type: string
          description: 'The type of project, determining its capabilities and how it''s used:

            - `web`: For traditional website A/B testing, MVT, Split URL, personalization, and deploys using the client-side JavaScript tracking snippet.

            - `fullstack`: For server-side experiments, feature flagging, and mobile app testing using Convert''s Full Stack SDKs.

            KB: "Full Stack Experiments on Convert".

            '
          enum:
          - web
          - fullstack
          default: web
        reporting_settings:
          allOf:
          - type: object
            description: Project settings used for reporting
            properties:
              tested_visitors_quota:
                type: integer
                minimum: 0
                description: Maximum number of tested visitors that is allowed to go through this project in a billing cycle. After that number has been reached, no experiences that have influence over tested visitors will run in this project.
              currency_symbol:
                type: string
                description: Currency symbol used in the reporting.
                maxLength: 10
              blocked_ips:
                type: object
                nullable: true
                properties:
                  single:
                    type: array
                    description: List of single ip addresses blocked.
                    items:
                      type: object
                      minProperties: 1
                      properties:
                        value:
                          type: string
                          format: ip-address
                        name:
                          type: string
                          nullable: true
                          maxLength: 64
                      required:
                      - value
                  range:
                    type: array
                    description: List of ip addresses range.
                    items:
                      type: object
                      minProperties: 1
                      properties:
                        start:
                          type: string
                          format: ip-address
                          description: Starts from ip.
                        end:
                          type: string
                          format: ip-address
                          description: Ends with ip.
                        name:
                          type: string
                          nullable: true
                          maxLength: 64
                      required:
                      - start
                      - end
                description: A list of blocked IPs that are not allowed to be counted in the reports
              stop_tracking_goals_after_days:
                type: string
                description: 'Defines goals tracking life time: goals won''t be tracking after specified days unless used in active experiments.'
                enum:
                - 'OFF'
                - 1 day
                - 15 days
                - 30 days
                - 60 days
              smart_recommendations:
                type: boolean
                default: true
                description: 'Whether to run or not Smart Recommendations.

                  '
              keep_running_until_confidence:
                type: boolean
                description: 'If true, experiments do not auto-complete when planned sample size (100% progress) is reached alone.

                  They only auto-complete when both planned sample size is reached and the confidence threshold is met.

                  If false, experiments complete automatically when planned sample size is reached, regardless of confidence level.

                  Default depends on automation toggle: when keep_winner or stop_loser is enabled, default is true; otherwise false.

                  '
          - $ref: '#/components/schemas/ExperienceReportingSettings'
        settings:
          type: object
          description: General operational settings for the project.
          properties:
            allow_crossdomain_tracking:
              type: boolean
              description: 'If true, enables automatic passing of Convert tracking cookies (`_conv_v`, `_conv_s`) as URL parameters when visitors navigate between different domains listed in this project''s `Active Websites`.

                Essential for maintaining consistent visitor identity and experiment bucketing across multiple domains (e.g., main site to a separate checkout domain).

                KB: "Cookies and Cross-Domain Testing".

                '
            allow_gdpr:
              type: boolean
              description: 'If true, displays GDPR-related warnings in the Convert UI for settings or features that might have privacy implications (e.g., using certain audience conditions, enabling cross-domain tracking).

                KB: "GDPR warnings".

                '
            data_anonymization:
              type: boolean
              description: 'If true, masks the names of experiences, variations, segments, and goals in the public JavaScript tracking snippet and in data sent to some third-party integrations.

                Instead of names, their numerical IDs are used. Enhances privacy by preventing public disclosure of experiment details.

                KB: "Prevent Experiment Details Data Leak with Data Anonymization".

                '
            do_not_track:
              type: string
              enum:
              - 'OFF'
              - EU ONLY
              - EEA ONLY
              - Worldwide
              description: 'Configures if and how the project respects the "Do Not Track" (DNT) browser setting sent by visitors.

                - `OFF`: DNT signals are ignored.

                - `EU ONLY`: Respects DNT for visitors from EU countries.

                - `EEA ONLY`: Respects DNT for visitors from European Economic Area countries.

                - `Worldwide`: Respects DNT for all visitors globally.

                If respected, the Convert script may not load or track for visitors with DNT enabled.

                KB: "Respect Browser Do Not Track Setting".

                '
            global_privacy_control:
              type: string
              enum:
              - 'OFF'
              - EU ONLY
              - EEA ONLY
              - Worldwide
              description: 'Configures if and how the project respects Global Privacy Control (GPC) signals sent by visitors'' browsers.

                Options are similar to `do_not_track`. If respected, data collection and tracking may be limited.

                KB: "Respect Browser Do Not Track Setting" - "Global Privacy Control (GPC)".

                '
            include_jquery:
              type: boolean
              description: '(For legacy tracking script) If true, Convert''s tracking script will include its own version of the jQuery library.

                If your website already loads jQuery, set this to false to avoid loading it twice and improve page performance. Ensure your site''s jQuery loads before the Convert script.

                KB: "Do not include jQuery into the tracking scripts".

                '
            include_jquery_v1:
              type: boolean
              default: false
              description: '(For new v1 tracking script) If true, includes a jQuery-compatible API within the Convert script, even though the core script is jQuery-independent.

                Set to true if your variation code or global JS relies on `convert.$()` syntax and your site doesn''t globally provide jQuery.

                The new script itself does not require jQuery to function.

                '
            disable_spa_functionality:
              type: boolean
              default: false
              description: 'If true, disables Convert''s built-in optimizations and automatic handling for Single Page Applications (SPAs).

                Most SPAs work well with default SPA functionality enabled. Only disable if encountering specific conflicts or issues.

                KB: "SPA Optimizations", "Running Experiments on Single Page Apps".

                '
            do_not_track_referral:
              type: boolean
              default: false
              description: 'If true, Convert will not store referral data (like HTTP referrer or UTM parameters) in visitor cookies for use across subsequent pages or sessions.

                Referral data will still be used for targeting on the initial page view where it''s present.

                '
            time_zone:
              type: string
              description: 'The primary timezone for this project (e.g., "America/New_York", "Europe/London", "UTC").

                This timezone is used for scheduling experiences, interpreting time-based audience conditions (like ''hour of day - project_tz''), and displaying timestamps in reports.

                '
            utc_offset:
              $ref: '#/components/schemas/UTC_Offset'
            time_format:
              type: string
              description: Preferred time format for display within the Convert application UI for this project (12-hour or 24-hour).
              enum:
              - 12h
              - 24h
            debug_token:
              $ref: '#/components/schemas/GenerateDebugTokenData'
            disable_default_config:
              type: boolean
              default: false
              description: '(For Full Stack projects) If true, disables the default public configuration endpoint for this project.

                Access to project configuration via SDKs would then strictly require an authenticated SDK key. Enhances security for Full Stack projects.

                '
            include_experience_collaborators:
              type: boolean
              default: false
              description: 'If true, experience details retrieved via API will include information about the experience owner and collaborators.

                KB: "Assign Visible Owners and Collaborators to Experiences".

                '
            version:
              type: string
              maxLength: 50
              nullable: true
              readOnly: true
              description: 'An internal version identifier for the project''s configuration.

                This version string changes whenever a modification is made that affects the tracking script''s content (e.g., updating an experience, goal, or project setting).

                Format: [ISO_datetime]-[incremental_number].

                '
            legacy_script:
              type: boolean
              default: false
              description: 'If true, this project is configured to use Convert''s legacy tracking script.

                If false, it uses the newer, more performant v1 tracking script.

                New projects default to `false`. Existing projects retain their current script setting.

                KB: "How to Install the Main Tag / Convert Tracking Code / JavaScript" - "The Tracking Script vs Legacy Tracking Script".

                '
            ignore_unused_locations:
              type: boolean
              default: false
              description: 'If true, locations that are not currently associated with any active experiences will be excluded from the tracking script data downloaded by visitors.

                This can help reduce snippet size and improve performance.

                KB: "Benefits of Archiving Unused Goals, Locations, and Audiences." (Related concept for goals).

                '
            personalization:
              type: object
              nullable: true
              description: Personalization settings.
              properties:
                enabled:
                  type: boolean
                  default: false
                  description: Indicates whether personalization is enabled for this project.
            tracking_script:
              type: object
              description: 'Settings related to the management and versioning of the Convert tracking script for this project.

                Allows choosing a release strategy (manual, latest, scheduled) and viewing available/applied script versions.

                KB: "Tracking Script Version Management".

                '
              additionalProperties: false
              nullable: true
              properties:
                current_version:
                  description: The version string of the tracking script currently active for this project (e.g., "v2.11.3").
                  type: string
                previous_version:
                  type: string
                  description: The version string of the tracking script that was active before the `current_version`. Only available if a rollback is possible (manual mode).
                  nullable: true
                  readOnly: true
                available_versions:
                  $ref: '#/components/schemas/TrackingScriptAvailableVersions'
                release:
                  $ref: '#/components/schemas/TrackingScriptRelease'
            visitor_insights:
              allOf:
              - $ref: '#/components/schemas/VisitorInsightsBase'
              - type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Id of the visitor insights
                    nullable: true
              description: 'Settings for Convert Signals™ (Visitor Insights), which captures sessions with user frustration signals.

                KB: "Understanding Convert Signals™ and signals.observer.min.js script in Convert".

                '
        integrations_settings:
          type: object
          description: Project-wide settings for various third-party integrations (e.g., Google Analytics, Crazy Egg, Hotjar). Experience-level settings can sometimes override these.
          properties:
            crazyegg:
              description: 'Settings for Crazy Egg integration. Requires API key and secret for certain functionalities like automatically creating snapshots for variations.

                KB: "Integrate Convert Experiences with Crazy Egg".

                '
              properties:
                api_key:
                  type: string
                  maxLength: 100
                  nullable: true
                  description: Crazy Egg API key for this project.
                api_secret:
                  type: string
                  maxLength: 100
                  nullable: true
                  description: Crazy Egg API secret. Not returned in GET requests for security.
            google_analytics:
              $ref: '#/components/schemas/GA_Settings'
            kissmetrics:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: If true, enables sending of Convert experiment data to Kissmetrics for this project.
            hotjar:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: If true, enables sending of Convert experiment data (as tags) to Hotjar for this project.
        status:
          $ref: '#/components/schemas/ProjectStatuses'
        custom_domain:
          type: object
          nullable: true
          description: 'Configuration for using a custom domain (CNAME) to serve the Convert tracking script and receive tracking data.

            This can improve branding and potentially reduce issues with ad blockers or third-party cookie restrictions.

            Requires DNS setup.

            '
          required:
          - domain
          properties:
            domain:
              type: string
              description: The custom domain name (e.g., "analytics.yourcompany.com") to be used for Convert tracking.
              maxLength: 150
              pattern: ^.+\..+
            status:
              type: string
              description: 'The activation status of the custom domain:

                - `pending`: DNS changes are made, awaiting verification and activation by Convert.

                - `active`: Custom domain is verified and actively being used for tracking.

                '
              readOnly: true
              enum:
              - pending
              - active
            ownership_verification:
              type: array
              nullable: true
              readOnly: true
              description: DNS records and values required to verify ownership of the custom domain. Provided by Convert during setup.
              items:
                $ref: '#/components/schemas/CustomDomainOwnershipVerificationItem'
            version:
              type: string
              description: The version of the custom domain.
              readOnly: true
        environments:
          type: object
          description: 'A user-defined map of environments for this project (e.g., "production", "staging", "development").

            Each environment has its own variant of the tracking script. Experiences are typically configured to run in a specific environment.

            The number of allowed environments depends on the account''s subscription plan.

            KB: "The Environments Feature".

            '
          additionalProperties:
            type: object
            description: Defines a single environment. The key of this object in the parent `environments` map is the environment's machine-readable name (e.g., "production").
            properties:
              label:
                type: string
                description: A user-friendly display name for the environment (e.g., "Production Live Site", "QA Staging Server").
              is_default:
                type: boolean
                description: If true, this environment is considered the default for the project. New experiences might default to this environment if not specified. Only one environment can be the default.
              js:
                type: string
                nullable: true
                description: 'The environment-specific javascript code that will be loaded after the project''s global javascript.

                  When an environment is specified in the request, this code will be appended to the project''s global_javascript with a newline character.

                  '
            required:
            - label
            - is_default
          default:
            production:
              label: Production
              is_default: true
        default_goals:
          type: array
          description: A list of Goal IDs that will be automatically added to any new experience created within this project.
          items:
            $ref: '#/components/schemas/SimpleGoalExpandable'
        default_audiences:
          type: array
          description: A list of Audience IDs that will be automatically added to any new experience created within this project.
          items:
            $ref: '#/components/schemas/SimpleAudienceExpandable'
        default_locations:
          type: array
          description: A list of Location IDs that will be automatically added to any new experience created within this project.
          items:
            $ref: '#/components/schemas/SimpleLocationExpandable'
    SubAccount:
      description: Represents a sub-account, typically managed under a main (often agency) account. It has its own projects but its usage quotas are often derived from the parent account.
      allOf:
      - $ref: '#/components/schemas/SubAccountBase'
      - type: object
        properties:
          accountType:
            type: string
            enum:
            - sub
          parentAccountId:
            description: Parent account ID, if this is a sub-account.
            nullable: true
            type: integer
            readOnly: true
          id:
            readOnly: true
          limitsAndCapabilities:
            allOf:
            - readOnly: true
            - $ref: '#/components/schemas/SubAccountBillingPlanLimitsAndCapabilities'
      - $ref: '#/components/schemas/SubAccountProducts'
    ExperienceIncludeFields:
      type: string
      enum:
      - alerts
      - goals
      - stats
      - variations
      - variations.changes
      - min_running_timestamp
      - max_running_timestamp
      - audiences
      - locations
      - collaborators
    ExperienceBase:
      type: object
      properties:
        description:
          description: An optional, detailed explanation of the experience's purpose, hypothesis, or specific changes being tested.
          type: string
          maxLength: 500
        start_time:
          description: 'Unix timestamp (UTC) indicating when the experience was first activated (status changed to ''active'').

            Null or 0 if the experience has never been started.

            '
          type: integer
          nullable: true
        end_time:
          description: 'Unix timestamp (UTC) indicating when the experience was last stopped (e.g., paused or completed).

            Null or 0 if the experience is currently active or has never been stopped.

            '
          type: integer
          nullable: true
        global_js:
          description: 'Custom JavaScript code that will be executed for all visitors bucketed into this experience, before any variation-specific code is applied.

            Useful for setting up common functionalities or variables needed by multiple variations.

            KB: "Project, Experience, Variation Javascript" - "Global Experience JavaScript".

            '
          type: string
        global_css:
          description: 'Custom CSS rules that will be applied for all visitors bucketed into this experience, before any variation-specific CSS.

            Useful for common styling adjustments needed across all variations.

            '
          type: string
        name:
          type: string
          description: A user-defined, friendly name for the experience (e.g., "Homepage Headline Test", "Checkout Funnel Optimization Q3"). This name is prominent in the Convert UI and reports.
          maxLength: 100
        key:
          description: 'A unique, machine-readable key or identifier for this experience within the project.

            Often auto-generated from the name if not specified, but can be user-defined for easier programmatic reference (e.g., in Full Stack SDKs or API calls).

            Example: "homepage_headline_test_q3".

            '
          type: string
          maxLength: 32
        primary_goal:
          type: integer
          description: 'The ID of the main conversion goal this experience is intended to optimize.

            Performance against this primary goal often determines the "winner" of an A/B test and is highlighted in reports.

            KB: "Experiment Report" - "Primary Goal".

            '
        objective:
          type: string
          nullable: true
          description: 'A detailed statement outlining the objective of this experience. This often includes the hypothesis being tested, the problem it aims to solve, the proposed solution (the variations), and the expected impact on key metrics.

            Connects to the "Hypotheses (Compass)" feature.

            '
          maxLength: 5000
        settings:
          $ref: '#/components/schemas/ExperienceSettings'
        site_area:
          nullable: true
          description: '(Deprecated) The legacy way to define on which pages the experience should run, using a set of include/exclude rules based on URL components or page tags.

            Modern experiences should use the `locations` array instead for more flexible targeting.

            '
          type: object
          properties:
            include:
              type: array
              items:
                $ref: '#/components/schemas/RuleElement'
            exclude:
              type: array
              items:
                $ref: '#/components/schemas/RuleElement'
        traffic_distribution:
          description: 'The percentage of total eligible website traffic (matching audience and location criteria) that will be directed into this entire experience.

            For example, a value of 50 means 50% of eligible visitors will participate, while the other 50% will see the default website content and not be tracked for this experience.

            The traffic within the experience is then further split among its variations based on `variations[].traffic_distribution`.

            KB: "What is an Traffic Distribution?".

            '
          type: number
          minimum: 0
          maximum: 100
          multipleOf: 0.0001
        type:
          $ref: '#/components/schemas/ExperienceTypes'
        url:
          description: 'The primary URL used to load the page in Convert''s Visual Editor when creating or editing this experience''s variations.

            For Split URL tests, this is typically the URL of the original (control) page.

            '
          type: string
          format: uri
          maxLength: 2048
        version:
          description: An internal version number for the experience, incremented upon certain modifications.
          type: number
        integrations:
          type: array
          description: 'A list of configurations for third-party integrations enabled for this experience (e.g., Google Analytics, Hotjar, Mixpanel).

            Each object specifies the `provider` and any provider-specific settings (like a GA Custom Dimension index).

            '
          items:
            anyOf:
            - $ref: '#/components/schemas/ExperienceIntegrationBaidu'
            - $ref: '#/components/schemas/ExperienceIntegrationClicktale'
            - $ref: '#/components/schemas/ExperienceIntegrationClicky'
            - $ref: '#/components/schemas/ExperienceIntegrationCnzz'
            - $ref: '#/components/schemas/ExperienceIntegrationCrazyegg'
            - $ref: '#/components/schemas/ExperienceIntegrationEconda'
            - $ref: '#/components/schemas/ExperienceIntegrationEulerian'
            - $ref: '#/components/schemas/ExperienceIntegrationGoogleAnalytics'
            - $ref: '#/components/schemas/ExperienceIntegrationGosquared'
            - $ref: '#/components/schemas/ExperienceIntegrationHeapanalytics'
            - $ref: '#/components/schemas/ExperienceIntegrationHotjar'
            - $ref: '#/components/schemas/ExperienceIntegrationMicrosoftClarity'
            - $ref: '#/components/schemas/ExperienceIntegrationMixpanel'
            - $ref: '#/components/schemas/ExperienceIntegrationMouseflow'
            - $ref: '#/components/schemas/ExperienceIntegrationPiwik'
            - $ref: '#/components/schemas/ExperienceIntegrationSegmentio'
            - $ref: '#/components/schemas/ExperienceIntegrationSitecatalyst'
            - $ref: '#/components/schemas/ExperienceIntegrationWoopra'
            - $ref: '#/components/schemas/ExperienceIntegrationYsance'
        screenshots_info:
          type: array
          readOnly: true
          description: Information about the generation status and timestamps of screenshots for each variation in this experience. Used by the UI.
          items:
            type: object
            description: Screenshot metadata for a single variation.
            properties:
              variation_id:
                type: number
                description: The ID of the variation.
              in_progress_since:
                type: number
                nullable: true
                description: Unix timestamp (UTC) if screenshot generation is currently in progress for this variation, null otherwise.
              last_taken_screenshot_time:
                type: number
                nullable: true
                description: 'Unix timestamp (UTC) of when the latest screenshot for this variation was successfully captured.

                  Null if no screenshot exists or if generation failed.

                  '
        environments:
          type: array
          deprecated: true
          description: (Deprecated) List of environment names where this experience will run. Use the singular `environment` field instead.
          items:
            type: string
        environment:
          type: string
          description: 'The specific environment (e.g., "production", "staging", "development") within the project where this experience is intended to run.

            This must match one of the environments defined at the project level. If not set, it typically defaults to the project''s default environment (often "production").

            KB: "The Environments Feature".

            '
        concurrency_key:
          $ref: '#/components/schemas/ConcurrencyKey'
    ExperienceIntegrationGA3:
      allOf:
      - $ref: '#/components/schemas/GA_SettingsBase'
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
      - $ref: '#/components/schemas/IntegrationGA3'
      - type: object
        properties:
          custom_dimension:
            type: string
            description: Custom dimension where experience data should be sent to.
    ClicksLinkGoalSettings:
      type: object
      additionalProperties: false
      properties:
        href:
          type: string
          description: 'The exact URL (or a pattern if regex is supported by the `triggering_rule`''s match type for this setting) found in the `href` attribute of the hyperlink(s) to be tracked.

            When a link with this `href` is clicked, the goal triggers.

            The page(s) where the link resides are defined in the goal''s `triggering_rule`.

            '
      required:
      - href
    CountryMatchRule:
      allOf:
      - $ref: '#/components/schemas/BaseRuleWithCountryCodeValue'
      - type: object
        required:
        - rule_type
        properties:
          rule_type:
            $ref: '#/components/schemas/CountryMatchRulesTypes'
          matching:
            allOf:
            - $ref: '#/components/schemas/BaseMatch'
            - type: object
              properties:
                match_type:
                  $ref: '#/components/schemas/ChoiceMatchingOptions'
    BrowserNameMatchRulesTypes:
      type: string
      enum:
      - browser_name
    LocationRuleElement:
      oneOf:
      - $ref: '#/components/schemas/GenericTextMatchRule'
      - $ref: '#/components/schemas/GenericNumericMatchRule'
      - $ref: '#/components/schemas/GenericTextKeyValueMatchRule'
      - $ref: '#/components/schemas/GenericNumericKeyValueMatchRule'
      - $ref: '#/components/schemas/GenericBoolKeyValueMatchRule'
      - $ref: '#/components/schemas/JsConditionMatchRule'
      discriminator:
        propertyName: rule_type
        mapping:
          url: '#/components/schemas/GenericTextMatchRule'
          url_with_query: '#/components/schemas/GenericTextMatchRule'
          query_string: '#/components/schemas/GenericTextMatchRule'
          page_tag_page_type: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_sku: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_price: '#/components/schemas/GenericNumericMatchRule'
          page_tag_customer_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_1: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_2: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_3: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_4: '#/components/schemas/GenericTextMatchRule'
          generic_text_key_value: '#/components/schemas/GenericTextKeyValueMatchRule'
          generic_numeric_key_value: '#/components/schemas/GenericNumericKeyValueMatchRule'
          generic_bool_key_value: '#/components/schemas/GenericBoolKeyValueMatchRule'
          js_condition: '#/components/schemas/JsConditionMatchRule'
    ExperienceIntegrationGA4Base:
      allOf:
      - $ref: '#/components/schemas/GA_SettingsBase'
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
      - $ref: '#/components/schemas/IntegrationGA4Base'
    BaseRuleWithBrowserNameValue:
      allOf:
      - $ref: '#/components/schemas/BaseRule'
      - type: object
        properties:
          value:
            description: Browser name used for matching
            type: string
            enum:
            - chrome
            - microsoft_ie
            - firefox
            - microsoft_edge
            - mozilla
            - opera
            - safari
    UTC_Offset:
      type: integer
      description: 'The time offset from Coordinated Universal Time (UTC) in seconds.

        For example, UTC-5 (EST) would be -18000. UTC+2 would be 7200.

        Used for interpreting or displaying date/time information according to a specific timezone.

        '
      default: 0
      minimum: -43200
      maximum: 50400
    BillingPortal:
      type: object
      description: Authenticated Paddle billing portal URL for the given account.
      properties:
        url:
          type: string
          nullable: true
          format: uri
          description: Authenticated Paddle billing portal URL for to check subscriptions, view or download invoices.
    ExperiencesList:
      type: array
      description: A list of experience objects.
      items:
        $ref: '#/components/schemas/Experience'
    ExperienceVariationBase:
      type: object
      properties:
        name:
          description: A user-defined, friendly name for the variation (e.g., "Original Homepage", "Variation B - Green Button", "Personalized Offer for New Users"). This name appears in reports and the Convert UI.
          type: string
          maxLength: 200
        description:
          description: An optional, more detailed explanation of what this variation entails or what changes it implements compared to the original or other variations.
          type: string
          maxLength: 2000
          nullable: true
        is_baseline:
          type: boolean
          description: 'If `true`, this variation is considered the baseline (control) against which other variations in the experience are compared for performance.

            Typically, the "Original" variation is the baseline. Only one variation per experience can be the baseline.

            Knowledge Base: "What is a Baseline?"

            '
        traffic_distribution:
          description: 'The percentage of eligible traffic allocated to this specific variation.

            The sum of `traffic_distribution` for all active variations within an experience should ideally be 100% of the traffic allocated to the experience itself.

            For Multi-Armed Bandit (MAB) experiences, this value may be dynamically adjusted by the system.

            Knowledge Base: "What is an Traffic Distribution?"

            '
          type: number
          minimum: 0
          maximum: 100
          multipleOf: 0.0001
        key:
          description: 'A unique, machine-readable key or identifier for this variation within the project.

            Often auto-generated from the name if not specified, but can be user-defined for easier programmatic reference (e.g., in Full Stack SDKs).

            Example: "control", "treatment_A".

            '
          type: string
          maxLength: 32
        concurrency_key:
          $ref: '#/components/schemas/ConcurrencyKey'
    ExperienceIntegrationYsance:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
      - type: object
        properties:
          custom_dimension:
            type: string
            description: Custom dimension where experience data should be sent to.
        required:
        - custom_dimension
    VisitorDataExistsMatchRulesTypes:
      type: string
      enum:
      - visitor_data_exists
    ExperienceIntegrationHeapanalytics:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
    SubAccountBase:
      type: object
      description: Base properties common to both main and sub-accounts.
      properties:
        id:
          description: The unique numerical identifier for the account.
          type: integer
          readOnly: true
        accountType:
          $ref: '#/components/schemas/AccountTypes'
        name:
          type: string
          description: The user-defined, friendly name for the account (e.g., "Client X Marketing", "My Company Inc.").
          maxLength: 200
        accessRole:
          allOf:
          - readOnly: true
          - $ref: '#/components/schemas/AccessRoleNames'
        access_all_projects:
          type: boolean
          description: Indicates if the authenticated user has access to all projects within this account by default, or if access is granted on a per-project basis.
          readOnly: true
    MainAccountDetailsBase:
      allOf:
      - $ref: '#/components/schemas/SubAccountDetailsBase'
      - $ref: '#/components/schemas/MainAccountBase'
      - type: object
        description: Account details data
        properties:
          billing:
            description: Billing related data and settings
            type: object
            properties:
              id:
                type: string
                nullable: true
                readOnly: true
                description: id of the account into the billing system
              details:
                description: Account billing details
                type: object
                properties:
                  company:
                    description: Business name
                    type: string
                    nullable: true
                    maxLength: 200
                  tax_code:
                    description: Unique code that identifies business for tax reasons
                    type: string
                    nullable: true
                    maxLength: 200
                  phone:
                    description: Contact phone number
                    type: string
                    nullable: true
                    maxLength: 15
                  address_street:
                    description: Address street name
                    type: string
                    nullable: true
                    maxLength: 200
                  address_city:
                    description: Address city name
                    type: string
                    nullable: true
                    maxLength: 50
                  address_zip:
                    description: Address zip code
                    type: string
                    nullable: true
                    maxLength: 15
                  address_state:
                    description: Address state
                    type: string
                    nullable: true
                    maxLength: 100
                  address_country:
                    description: Address country
                    type: string
                    nullable: true
                    maxLength: 50
                  emails:
                    description: 'List of email addresses that will get billing related notifications(eg: invoices)

                      '
                    type: array
                    items:
                      type: string
                      maxLength: 100
              settings:
                description: Various settings that the user can tweak to control billing
                type: object
                properties:
                  overQuota_charges:
                    description: Flag indicating whether Convert can allow account's usage to go over the included quota and charge extra
                    type: boolean
                  subscription_paused_until:
                    description: Unix timestamp representing the time until which the subscription is paused, in UTC time, null if subscription not in paused mode
                    nullable: true
                    type: number
              payment:
                allOf:
                - $ref: '#/components/schemas/PaymentMethod'
                - nullable: true
          settings:
            type: object
            properties:
              single_sign_on_status:
                type: string
                description: The status of Single Sign On for this account.
                enum:
                - disabled
                - pending-disable
                - pending-enable
                - enabled
    ExperienceIntegrationGA4:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationGA4Base'
      - $ref: '#/components/schemas/IntegrationGA4'
      - type: object
        properties:
          audiences:
            type: object
            description: List of GA audiences created for each of this experience's variations
            additionalProperties:
              type: string
              description: Variation ID is the key, value is the ID of the audience created inside GoogleAnalytics
    OnlyCount:
      type: object
      properties:
        onlyCount:
          type: boolean
          description: 'If set to `true` in a list request, the response will only contain the total count of matching items (`extra.pagination.items_count`)

            and will not include the actual item data. Useful for quickly getting totals without fetching full datasets.

            '
    ExperienceAlert:
      type: object
      properties:
        code:
          type: string
          description: A machine-readable code for the alert type.
          enum:
          - not_in_project
          - max_visitors_reached
          - no_goals_set_up
          - no_visitors_tracked
          - no_conversions_tracked
          - experiments_completed
        title:
          type: string
          description: A short, human-readable title for the alert.
        description:
          type: string
          description: A more detailed explanation of the alert and potential actions to take.
    SuccessData:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    ProjectIntegrationGA4:
      allOf:
      - $ref: '#/components/schemas/ProjectGASettingsBase'
      - $ref: '#/components/schemas/IntegrationGA4'
      - type: object
        properties:
          no_wait_pageview:
            type: boolean
            description: Boolean indicating whether to wait for the page view event to complete before sending other events.
    BaseRuleWithNumericValue:
      allOf:
      - $ref: '#/components/schemas/BaseRule'
      - type: object
        properties:
          value:
            description: The value used to match against 'rule_type' using 'matching'
            type: number
    DayOfWeekMatchRulesTypes:
      type: string
      enum:
      - local_time_day_of_week
      - project_time_day_of_week
    ExperienceUserCustomizations:
      type: array
      description: A list of user-defined key-value pairs for customizing UI elements or behavior related to this experience within the Convert application itself. These do not affect the live experiment seen by visitors.
      items:
        $ref: '#/components/schemas/UserCustomization'
      maxItems: 100
    TrackingScriptReleaseLatest:
      allOf:
      - $ref: '#/components/schemas/TrackingScriptReleaseBase'
      - type: object
        additionalProperties: false
        properties:
          type:
            enum:
            - latest
    ChangeHistoryMethods:
      type: string
      enum:
      - api
      - app
    ExperienceChangeDefaultCodeMultipageDataBase:
      type: object
      description: Defines a standard code-based change that applies to a specific page within a Multi-page Funnel experiment. This allows different code (CSS, JS) to be applied to different steps of the funnel for the same variation.
      allOf:
      - $ref: '#/components/schemas/ExperienceChangeBase'
      - type: object
        properties:
          type:
            enum:
            - defaultCodeMultipage
          data:
            type: object
            description: Describes structure for "defaultCodeMultipage" type of experience change
            additionalProperties: false
            properties:
              css:
                type: string
                nullable: true
                description: CSS code to be applied by this change
              js:
                type: string
                nullable: true
                description: Javascript code generated by the visual editor or written in the same structure, to be applied by this experience change
              custom_js:
                type: string
                description: Custom javascript code to be applied by this change
                nullable: true
              page_id:
                description: The **id** of the page connected to this change.
                type: string
    MinuteOfHourMatchRule:
      allOf:
      - $ref: '#/components/schemas/BaseRuleWithMinuteOfHourValue'
      - type: object
        required:
        - rule_type
        properties:
          rule_type:
            $ref: '#/components/schemas/MinuteOfHourMatchRulesTypes'
          matching:
            allOf:
            - $ref: '#/components/schemas/BaseMatch'
            - type: object
              properties:
                match_type:
                  $ref: '#/components/schemas/NumericMatchingOptions'
    Pagination:
      type: object
      properties:
        current_page:
          description: The current page number being displayed from the paginated set.
          type: integer
          minimum: 1
        items_count:
          description: The total number of items available across all pages for the current filter criteria.
          type: integer
          minimum: 0
        items_per_page:
          description: The number of items included in the current page of results (matches `results_per_page` from the request).
          type: integer
          minimum: 0
        pages_count:
          description: The total number of pages available for the current filter criteria and `results_per_page` setting.
          type: integer
          minimum: 0
    AccountLiveDataRequestData:
      allOf:
      - $ref: '#/components/schemas/AccountLiveDataFilteringOptions'
    CookieMatchRulesTypes:
      type: string
      enum:
      - cookie
    Domain:
      type: object
      description: A website domain data.
      properties:
        id:
          type: integer
          description: Domain ID.
          readOnly: true
        url:
          type: string
          maxLength: 150
          pattern: ^(http|https)://
          description: Domain's homepage url
        code_installed:
          type: boolean
          description: Indicating whether code installed check passed sometimes in the past.
          default: false
    AccountHistoryRequestData:
      allOf:
      - $ref: '#/components/schemas/OnlyCount'
      - $ref: '#/components/schemas/PageNumber'
      - $ref: '#/components/schemas/AccountHistoryFilteringOptions'
    SimpleProjectExpandable:
      oneOf:
      - type: integer
        description: Project ID
      - $ref: '#/components/schemas/SimpleProject'
    ExperienceIntegrationHotjar:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
    MultipageExperiencePage:
      description: Defines a single page within a 'multipage' (funnel) experience.
      allOf:
      - type: object
        properties:
          id:
            description: The ID of the page.
            type: string
            minLength: 1
            maxLength: 2
            pattern: ^[0-9a-z]{1,2}$
          name:
            description: Name of the page
            type: string
            maxLength: 200
          url:
            description: The url of page to load
            type: string
            maxLength: 2048
        additionalProperties: false
    BillingUsageLimitBase:
      type: object
      properties:
        limitValue:
          oneOf:
          - type: integer
            description: 'What is the limits value, "how many" could be used at max


              Describes how system deal with charging upon reaching the usage quota limits

              Eg. limitValue = 500000, overLimitCostPerUnit=199, unitSize=100000 translates into -

              - Max usage that is included in the current plan is 500000

              - after reaching the 500000 included, every additional 100000 will be charged with 199

              '
          - type: string
            enum:
            - unlimited
    LanguageMatchRule:
      allOf:
      - $ref: '#/components/schemas/BaseRuleWithLanguageCodeValue'
      - type: object
        required:
        - rule_type
        properties:
          rule_type:
            $ref: '#/components/schemas/LanguageMatchRulesTypes'
          matching:
            allOf:
            - $ref: '#/components/schemas/BaseMatch'
            - type: object
              properties:
                match_type:
                  $ref: '#/components/schemas/ChoiceMatchingOptions'
    BillingPlanData:
      allOf:
      - type: object
        properties:
          id:
            type: integer
          name:
            description: Plan's name
            type: string
          price:
            description: Subscription price
            type: number
          billingCycleDuration:
            type: string
            description: billing cycle duration in the form of XM or XY where X is a number. Eg. 1M means billing cycle's duration is one month. 2Y would mean billing cycle duration is two years
          contract:
            type: string
            description: The type of the contract needed for this plan.
            enum:
            - pay_as_you_go
            - year
      - $ref: '#/components/schemas/BillingPlanDataBase'
      - $ref: '#/components/schemas/BillingPlanLimitsAndCapabilities'
    ExperienceIntegrationEconda:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
    AudienceTypesNoUrl:
      description: 'Defines the behavior and persistence of an audience that does *not* use URL-based conditions in its rules.

        - `permanent`: Once a visitor matches the audience criteria, they are permanently considered part of this audience for future sessions and evaluations, even if their characteristics change later. The matching is checked only at the initial bucketing time.

        - `transient`: A visitor must match the audience criteria upon each evaluation (e.g., on every page load or when an experiment is rechecked) to be included. If conditions are no longer met, the visitor is no longer part of the audience for that specific evaluation.

        For Full Stack projects, only `transient` and `segmentation` (if applicable without URL rules) are valid.

        '
      type: string
      enum:
      - permanent
      - transient
    AccountLiveDataFilteringOptions:
      allOf:
      - type: object
        properties:
          event_types:
            type: array
            nullable: true
            items:
              $ref: '#/components/schemas/LiveDataEventTypes'
          projects:
            type: array
            nullable: true
            description: List of projects id to get data by
            items:
              type: integer
          segments:
            nullable: true
            allOf:
            - $ref: '#/components/schemas/ReportingSegmentsFilters'
      - $ref: '#/components/schemas/LiveDataExpandParameter'
    VisitorTypeMatchRule:
      allOf:
      - $ref: '#/components/schemas/BaseRuleWithVisitorTypeValue'
      - type: object
        required:
        - rule_type
        properties:
          rule_type:
            $ref: '#/components/schemas/VisitorTypeMatchRulesTypes'
          matching:
            allOf:
            - $ref: '#/components/schemas/BaseMatch'
            - type: object
              properties:
                match_type:
                  $ref: '#/components/schemas/ChoiceMatchingOptions'
    AccountDetails:
      oneOf:
      - $ref: '#/components/schemas/MainAccountDetails'
      - $ref: '#/components/schemas/SubAccountDetails'
      discriminator:
        propertyName: accountType
        mapping:
          main: '#/components/schemas/MainAccountDetails'
          sub: '#/components/schemas/SubAccountDetails'
    ExperienceChangeDefaultRedirectData:
      type: object
      description: Represents a 'defaultRedirect' type change, including its system-assigned ID.
      allOf:
      - $ref: '#/components/schemas/ExperienceChangeIdReadOnly'
      - $ref: '#/components/schemas/ExperienceChangeDefaultRedirectDataBase'
      - type: object
        properties:
          concurrency_key:
            $ref: '#/components/schemas/ConcurrencyKey'
    BaseRuleWithHourOfDayValue:
      allOf:
      - $ref: '#/components/schemas/BaseRule'
      - type: object
        properties:
          value:
            description: Hour of day used for matching
            type: number
            minimum: 0
            maximum: 24
    SE_MabSettings:
      type: object
      description: 'Configuration for Multi-Armed Bandit (MAB) traffic allocation. If `null`, MAB is disabled and manual traffic allocation is used.

        MAB dynamically allocates more traffic to better-performing variations based on the `primary_metric` of the `primary_goal`.

        KB: "Multi-Armed Bandit (MAB) & Auto-Allocation in Convert".

        '
      properties:
        strategy:
          description: 'The MAB algorithm used for dynamic traffic allocation:

            - `epsilon_greedy`: Mostly exploits the best-known variation, but explores others with a small probability (epsilon).

            - `ucb`: Upper Confidence Bound, balances exploration and exploitation based on uncertainty and potential.

            - `thompson_sampling`: (Default) A Bayesian approach that samples from posterior distributions to choose variations.

            '
          type: string
          enum:
          - epsilon_greedy
          - ucb
          - thompson_sampling
          default: thompson_sampling
        exploration_rate:
          description: 'For `epsilon_greedy` strategy, this is the ''epsilon'' value (0 to 1) representing the probability of choosing a random variation for exploration instead of the current best-performing one.

            A higher value means more exploration. Default is often 0.1 or 0.3.

            '
          type: number
          minimum: 0
          maximum: 1
          enum:
          - 0
          - 0.1
          - 0.2
          - 0.3
          - 0.4
          - 0.5
          - 0.6
          - 0.7
          - 0.8
          - 0.9
          - 1
          default: 0.3
    ExpandedExperienceVariationData:
      allOf:
      - $ref: '#/components/schemas/ExperienceVariationBaseExtended'
      - type: object
        properties:
          changes:
            description: An array of changes that this variation would apply.
            type: array
            items:
              oneOf:
              - type: integer
                description: Change ID
              - $ref: '#/components/schemas/ExperienceChange'
    PageNumber:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          description: 'The page number for paginated results. For example, if `results_per_page` is 30, `page: 2` will retrieve items 31-60.

            Defaults to 1 if not specified.

            '
    ExperienceCollaborator:
      type: object
      properties:
        first_name:
          type: string
          description: Collaborator's first name.
        last_name:
          type: string
          nullable: true
          description: Collaborator's last name.
        role:
          type: string
          description: The collaborator's access role within the project or account (e.g., 'Admin', 'Editor').
        user_id:
          type: string
          description: The unique identifier for the collaborator user.
        is_author:
          type: boolean
          description: True if this collaborator is the original creator (author) of the experience.
    LiveDataExpandFields:
      type: string
      enum:
      - custom_segments
      - experiences
      - experiences.variation
      - conversion.goals
      - project
    ExperienceIntegrationMouseflow:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
    ExperienceExpandFields:
      type: string
      enum:
      - project
      - audiences
      - goals
      - locations
      - variations
      - variations.changes
      - tags
    NoSettingsGoal:
      allOf:
      - $ref: '#/components/schemas/GoalBase'
      - type: object
        properties:
          type:
            enum:
            - visits_page
            - code_trigger
    IntegrationGA4:
      allOf:
      - $ref: '#/components/schemas/IntegrationGA4Base'
      - type: object
        properties:
          propertyId:
            type: string
            description: ID of the ga4 property where data will be sent. Used internally for API calls to GoogleAnalytics
    ReportingSegmentsVisitorType:
      type: string
      description: 'Classifies the visitor as either ''new'' or ''returning'' based on their site visit history (tracked by Convert cookies).

        - `new`: First-time visitor to the site (or no existing Convert cookie).

        - `returning`: Visitor has been to the site before.

        Allows report segmentation to compare behavior of new vs. returning users.

        Knowledge Base: "What is a New/Returning Visitor as Defined in an Experiment''s Audience?".

        '
      enum:
      - new
      - returning
    RequestAccountAddonsData:
      type: object
      description: Specifies the add-on to request and optionally, collaborator details if it's for a specific user.
      required:
      - addon
      properties:
        addon:
          $ref: '#/components/schemas/AccountAddonsTypes'
        collaborator_email:
          type: string
          description: Email of the collaborator for whom the add-on is being requested (if applicable).
          maxLength: 100
        collaborator_name:
          type: string
          description: Name of the collaborator for whom the add-on is being requested (if applicable).
          maxLength: 200
    GaGoal:
      allOf:
      - $ref: '#/components/schemas/GoalBase'
      - type: object
        properties:
          type:
            enum:
            - ga_import
          settings:
            $ref: '#/components/schemas/GaGoalSettings'
    ReportingSegmentsCampaign:
      type: string
      description: 'The campaign name associated with the visitor''s session, typically derived from `utm_campaign` URL parameters.

        Allows report segmentation by marketing campaign.

        Knowledge Base: "How Do You Fill Medium, Keyword and Source Name?".

        '
    RuleObjectNoUrl:
      type: object
      nullable: true
      description: 'Similar to `RuleObject`, but the individual `RuleElementNoUrl` conditions within `OR_WHEN` arrays cannot include URL-based matching types.

        Used for ''permanent'' or ''transient'' audiences where URL context is not persistently evaluated or relevant for the audience type.

        '
      properties:
        OR:
          description: An array of AND-blocks.
          type: array
          items:
            type: object
            properties:
              AND:
                description: An array of OR_WHEN-blocks.
                type: array
                items:
                  type: object
                  properties:
                    OR_WHEN:
                      description: An array of individual rule elements that do not involve URL matching.
                      type: array
                      items:
                        $ref: '#/components/schemas/RuleElementNoUrl'
    TrackingScriptReleaseScheduled:
      allOf:
      - $ref: '#/components/schemas/TrackingScriptReleaseBase'
      - type: object
        additionalProperties: false
        properties:
          type:
            enum:
            - scheduled
          automatic_apply_on:
            $ref: '#/components/schemas/TrackingScriptReleaseAutomaticApplyOn'
    MinuteOfHourMatchRulesTypes:
      type: string
      enum:
      - local_time_minute_of_hour
      - project_time_minute_of_hour
    SE_ProcTypes:
      type: string
      description: 'The statistical methodology used for analyzing experiment results and determining winners.

        - `frequentist`: Traditional hypothesis testing approach using p-values and confidence intervals (e.g., T-tests). KB: "Statistical Methods Used".

        - `bayesian`: Bayesian statistical approach providing probabilities of one variation being better than another (e.g., Chance to Win). KB: "Statistical Models in Convert.com''s A/B Testing Platform".

        '
      enum:
      - frequentist
      - bayesian
    SimpleGoal:
      type: object
      properties:
        id:
          description: The unique numerical identifier of the goal.
          type: integer
        name:
          description: The user-defined, friendly name of the goal.
          type: string
    ExperienceIntegrationGoogleAnalytics:
      oneOf:
      - $ref: '#/components/schemas/ExperienceIntegrationGA3'
      - $ref: '#/components/schemas/ExperienceIntegrationGA4'
      discriminator:
        propertyName: type
        mapping:
          ga3: '#/components/schemas/ExperienceIntegrationGA3'
          ga4: '#/components/schemas/ExperienceIntegrationGA4'
    SubAccountStats:
      type: object
      properties:
        stats:
          $ref: '#/components/schemas/AccountGeneralStats'
    PaymentMethodPaypal:
      type: object
      description: PayPal payment method data
      properties:
        method:
          type: string
          enum:
          - paypal
          description: Payment method type identifier
        data:
          type: object
          description: PayPal payment method data (empty for now)
          additionalProperties: false
      required:
      - method
      - data
    LocationTrigger:
      description: 'Defines how and when an experience associated with this location should be activated for a visitor who matches the location''s rules.

        The `type` determines the activation mechanism.

        Knowledge Base: "Locations" - "Dynamic Website Triggers".

        '
      oneOf:
      - $ref: '#/components/schemas/LocationTriggerDomElement'
      - $ref: '#/components/schemas/LocationTriggerCallback'
      - $ref: '#/components/schemas/LocationTriggerManual'
      - $ref: '#/components/schemas/LocationTriggerUponRun'
      discriminator:
        propertyName: type
        mapping:
          dom_element: '#/components/schemas/LocationTriggerDomElement'
          callback: '#/components/schemas/LocationTriggerCallback'
          manual: '#/components/schemas/LocationTriggerManual'
          upon_run: '#/components/schemas/LocationTriggerUponRun'
    LanguageMatchRulesTypes:
      type: string
      enum:
      - language
    LiveDataEventTypes:
      type: string
      enum:
      - view_experience
      - conversion
      - transaction
    Experience:
      allOf:
      - type: object
        properties:
          id:
            type: integer
            description: Experience's ID which identify an experience in the system
          project:
            $ref: '#/components/schemas/ProjectExpandable'
          alerts:
            type: array
            items:
              $ref: '#/components/schemas/ExperienceAlert'
          collaborators:
            type: array
            items:
              $ref: '#/components/schemas/ExperienceCollaborator'
          audiences:
            type: array
            description: The list of audiences for which this experience is supposed to run
            items:
              $ref: '#/components/schemas/AudienceExpandable'
          locations:
            type: array
            description: The list of locations on which this experience is supposed to run
            items:
              $ref: '#/components/schemas/LocationExpandable'
          goals:
            type: array
            description: The list of goals connected to this experience; experience of type deploy does not have goals attached;
            items:
              $ref: '#/components/schemas/GoalExpandable'
          tags:
            type: array
            description: The list of tags connected to this experience
            items:
              $ref: '#/components/schemas/TagExpandable'
          multipage_pages:
            type: array
            description: Only for multipage experience type
            items:
              $ref: '#/components/schemas/MultipageExperiencePage'
          customizations:
            $ref: '#/components/schemas/ExperienceUserCustomizations'
          stats:
            description: Experience's condensed statistics(only for experiences that get access to a report)
            type: object
            properties:
              goal_id:
                description: 'ID of the goal used to calculate the stats. It can be provided in the request or otherwise it defaults to experience''s Primary Goal

                  '
                type: integer
              conversions:
                description: Number of conversions recorded for after this experience was presented, for the primary goal or the goal given inside the request(if any)
                type: integer
              variations_observed_results:
                description: Results observed for each experience's variation
                type: array
                items:
                  type: object
                  properties:
                    variation_id:
                      description: Variation id
                      type: integer
                    improvement:
                      description: Improvement observed over Baseline, as percentage
                      type: number
                    probability_beat_control:
                      description: Calculated probability to beat control. Will be 0 if cannot be calculated yet
                      type: number
                    test_result:
                      description: Result of the statistical test for this variation, compared to the baseline
                      type: string
                      enum:
                      - winner
                      - losing
                      - notConcluded
                      - noChange
                    revenue_per_visitor:
                      description: Calculated revenue per visitor. Applicable for revenue goals, otherwise null.
                      type: number
                      default: null
                    mab_allocation:
                      description: Calculated mab allocation. Applicable for experiences with enabled mab_allocation.
                      type: number
                      default: null
              visitors:
                description: Number of unique visitors tracked for this experience
                type: integer
          variations:
            type: array
            description: 'The list of variations of this experience.


              **Note:** This is the final list of variations so any variation not provided, which was previously connected, would get deleted.

              '
            items:
              $ref: '#/components/schemas/ExperienceVariation'
          status:
            $ref: '#/components/schemas/ExperienceStatuses'
      - $ref: '#/components/schemas/ExperienceBase'
    GoalTriggeredMatchRule:
      allOf:
      - $ref: '#/components/schemas/BaseRuleWithGoalTriggeredValue'
      - type: object
        required:
        - rule_type
        properties:
          rule_type:
            $ref: '#/components/schemas/GoalTriggeredMatchRulesTypes'
          matching:
            allOf:
            - $ref: '#/components/schemas/BaseMatch'
            - type: object
              properties:
                match_type:
                  $ref: '#/components/schemas/ChoiceMatchingOptions'
    CookieMatchRule:
      allOf:
      - $ref: '#/components/schemas/BaseRuleWithStringValue'
      - type: object
        required:
        - rule_type
        properties:
          rule_type:
            $ref: '#/components/schemas/CookieMatchRulesTypes'
          matching:
            allOf:
            - $ref: '#/components/schemas/BaseMatch'
            - type: object
              properties:
                match_type:
                  $ref: '#/components/schemas/CookieMatchingOptions'
          key:
            description: The name of the cookie which value is compared to the given rule value
            type: string
    ExperienceIntegrationMixpanel:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
    ExperienceIntegrationCrazyegg:
      description: 'Configuration for integrating with Crazy Egg. Convert sends experiment and variation data to allow segmentation of Crazy Egg heatmaps and recordings by variation.

        Project-level API key and secret for Crazy Egg might be required for some functionalities (not specified here, but in KB for other tools).

        KB: "Integrate Convert Experiences with Crazy Egg".

        '
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
    ExperienceChangeDefaultRedirectDataBase:
      type: object
      description: Defines a URL redirect, typically used in Split URL experiments. It specifies how to match an original URL and construct the URL for the variation page.
      allOf:
      - $ref: '#/components/schemas/ExperienceChangeBase'
      - type: object
        properties:
          type:
            enum:
            - defaultRedirect
          data:
            type: object
            description: Describes structure for "defaultRedirect" type of experience change
            additionalProperties: false
            properties:
              case_sensitive:
                type: boolean
                description: Defines whether the URL matching is case sensitive or not
              original_pattern:
                type: string
                description: Pattern for matching the Original URL in order to construct the redirect URL
              variation_pattern:
                type: string
                description: String used to construct the variation redirect URL. This string can contain matches from original_url or it can be a standard URL
    BaseRule:
      type: object
      required:
      - rule_type
      properties:
        rule_type:
          description: 'The specific attribute or condition to evaluate. Examples: ''url'', ''cookie'', ''browser_name'', ''js_condition'', ''page_tag_product_price''.

            The allowed `rule_type` values depend on whether the rule is for an Audience (which can use visitor and page content attributes if it''s a ''segmentation'' type) or a Location (typically URL or page tag based).

            '
          type: string
    SegmentBucketedMatchRulesTypes:
      type: string
      enum:
      - bucketed_into_segment
    LocationDomTriggerEvents:
      type: string
      description: 'The type of user interaction with a DOM element that will trigger the experience:

        - `click`: Activates when the element is clicked.

        - `hover`: Activates when the mouse pointer hovers over the element (mouseenter).

        - `in_view`: Activates when the element becomes visible in the browser''s viewport (e.g., user scrolls to it). KB: "Launch Experiments Using Custom JavaScript When Elements Appear in DOM".

        - `change`: Activates when the value of a form element (like input, select, textarea) changes.

        '
      enum:
      - click
      - hover
      - in_view
      - change
    AccessRoleNames:
      type: string
      description: 'The predefined names for user access roles within the Convert system. Each role grants a specific set of permissions.

        - `owner`: Highest level, full control over account, billing, users, and all projects. Typically the account creator.

        - `account_manager`: Broad administrative rights over the account, often including billing and user management, but might not be able to delete the account itself.

        - `admin`: Full control over projects they are assigned to, including creating/editing/deleting experiences, goals, audiences, and managing project settings. May also manage project-level collaborators.

        - `browse`: Read-only access. Can view experiences, reports, and settings but cannot make changes.

        - `edit`: Can create and modify entities like experiences, goals, audiences within assigned projects, but typically cannot activate/publish experiences or manage project settings.

        - `publish`: Can do everything an ''editor'' can, plus activate/pause/complete experiences.

[...]
