openapi: 3.1.0
info:
  title: Convert Accounts Experience Variations API
  description: 'Move your app forward with the Convert API. The Convert API allows

    you to manage your Convert Experiences projects using code. The REST API is

    an interface for managing and extending functionality of Convert. For

    example, instead of creating and maintaining projects using the Convert

    Experiences web dashboard you can create an experiment programmatically.

    Additionally, if you prefer to run custom analysis on experiment results you

    can leverage the API to pull data from Convert Experiences into your own

    workflow. If you do not have a Convert account already, sign up for a free

    developer account at https://www.convert.com/api/.


    *[Convert API V1](/doc/v1) is still available and documentation can be found [here](/doc/v1) but using it is highly discouraged

    as it will be phased out in the future*

    '
  version: 2.0.0
servers:
- url: https://api.convert.com/api/v2
  description: Live API server
- url: https://apidev.convert.com/api/v2
  description: DEV API server
- url: http://apidev.convert.com:5000/api/v2
  description: DEV mocked API server
tags:
- name: Experience Variations
  description: 'Each **Experience** has one or more **Variations** which are presented to different groups of visitor

    in order to monitor the results of different changes or to personalize visitor''s experience

    '
paths:
  /accounts/{account_id}/projects/{project_id}/experiences/{experience_id}/variations/{variation_id}/update:
    put:
      operationId: updateExperienceVariation
      summary: Update an experience variation
      description: 'Modifies an existing variation within an experience.

        This can include changing its name, description, traffic distribution, status (running/stopped), or the actual changes (CSS, JS, HTML modifications) it applies.

        The Knowledge Base article "How do I edit my variations?" covers the UI aspect.

        '
      tags:
      - Experience Variations
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        description: ID of the project to which save/retrieved data is connected
        in: path
        required: true
        schema:
          type: integer
      - name: experience_id
        description: The ID of the updated experience
        in: path
        required: true
        schema:
          type: integer
      - name: variation_id
        description: The ID of the variation to be updated
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/UpdateExperienceVariationRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExperienceVariationResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/projects/{project_id}/experiences/{experience_id}/variations/{variation_id}/delete:
    delete:
      operationId: deleteExperienceVariation
      summary: Delete an experience variation
      description: 'Permanently removes a variation from an experience.

        Note: Deleting variations from an active or previously active experiment can impact statistical validity and is generally discouraged.

        It''s often better to stop traffic to a variation.

        The Knowledge Base article "The Visual Editor in Convert Experiences" (Variations section) mentions: "You cannot delete a variation from an experience that is active or has been previously started and then paused."

        '
      tags:
      - Experience Variations
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        description: ID of the project to which save/retrieved data is connected
        in: path
        required: true
        schema:
          type: integer
      - name: experience_id
        description: The ID of the experience to which the variation belongs
        in: path
        required: true
        schema:
          type: integer
      - name: variation_id
        description: The ID of the variation to be deleted
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/SuccessResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/projects/{project_id}/experiences/{experience_id}/variations/{variation_id}/screenshot:
    get:
      operationId: getExperienceVariationScreenshot
      summary: Get screenshot for an experience variation
      description: 'Retrieves the screenshot image for a specific variation, base64 encoded.

        Screenshots help visualize the changes applied by a variation and are shown in the Convert UI.

        Can request a full-size image or a thumbnail.

        The Knowledge Base article "Whitelist IPs for Screenshot Previews" is related.

        '
      tags:
      - Experience Variations
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        description: ID of the project to which save/retrieved data is connected
        in: path
        required: true
        schema:
          type: integer
      - name: experience_id
        description: The ID of the experience to which the variation belongs
        in: path
        required: true
        schema:
          type: integer
      - name: variation_id
        description: The ID of the variation to be deleted
        in: path
        required: true
        schema:
          type: integer
      - name: size
        description: The size of the returned image, if omitted will return full size
        in: query
        schema:
          type: string
          enum:
          - thumb
      - name: force_download
        description: Flag used to force download instead of inline response
        in: query
        schema:
          type: boolean
      responses:
        '200':
          $ref: '#/components/responses/ImageResponseBase64'
        default:
          $ref: '#/components/responses/ErrorResponse'
    post:
      operationId: uploadExperienceVariationScreenshot
      summary: Upload a screenshot for an experience variation
      description: 'Allows uploading a custom screenshot image for a specific variation.

        This can be useful if automatic screenshot generation fails or if a specific view needs to be captured.

        The uploaded image will be displayed in the Convert UI for this variation.

        '
      tags:
      - Experience Variations
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        description: ID of the project to which save/retrieved data is connected
        in: path
        required: true
        schema:
          type: integer
      - name: experience_id
        description: The ID of the experience to which the variation belongs
        in: path
        required: true
        schema:
          type: integer
      - name: variation_id
        description: The ID of the variation to be deleted
        in: path
        required: true
        schema:
          type: integer
      - name: size
        description: The size of the returned image, if omitted will return full size
        in: query
        schema:
          type: string
          enum:
          - thumb
      - name: force_download
        description: Flag used to force download instead of inline response
        in: query
        schema:
          type: boolean
      requestBody:
        $ref: '#/components/requestBodies/UploadImageNoNameRequest'
      responses:
        '200':
          $ref: '#/components/responses/ImageResponseBase64'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/projects/{project_id}/experiences/{experience_id}/variations/{variation_id}/convert:
    post:
      operationId: convertExperienceVariation
      summary: Convert a winning variation into a new experience (Deploy or A/B)
      description: 'Takes a variation (often a winning one from an A/B test) and creates a new, separate experience from it.

        This new experience can be a ''Deploy'' (to roll out the change to a specific audience) or another ''A/B'' test (to further iterate).

        This is a common step after an A/B test concludes with a winner.

        The Knowledge Base article "What about Deployments?" mentions: "Create a new Deploy from a Variation or Winning Variation from another Experiment".

        '
      tags:
      - Experience Variations
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        description: ID of the project to which save/retrieved data is connected
        in: path
        required: true
        schema:
          type: integer
      - name: experience_id
        description: The ID of the experience to which the variation belongs
        in: path
        required: true
        schema:
          type: integer
      - name: variation_id
        description: The ID of the variation to be converted
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/ConvertExperienceVariationRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExperienceResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
components:
  schemas:
    RuleObjectNoUrl:
      type: object
      nullable: true
      description: 'Similar to `RuleObject`, but the individual `RuleElementNoUrl` conditions within `OR_WHEN` arrays cannot include URL-based matching types.

        Used for ''permanent'' or ''transient'' audiences where URL context is not persistently evaluated or relevant for the audience type.

        '
      properties:
        OR:
          description: An array of AND-blocks.
          type: array
          items:
            type: object
            properties:
              AND:
                description: An array of OR_WHEN-blocks.
                type: array
                items:
                  type: object
                  properties:
                    OR_WHEN:
                      description: An array of individual rule elements that do not involve URL matching.
                      type: array
                      items:
                        $ref: '#/components/schemas/RuleElementNoUrl'
    TrackingScriptReleaseScheduled:
      allOf:
      - $ref: '#/components/schemas/TrackingScriptReleaseBase'
      - type: object
        additionalProperties: false
        properties:
          type:
            enum:
            - scheduled
          automatic_apply_on:
            $ref: '#/components/schemas/TrackingScriptReleaseAutomaticApplyOn'
    ExperienceChangeDefaultCodeDataAdd:
      type: object
      description: Data for creating a new 'defaultCode' type change.
      allOf:
      - $ref: '#/components/schemas/ExperienceChangeIdReadOnly'
      - $ref: '#/components/schemas/ExperienceChangeDefaultCodeDataBase'
      - properties:
          data:
            required:
            - js
            - css
            - custom_js
        required:
        - type
        - data
    GA_SettingsBase:
      type: object
      properties:
        enabled:
          type: boolean
          description: If true, integration with Google Analytics is enabled for this project or experience, allowing experiment data to be sent to GA.
    MinuteOfHourMatchRulesTypes:
      type: string
      enum:
      - local_time_minute_of_hour
      - project_time_minute_of_hour
    CustomDomainOwnershipVerificationItem:
      type: object
      properties:
        name:
          type: string
          description: The name of the DNS record.
        type:
          $ref: '#/components/schemas/DNSRecordTypes'
        value:
          type: string
          description: The value of the DNS record.
    SE_ProcTypes:
      type: string
      description: 'The statistical methodology used for analyzing experiment results and determining winners.

        - `frequentist`: Traditional hypothesis testing approach using p-values and confidence intervals (e.g., T-tests). KB: "Statistical Methods Used".

        - `bayesian`: Bayesian statistical approach providing probabilities of one variation being better than another (e.g., Chance to Win). KB: "Statistical Models in Convert.com''s A/B Testing Platform".

        '
      enum:
      - frequentist
      - bayesian
    SimpleGoal:
      type: object
      properties:
        id:
          description: The unique numerical identifier of the goal.
          type: integer
        name:
          description: The user-defined, friendly name of the goal.
          type: string
    SimpleLocationExpandable:
      anyOf:
      - type: integer
        description: Location ID
      - $ref: '#/components/schemas/SimpleLocation'
    LocationTriggerManual:
      allOf:
      - $ref: '#/components/schemas/LocationTriggerBase'
      - type: object
        properties:
          type:
            type: string
            enum:
            - manual
        additionalProperties: false
    ExperienceIntegrationSitecatalyst:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
      - type: object
        properties:
          evar:
            type: string
            description: Custom dimension where experience data should be sent to.
        required:
        - evar
    ExperienceIntegrationGoogleAnalytics:
      oneOf:
      - $ref: '#/components/schemas/ExperienceIntegrationGA3'
      - $ref: '#/components/schemas/ExperienceIntegrationGA4'
      discriminator:
        propertyName: type
        mapping:
          ga3: '#/components/schemas/ExperienceIntegrationGA3'
          ga4: '#/components/schemas/ExperienceIntegrationGA4'
    LocationTrigger:
      description: 'Defines how and when an experience associated with this location should be activated for a visitor who matches the location''s rules.

        The `type` determines the activation mechanism.

        Knowledge Base: "Locations" - "Dynamic Website Triggers".

        '
      oneOf:
      - $ref: '#/components/schemas/LocationTriggerDomElement'
      - $ref: '#/components/schemas/LocationTriggerCallback'
      - $ref: '#/components/schemas/LocationTriggerManual'
      - $ref: '#/components/schemas/LocationTriggerUponRun'
      discriminator:
        propertyName: type
        mapping:
          dom_element: '#/components/schemas/LocationTriggerDomElement'
          callback: '#/components/schemas/LocationTriggerCallback'
          manual: '#/components/schemas/LocationTriggerManual'
          upon_run: '#/components/schemas/LocationTriggerUponRun'
    LanguageMatchRulesTypes:
      type: string
      enum:
      - language
    LocationStatuses:
      type: string
      description: 'The current status of a location:

        - `active`: The location is active and can be used for targeting experiences.

        - `archived`: The location is archived and no longer available for new experiences, but its definition is preserved. Archived locations can often be cloned.

        Knowledge Base: "Benefits of Archiving Unused Goals, Locations, and Audiences."

        '
      enum:
      - active
      - archived
      default: active
    UpdateExperienceVariationRequestData:
      allOf:
      - $ref: '#/components/schemas/ExperienceVariationBaseExtended'
      - type: object
        properties:
          changes:
            description: 'An array of changes that this variation would apply. Empty array will remove changes.

              '
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/ExperienceChangeId'
              - $ref: '#/components/schemas/ExperienceChangeAdd'
              - $ref: '#/components/schemas/ExperienceChangeUpdate'
    RuleObject:
      type: object
      nullable: true
      description: 'Defines the logical structure for combining multiple rule conditions. It uses a nested OR -> AND -> OR_WHEN structure.

        - The top-level `OR` array means if *any* of its contained AND blocks evaluate to true, the entire rule set is true.

        - Each object within the `OR` array has an `AND` array. For this AND block to be true, *all* of its contained OR_WHEN blocks must evaluate to true.

        - Each object within the `AND` array has an `OR_WHEN` array. For this OR_WHEN block to be true, *any* of its individual `RuleElement` conditions must evaluate to true.

        This structure allows for complex logical expressions like `(CondA AND CondB) OR (CondC AND CondD)`.

        '
      properties:
        OR:
          description: An array of AND-blocks. The overall rule matches if any of these AND-blocks match.
          type: array
          items:
            type: object
            properties:
              AND:
                description: An array of OR_WHEN-blocks. This AND-block matches if all its OR_WHEN-blocks match.
                type: array
                items:
                  type: object
                  properties:
                    OR_WHEN:
                      description: An array of individual rule elements. This OR_WHEN-block matches if any of its rule elements match.
                      type: array
                      items:
                        $ref: '#/components/schemas/RuleElement'
    ScrollPercentageGoal:
      allOf:
      - $ref: '#/components/schemas/GoalBase'
      - type: object
        properties:
          type:
            enum:
            - scroll_percentage
          settings:
            $ref: '#/components/schemas/ScrollPercentageGoalSettings'
    ExperienceChangeFullStackFeatureBase:
      type: object
      description: Defines a change for a Full Stack experiment that involves enabling or configuring a specific 'Feature' and its variables for this variation.
      allOf:
      - $ref: '#/components/schemas/ExperienceChangeBase'
      - type: object
        properties:
          type:
            enum:
            - fullStackFeature
          data:
            type: object
            description: Describes structure for "fullStackFeature" type of experience change
            properties:
              feature_id:
                description: The **id** of the feature connected to this change
                type: integer
              variables_data:
                type: object
                description: A key-value object defined by user which describes the variables values. Where the key is variable name defined in connected feature and value is a variable's value with corresponding type
    WeatherConditionMatchRule:
      allOf:
      - $ref: '#/components/schemas/BaseRuleWithWeatherConditionValue'
      - type: object
        required:
        - rule_type
        properties:
          rule_type:
            $ref: '#/components/schemas/WeatherConditionMatchRulesTypes'
          matching:
            allOf:
            - $ref: '#/components/schemas/BaseMatch'
            - type: object
              properties:
                match_type:
                  $ref: '#/components/schemas/TextMatchingOptions'
    SE_ProcSettings:
      description: Overall settings for the statistical engine processing results for this experience.
      oneOf:
      - $ref: '#/components/schemas/SE_ProcSettingsFrequentist'
      - $ref: '#/components/schemas/SE_ProcSettingsBayesian'
      discriminator:
        propertyName: stats_type
        mapping:
          frequentist: '#/components/schemas/SE_ProcSettingsFrequentist'
          bayesian: '#/components/schemas/SE_ProcSettingsBayesian'
    SubmitsFormGoal:
      allOf:
      - $ref: '#/components/schemas/GoalBase'
      - type: object
        properties:
          type:
            enum:
            - submits_form
          settings:
            $ref: '#/components/schemas/SubmitsFormGoalSettings'
    RuleElement:
      oneOf:
      - $ref: '#/components/schemas/GenericTextMatchRule'
      - $ref: '#/components/schemas/GenericNumericMatchRule'
      - $ref: '#/components/schemas/GenericBoolMatchRule'
      - $ref: '#/components/schemas/GenericTextKeyValueMatchRule'
      - $ref: '#/components/schemas/GenericNumericKeyValueMatchRule'
      - $ref: '#/components/schemas/GenericBoolKeyValueMatchRule'
      - $ref: '#/components/schemas/CookieMatchRule'
      - $ref: '#/components/schemas/CountryMatchRule'
      - $ref: '#/components/schemas/LanguageMatchRule'
      - $ref: '#/components/schemas/GoalTriggeredMatchRule'
      - $ref: '#/components/schemas/SegmentBucketedMatchRule'
      - $ref: '#/components/schemas/DayOfWeekMatchRule'
      - $ref: '#/components/schemas/HourOfDayMatchRule'
      - $ref: '#/components/schemas/MinuteOfHourMatchRule'
      - $ref: '#/components/schemas/BrowserNameMatchRule'
      - $ref: '#/components/schemas/OsMatchRule'
      - $ref: '#/components/schemas/WeatherConditionMatchRule'
      - $ref: '#/components/schemas/VisitorTypeMatchRule'
      - $ref: '#/components/schemas/JsConditionMatchRule'
      discriminator:
        propertyName: rule_type
        mapping:
          url: '#/components/schemas/GenericTextMatchRule'
          url_with_query: '#/components/schemas/GenericTextMatchRule'
          query_string: '#/components/schemas/GenericTextMatchRule'
          campaign: '#/components/schemas/GenericTextMatchRule'
          keyword: '#/components/schemas/GenericTextMatchRule'
          medium: '#/components/schemas/GenericTextMatchRule'
          source_name: '#/components/schemas/GenericTextMatchRule'
          avg_time_page: '#/components/schemas/GenericNumericMatchRule'
          city: '#/components/schemas/GenericTextMatchRule'
          country: '#/components/schemas/CountryMatchRule'
          region: '#/components/schemas/GenericTextMatchRule'
          days_since_last_visit: '#/components/schemas/GenericNumericMatchRule'
          language: '#/components/schemas/LanguageMatchRule'
          pages_visited_count: '#/components/schemas/GenericNumericMatchRule'
          goal_triggered: '#/components/schemas/GoalTriggeredMatchRule'
          visit_duration: '#/components/schemas/GenericNumericMatchRule'
          cookie: '#/components/schemas/CookieMatchRule'
          visitor_type: '#/components/schemas/VisitorTypeMatchRule'
          visits_count: '#/components/schemas/GenericNumericMatchRule'
          bucketed_into_experience: '#/components/schemas/GenericBoolMatchRule'
          bucketed_into_segment: '#/components/schemas/SegmentBucketedMatchRule'
          local_time_day_of_week: '#/components/schemas/DayOfWeekMatchRule'
          local_time_hour_of_day: '#/components/schemas/HourOfDayMatchRule'
          local_time_minute_of_hour: '#/components/schemas/MinuteOfHourMatchRule'
          project_time_day_of_week: '#/components/schemas/DayOfWeekMatchRule'
          project_time_hour_of_day: '#/components/schemas/HourOfDayMatchRule'
          project_time_minute_of_hour: '#/components/schemas/MinuteOfHourMatchRule'
          browser_name: '#/components/schemas/BrowserNameMatchRule'
          browser_version: '#/components/schemas/GenericTextMatchRule'
          os: '#/components/schemas/OsMatchRule'
          user_agent: '#/components/schemas/GenericTextMatchRule'
          is_desktop: '#/components/schemas/GenericBoolMatchRule'
          is_mobile: '#/components/schemas/GenericBoolMatchRule'
          is_tablet: '#/components/schemas/GenericBoolMatchRule'
          js_condition: '#/components/schemas/JsConditionMatchRule'
          page_tag_page_type: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_sku: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_price: '#/components/schemas/GenericNumericMatchRule'
          page_tag_customer_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_1: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_2: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_3: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_4: '#/components/schemas/GenericTextMatchRule'
          weather_condition: '#/components/schemas/WeatherConditionMatchRule'
          generic_text_key_value: '#/components/schemas/GenericTextKeyValueMatchRule'
          generic_numeric_key_value: '#/components/schemas/GenericNumericKeyValueMatchRule'
          generic_bool_key_value: '#/components/schemas/GenericBoolKeyValueMatchRule'
    NumericOutlierMinMax:
      allOf:
      - $ref: '#/components/schemas/NumericOutlierBase'
      - type: object
        additionalProperties: false
        properties:
          detection_type:
            enum:
            - min_max
          min:
            type: number
            description: Minimum value for the outlier detection, under which, the value is considered an outlier
          max:
            type: number
            description: Maximum value for the outlier detection, over which, the value is considered an outlier
    Experience:
      allOf:
      - type: object
        properties:
          id:
            type: integer
            description: Experience's ID which identify an experience in the system
          project:
            $ref: '#/components/schemas/ProjectExpandable'
          alerts:
            type: array
            items:
              $ref: '#/components/schemas/ExperienceAlert'
          collaborators:
            type: array
            items:
              $ref: '#/components/schemas/ExperienceCollaborator'
          audiences:
            type: array
            description: The list of audiences for which this experience is supposed to run
            items:
              $ref: '#/components/schemas/AudienceExpandable'
          locations:
            type: array
            description: The list of locations on which this experience is supposed to run
            items:
              $ref: '#/components/schemas/LocationExpandable'
          goals:
            type: array
            description: The list of goals connected to this experience; experience of type deploy does not have goals attached;
            items:
              $ref: '#/components/schemas/GoalExpandable'
          tags:
            type: array
            description: The list of tags connected to this experience
            items:
              $ref: '#/components/schemas/TagExpandable'
          multipage_pages:
            type: array
            description: Only for multipage experience type
            items:
              $ref: '#/components/schemas/MultipageExperiencePage'
          customizations:
            $ref: '#/components/schemas/ExperienceUserCustomizations'
          stats:
            description: Experience's condensed statistics(only for experiences that get access to a report)
            type: object
            properties:
              goal_id:
                description: 'ID of the goal used to calculate the stats. It can be provided in the request or otherwise it defaults to experience''s Primary Goal

                  '
                type: integer
              conversions:
                description: Number of conversions recorded for after this experience was presented, for the primary goal or the goal given inside the request(if any)
                type: integer
              variations_observed_results:
                description: Results observed for each experience's variation
                type: array
                items:
                  type: object
                  properties:
                    variation_id:
                      description: Variation id
                      type: integer
                    improvement:
                      description: Improvement observed over Baseline, as percentage
                      type: number
                    probability_beat_control:
                      description: Calculated probability to beat control. Will be 0 if cannot be calculated yet
                      type: number
                    test_result:
                      description: Result of the statistical test for this variation, compared to the baseline
                      type: string
                      enum:
                      - winner
                      - losing
                      - notConcluded
                      - noChange
                    revenue_per_visitor:
                      description: Calculated revenue per visitor. Applicable for revenue goals, otherwise null.
                      type: number
                      default: null
                    mab_allocation:
                      description: Calculated mab allocation. Applicable for experiences with enabled mab_allocation.
                      type: number
                      default: null
              visitors:
                description: Number of unique visitors tracked for this experience
                type: integer
          variations:
            type: array
            description: 'The list of variations of this experience.


              **Note:** This is the final list of variations so any variation not provided, which was previously connected, would get deleted.

              '
            items:
              $ref: '#/components/schemas/ExperienceVariation'
          status:
            $ref: '#/components/schemas/ExperienceStatuses'
      - $ref: '#/components/schemas/ExperienceBase'
    GoalTriggeredMatchRule:
      allOf:
      - $ref: '#/components/schemas/BaseRuleWithGoalTriggeredValue'
      - type: object
        required:
        - rule_type
        properties:
          rule_type:
            $ref: '#/components/schemas/GoalTriggeredMatchRulesTypes'
          matching:
            allOf:
            - $ref: '#/components/schemas/BaseMatch'
            - type: object
              properties:
                match_type:
                  $ref: '#/components/schemas/ChoiceMatchingOptions'
    CookieMatchRule:
      allOf:
      - $ref: '#/components/schemas/BaseRuleWithStringValue'
      - type: object
        required:
        - rule_type
        properties:
          rule_type:
            $ref: '#/components/schemas/CookieMatchRulesTypes'
          matching:
            allOf:
            - $ref: '#/components/schemas/BaseMatch'
            - type: object
              properties:
                match_type:
                  $ref: '#/components/schemas/CookieMatchingOptions'
          key:
            description: The name of the cookie which value is compared to the given rule value
            type: string
    ExperienceIntegrationMixpanel:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
    NumericOutlierNone:
      allOf:
      - $ref: '#/components/schemas/NumericOutlierBase'
      - type: object
        additionalProperties: false
        properties:
          detection_type:
            enum:
            - none
    SimpleGoalExpandable:
      oneOf:
      - type: integer
        description: Goal ID
      - $ref: '#/components/schemas/SimpleGoal'
    JsConditionMatchRulesTypes:
      type: string
      enum:
      - js_condition
    IntegrationGA3:
      type: object
      properties:
        type:
          enum:
          - ga3
        property_UA:
          type: string
          maxLength: 150
          nullable: true
          description: The Universal Analytics Property ID (e.g., "UA-XXXXXXXX-Y") to which Convert experiment data will be sent.
    VisitorTypeMatchRulesTypes:
      type: string
      enum:
      - visitor_type
    LocationTriggerTypes:
      type: string
      default: upon_run
      description: 'Specifies the mechanism that activates an experience when its location rules are met:

        - `upon_run`: (Default) The experience activates as soon as the Convert tracking script loads and evaluates that the visitor matches the location''s rules (e.g., URL match). This is the standard behavior for most A/B tests.

        - `manual`: The experience only activates when explicitly triggered by a JavaScript call (`window._conv_q.push({ what: ''triggerLocation'', params: { locationId: ''...'' } })`). Gives precise programmatic control over activation.

        - `dom_element`: The experience activates upon a specific user interaction (e.g., ''click'', ''hover'', ''in_view'', ''change'') with a defined DOM element (identified by a CSS `selector`). Useful for testing changes related to interactive elements.

        - `callback`: The experience activates when a custom JavaScript `callback` function (provided in `js`) calls the `activate()` function passed to it. Allows for complex asynchronous activation logic, e.g., after an API response or a specific SPA state change.

        Note: For Full Stack projects, `upon_run` is effectively the only mode, as activation is handled by the SDK.

        '
      enum:
      - upon_run
      - manual
      - dom_element
      - callback
    ConvertExperienceVariationRequestData:
      description: Request parameters for converting an existing variation into a new, standalone experience.
      type: object
      properties:
        experience_type:
          allOf:
          - type: string
            description: Type of the experience to be converted to
          - $ref: '#/components/schemas/ConvertibleExperienceTypes'
    ExperienceChangeId:
      description: Represents the unique identifier of an existing change within an experience variation. Used when updating or referencing a specific change.
      type: object
      additionalProperties: false
      properties:
        id:
          description: The unique numerical identifier for this specific change.
          type: integer
      required:
      - id
    ExperienceIntegrationBaidu:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
      - type: object
        properties:
          custom_dimension:
            type: string
            description: Custom dimension where experience data should be sent to.
        required:
        - custom_dimension
    BaseRuleWithVisitorTypeValue:
      allOf:
      - $ref: '#/components/schemas/BaseRule'
      - type: object
        properties:
          value:
            description: Type of the visitors
            type: string
            enum:
            - new
            - returning
    ClicksLinkGoal:
      allOf:
      - $ref: '#/components/schemas/GoalBase'
      - type: object
        properties:
          type:
            enum:
            - clicks_link
          settings:
            $ref: '#/components/schemas/ClicksLinkGoalSettings'
    AudienceWithUrlMatching:
      allOf:
      - $ref: '#/components/schemas/AudienceBase'
      - type: object
        properties:
          type:
            $ref: '#/components/schemas/AudienceTypesWithUrl'
          rules:
            nullable: true
            allOf:
            - $ref: '#/components/schemas/RuleObjectAudience'
    ExperienceIntegrationCrazyegg:
      description: 'Configuration for integrating with Crazy Egg. Convert sends experiment and variation data to allow segmentation of Crazy Egg heatmaps and recordings by variation.

        Project-level API key and secret for Crazy Egg might be required for some functionalities (not specified here, but in KB for other tools).

        KB: "Integrate Convert Experiences with Crazy Egg".

        '
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
    ErrorData:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        fields:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
    ExperienceChangeDefaultRedirectDataBase:
      type: object
      description: Defines a URL redirect, typically used in Split URL experiments. It specifies how to match an original URL and construct the URL for the variation page.
      allOf:
      - $ref: '#/components/schemas/ExperienceChangeBase'
      - type: object
        properties:
          type:
            enum:
            - defaultRedirect
          data:
            type: object
            description: Describes structure for "defaultRedirect" type of experience change
            additionalProperties: false
            properties:
              case_sensitive:
                type: boolean
                description: Defines whether the URL matching is case sensitive or not
              original_pattern:
                type: string
                description: Pattern for matching the Original URL in order to construct the redirect URL
              variation_pattern:
                type: string
                description: String used to construct the variation redirect URL. This string can contain matches from original_url or it can be a standard URL
    CollapsedExperienceVariationData:
      allOf:
      - type: object
        properties:
          id:
            description: Variation unique ID
            type: integer
      - type: object
        properties:
          changes:
            description: An array of changes that this variation would apply.
            type: array
            items:
              oneOf:
              - type: integer
                description: Change ID
              - $ref: '#/components/schemas/ExperienceChange'
    ScrollPercentageGoalSettings:
      type: object
      additionalProperties: false
      properties:
        percentage:
          type: number
          description: The scroll depth percentage (e.g., 25, 50, 75, 100) that a visitor must reach on a page for this goal to trigger. The page(s) are defined in the goal's `triggering_rule`.
      required:
      - percentage
    LocationExpandable:
      anyOf:
      - type: integer
        description: Location ID
      - $ref: '#/components/schemas/Location'
    AudienceExpandable:
      anyOf:
      - type: integer
        description: Audience ID
      - $ref: '#/components/schemas/Audience'
    BaseRule:
      type: object
      required:
      - rule_type
      properties:
        rule_type:
          description: 'The specific attribute or condition to evaluate. Examples: ''url'', ''cookie'', ''browser_name'', ''js_condition'', ''page_tag_product_price''.

            The allowed `rule_type` values depend on whether the rule is for an Audience (which can use visitor and page content attributes if it''s a ''segmentation'' type) or a Location (typically URL or page tag based).

            '
          type: string
    GenericTextKeyValueMatchRulesTypes:
      type: string
      enum:
      - generic_text_key_value
    ProjectStatuses:
      description: 'The overall status of a project:

        - `active`: The project is active, and experiences within it can run and track data.

        - `inactive`: The project is inactive (archived or paused). No experiences within it will run, and no new data will be tracked.

        - `suspended`: The project (or account) has been suspended, typically due to billing issues or terms of service violations. Services are disabled.

        '
      type: string
      enum:
      - active
      - inactive
      - suspended
    TagExpandable:
      description: Represents a tag, either as its unique ID or as the full tag object (ID, name, description) if expanded.
      oneOf:
      - type: integer
        description: Tag ID
      - $ref: '#/components/schemas/Tag'
    ExperienceVariationStatuses:
      type: string
      enum:
      - stopped
      - running
    ExperienceChangeIdReadOnly:
      description: Represents the unique identifier of a change, typically when returned by the API after creation or in a list.
      type: object
      properties:
        id:
          description: The unique numerical identifier for this specific change.
          type: integer
          readOnly: true
    ExperienceChangeBase:
      description: The fundamental structure representing a single modification applied within an experience's variation. The specific content and behavior of the change are determined by its `type` and detailed in the `data` object.
      type: object
      properties:
        type:
          type: string
          enum:
          - richStructure
          - customCode
          - defaultCode
          - defaultCodeMultipage
          - defaultRedirect
          - fullStackFeature
        data:
          description: 'A flexible object containing the specific details and content for this change, structured according to the change `type`.

            For example, for `customCode`, it would contain `js` and `css` strings. For `defaultRedirect`, it would contain `original_pattern` and `variation_pattern`.

            This field is included by default when fetching a single `ExperienceChange` but might be omitted in list views unless specified in an `include` parameter.

            '
          type: object
    SegmentBucketedMatchRulesTypes:
      type: string
      enum:
      - bucketed_into_segment
    LocationDomTriggerEvents:
      type: string
      description: 'The type of user interaction with a DOM element that will trigger the experience:

        - `click`: Activates when the element is clicked.

        - `hover`: Activates when the mouse pointer hovers over the element (mouseenter).

        - `in_view`: Activates when the element becomes visible in the browser''s viewport (e.g., user scrolls to it). KB: "Launch Experiments Using Custom JavaScript When Elements Appear in DOM".

        - `change`: Activates when the value of a form element (like input, select, textarea) changes.

        '
      enum:
      - click
      - hover
      - in_view
      - change
    Audience:
      oneOf:
      - $ref: '#/components/schemas/AudienceWithoutUrlMatching'
      - $ref: '#/components/schemas/AudienceWithUrlMatching'
      discriminator:
        propertyName: type
        mapping:
          permanent: '#/components/schemas/AudienceWithoutUrlMatching'
          segmentation: '#/components/schemas/AudienceWithUrlMatching'
          transient: '#/components/schemas/AudienceWithoutUrlMatching'
    GA_Settings:
      oneOf:
      - $ref: '#/components/schemas/ProjectIntegrationGA3'
      - $ref: '#/components/schemas/ProjectIntegrationGA4'
      discriminator:
        propertyName: type
        mapping:
          ga3: '#/components/schemas/ProjectIntegrationGA3'
          ga4: '#/components/schemas/ProjectIntegrationGA4'
    AccessRoleNames:
      type: string
      description: 'The predefined names for user access roles within the Convert system. Each role grants a specific set of permissions.

        - `owner`: Highest level, full control over account, billing, users, and all projects. Typically the account creator.

        - `account_manager`: Broad administrative rights over the account, often including billing and user management, but might not be able to delete the account itself.

        - `admin`: Full control over projects they are assigned to, including creating/editing/deleting experiences, goals, audiences, and managing project settings. May also manage project-level collaborators.

        - `browse`: Read-only access. Can view experiences, reports, and settings but cannot make changes.

        - `edit`: Can create and modify entities like experiences, goals, audiences within assigned projects, but typically cannot activate/publish experiences or manage project settings.

        - `publish`: Can do everything an ''editor'' can, plus activate/pause/complete experiences.

        - `review`: Can view and comment, but not make direct changes. Suited for stakeholders who need to approve or provide feedback.

        Knowledge Base: "Collaborators - Share With Multiple Users / Accounts" (describes access levels).

        '
      enum:
      - owner
      - account_manager
      - admin
      - browse
      - edit
      - publish
      - review
    UserCustomization:
      description: A generic key-value pair for storing miscellaneous user-specific UI customizations or settings not covered by structured preferences.
      type: object
      properties:
        key:
          type: string
          maxLength: 20
        value:
          nullable: true
          oneOf:
          - type: string
            maxLength: 20
          - type: number
          - type: boolean
      required:
      - key
      - value
    BaseProject:
      type: object
      properties:
        global_javascript:
          type: string
          nullable: true
          description: 'Custom JavaScript code that will be included on all pages where this project''s tracking script is installed.

            This script runs before any experience-specific code, making it suitable for global helper functions, third-party integrations setup (like analytics), or defining global variables.

            KB: "Project, Experience, Variation Javascript" - "Global Project JavaScript".

            '
        name:
          type: string
          maxLength: 200
          description: A user-defined, friendly name for the project (e.g., "Main Website Optimization", "Q3 Marketing Campaigns", "Mobile App Features").
        project_type:
          type: string
          description: 'The type of project, determining its capabilities and how it''s used:

            - `web`: For traditional website A/B testing, MVT, Split URL, personalization, and deploys using the client-side JavaScript tracking snippet.

            - `fullstack`: For server-side experiments, feature flagging, and mobile app testing using Convert''s Full Stack SDKs.

            KB: "Full Stack Experiments on Convert".

            '
          enum:
          - web
          - fullstack
          default: web
        reporting_settings:
          allOf:
          - type: object
            description: Project settings used for reporting
            properties:
              tested_visitors_quota:
                type: integer
                minimum: 0
                description: Maximum number of tested visitors that is allowed to go through this project in a billing cycle. After that number has been reached, no experiences that have influence over tested visitors will run in this project.
              currency_symbol:
                type: string
                description: Currency symbol used in the reporting.
                maxLength: 10
              blocked_ips:
                type: object
                nullable: true
                properties:
                  single:
                    type: array
                    description: List of single ip addresses blocked.
                    items:
                      type: object
                      minProperties: 1
                      properties:
                        value:
                          type: string
                          format: ip-address
                        name:
                          type: string
                          nullable: true
                          maxLength: 64
                      required:
                      - value
                  range:
                    type: array
                    description: List of ip addresses range.
                    items:
                      type: object
                      minProperties: 1
                      properties:
                        start:
                          type: string
                          format: ip-address
                          description: Starts from ip.
                        end:
                          type: string
                          format: ip-address
                          description: Ends with ip.
                        name:
                          type: string
                          nullable: true
                          maxLength: 64
                      required:
                      - start
                      - end
                description: A list of blocked IPs that are not allowed to be counted in the reports
              stop_tracking_goals_after_days:
                type: string
                description: 'Defines goals tracking life time: goals won''t be tracking after specified days unless used in active experiments.'
                enum:
                - 'OFF'
                - 1 day
                - 15 days
                - 30 days
                - 60 days
              smart_recommendations:
                type: boolean
                default: true
                description: 'Whether to run or not Smart Recommendations.

                  '
              keep_running_until_confidence:
                type: boolean
                description: 'If true, experiments do not auto-complete when planned sample size (100% progress) is reached alone.

                  They only auto-complete when both planned sample size is reached and the confidence threshold is met.

                  If false, experiments complete automatically when planned sample size is reached, regardless of confidence level.

                  Default depends on automation toggle: when keep_winner or stop_loser is enabled, default is true; otherwise false.

                  '
          - $ref: '#/components/schemas/ExperienceReportingSettings'
        settings:
          type: object
          description: General operational settings for the project.
          properties:
            allow_crossdomain_tracking:
              type: boolean
              description: 'If true, enables automatic passing of Convert tracking cookies (`_conv_v`, `_conv_s`) as URL parameters when visitors navigate between different domains listed in this project''s `Active Websites`.

                Essential for maintaining consistent visitor identity and experiment bucketing across multiple domains (e.g., main site to a separate checkout domain).

                KB: "Cookies and Cross-Domain Testing".

                '
            allow_gdpr:
              type: boolean
              description: 'If true, displays GDPR-related warnings in the Convert UI for settings or features that might have privacy implications (e.g., using certain audience conditions, enabling cross-domain tracking).

                KB: "GDPR warnings".

                '
            data_anonymization:
              type: boolean
              description: 'If true, masks the names of experiences, variations, segments, and goals in the public JavaScript tracking snippet and in data sent to some third-party integrations.

                Instead of names, their numerical IDs are used. Enhances privacy by preventing public disclosure of experiment details.

                KB: "Prevent Experiment Details Data Leak with Data Anonymization".

                '
            do_not_track:
              type: string
              enum:
              - 'OFF'
              - EU ONLY
              - EEA ONLY
              - Worldwide
              description: 'Configures if and how the project respects the "Do Not Track" (DNT) browser setting sent by visitors.

                - `OFF`: DNT signals are ignored.

                - `EU ONLY`: Respects DNT for visitors from EU countries.

                - `EEA ONLY`: Respects DNT for visitors from European Economic Area countries.

                - `Worldwide`: Respects DNT for all visitors globally.

                If respected, the Convert script may not load or track for visitors with DNT enabled.

                KB: "Respect Browser Do Not Track Setting".

                '
            global_privacy_control:
              type: string
              enum:
              - 'OFF'
              - EU ONLY
              - EEA ONLY
              - Worldwide
              description: 'Configures if and how the project respects Global Privacy Control (GPC) signals sent by visitors'' browsers.

                Options are similar to `do_not_track`. If respected, data collection and tracking may be limited.

                KB: "Respect Browser Do Not Track Setting" - "Global Privacy Control (GPC)".

                '
            include_jquery:
              type: boolean
              description: '(For legacy tracking script) If true, Convert''s tracking script will include its own version of the jQuery library.

                If your website already loads jQuery, set this to false to avoid loading it twice and improve page performance. Ensure your site''s jQuery loads before the Convert script.

                KB: "Do not include jQuery into the tracking scripts".

                '
            include_jquery_v1:
              type: boolean
              default: false
              description: '(For new v1 tracking script) If true, includes a jQuery-compatible API within the Convert script, even though the core script is jQuery-independent.

                Set to true if your variation code or global JS relies on `convert.$()` syntax and your site doesn''t globally provide jQuery.

                The new script itself does not require jQuery to function.

                '
            disable_spa_functionality:
              type: boolean
              default: false
              description: 'If true, disables Convert''s built-in optimizations and automatic handling for Single Page Applications (SPAs).

                Most SPAs work well with default SPA functionality enabled. Only disable if encountering specific conflicts or issues.

                KB: "SPA Optimizations", "Running Experiments on Single Page Apps".

                '
            do_not_track_referral:
              type: boolean
              default: false
              description: 'If true, Convert will not store referral data (like HTTP referrer or UTM parameters) in visitor cookies for use across subsequent pages or sessions.

                Referral data will still be used for targeting on the initial page view where it''s present.

                '
            time_zone:
              type: string
              description: 'The primary timezone for this project (e.g., "America/New_York", "Europe/London", "UTC").

                This timezone is used for scheduling experiences, interpreting time-based audience conditions (like ''hour of day - project_tz''), and displaying timestamps in reports.

                '
            utc_offset:
              $ref: '#/components/schemas/UTC_Offset'
            time_format:
              type: string
              description: Preferred time format for display within the Convert application UI for this project (12-hour or 24-hour).
              enum:
              - 12h
              - 24h
            debug_token:
              $ref: '#/components/schemas/GenerateDebugTokenData'
            disable_default_config:
              type: boolean
              default: false
              description: '(For Full Stack projects) If true, disables the default public configuration endpoint for this project.

                Access to project configuration via SDKs would then strictly require an authenticated SDK key. Enhances security for Full Stack projects.

                '
            include_experience_collaborators:
              type: boolean
              default: false
              description: 'If true, experience details retrieved via API will include information about the experience owner and collaborators.

                KB: "Assign Visible Owners and Collaborators to Experiences".

                '
            version:
              type: string
              maxLength: 50
              nullable: true
              readOnly: true
              description: 'An internal version identifier for the project''s configuration.

                This version string changes whenever a modification is made that affects the tracking script''s content (e.g., updating an experience, goal, or project setting).

                Format: [ISO_datetime]-[incremental_number].

                '
            legacy_script:
              type: boolean
              default: false
              description: 'If true, this project is configured to use Convert''s legacy tracking script.

                If false, it uses the newer, more performant v1 tracking script.

                New projects default to `false`. Existing projects retain their current script setting.

                KB: "How to Install the Main Tag / Convert Tracking Code / JavaScript" - "The Tracking Script vs Legacy Tracking Script".

                '
            ignore_unused_locations:
              type: boolean
              default: false
              description: 'If true, locations that are not currently associated with any active experiences will be excluded from the tracking script data downloaded by visitors.

                This can help reduce snippet size and improve performance.

                KB: "Benefits of Archiving Unused Goals, Locations, and Audiences." (Related concept for goals).

                '
            personalization:
              type: object
              nullable: true
              description: Personalization settings.
              properties:
                enabled:
                  type: boolean
                  default: false
                  description: Indicates whether personalization is enabled for this project.
            tracking_script:
              type: object
              description: 'Settings related to the management and versioning of the Convert tracking script for this project.

                Allows choosing a release strategy (manual, latest, scheduled) and viewing available/applied script versions.

                KB: "Tracking Script Version Management".

                '
              additionalProperties: false
              nullable: true
              properties:
                current_version:
                  description: The version string of the tracking script currently active for this project (e.g., "v2.11.3").
                  type: string
                previous_version:
                  type: string
                  description: The version string of the tracking script that was active before the `current_version`. Only available if a rollback is possible (manual mode).
                  nullable: true
                  readOnly: true
                available_versions:
                  $ref: '#/components/schemas/TrackingScriptAvailableVersions'
                release:
                  $ref: '#/components/schemas/TrackingScriptRelease'
            visitor_insights:
              allOf:
              - $ref: '#/components/schemas/VisitorInsightsBase'
              - type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Id of the visitor insights
                    nullable: true
              description: 'Settings for Convert Signals™ (Visitor Insights), which captures sessions with user frustration signals.

                KB: "Understanding Convert Signals™ and signals.observer.min.js script in Convert".

                '
        integrations_settings:
          type: object
          description: Project-wide settings for various third-party integrations (e.g., Google Analytics, Crazy Egg, Hotjar). Experience-level settings can sometimes override these.
          properties:
            crazyegg:
              description: 'Settings for Crazy Egg integration. Requires API key and secret for certain functionalities like automatically creating snapshots for variations.

                KB: "Integrate Convert Experiences with Crazy Egg".

                '
              properties:
                api_key:
                  type: string
                  maxLength: 100
                  nullable: true
                  description: Crazy Egg API key for this project.
                api_secret:
                  type: string
                  maxLength: 100
                  nullable: true
                  description: Crazy Egg API secret. Not returned in GET requests for security.
            google_analytics:
              $ref: '#/components/schemas/GA_Settings'
            kissmetrics:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: If true, enables sending of Convert experiment data to Kissmetrics for this project.
            hotjar:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: If true, enables sending of Convert experiment data (as tags) to Hotjar for this project.
        status:
          $ref: '#/components/schemas/ProjectStatuses'
        custom_domain:
          type: object
          nullable: true
          description: 'Configuration for using a custom domain (CNAME) to serve the Convert tracking script and receive tracking data.

            This can improve branding and potentially reduce issues with ad blockers or third-party cookie restrictions.

            Requires DNS setup.

            '
          required:
          - domain
          properties:
            domain:
              type: string
              description: The custom domain name (e.g., "analytics.yourcompany.com") to be used for Convert tracking.
              maxLength: 150
              pattern: ^.+\..+
            status:
              type: string
              description: 'The activation status of the custom domain:

                - `pending`: DNS changes are made, awaiting verification and activation by Convert.

                - `active`: Custom domain is verified and actively being used for tracking.

                '
              readOnly: true
              enum:
              - pending
              - active
            ownership_verification:
              type: array
              nullable: true
              readOnly: true
              description: DNS records and values required to verify ownership of the custom domain. Provided by Convert during setup.
              items:
                $ref: '#/components/schemas/CustomDomainOwnershipVerificationItem'
            version:
              type: string
              description: The version of the custom domain.
              readOnly: true
        environments:
          type: object
          description: 'A user-defined map of environments for this project (e.g., "production", "staging", "development").

            Each environment has its own variant of the tracking script. Experiences are typically configured to run in a specific environment.

            The number of allowed environments depends on the account''s subscription plan.

            KB: "The Environments Feature".

            '
          additionalProperties:
            type: object
            description: Defines a single environment. The key of this object in the parent `environments` map is the environment's machine-readable name (e.g., "production").
            properties:
              label:
                type: string
                description: A user-friendly display name for the environment (e.g., "Production Live Site", "QA Staging Server").
              is_default:
                type: boolean
                description: If true, this environment is considered the default for the project. New experiences might default to this environment if not specified. Only one environment can be the default.
              js:
                type: string
                nullable: true
                description: 'The environment-specific javascript code that will be loaded after the project''s global javascript.

                  When an environment is specified in the request, this code will be appended to the project''s global_javascript with a newline character.

                  '
            required:
            - label
            - is_default
          default:
            production:
              label: Production
              is_default: true
        default_goals:
          type: array
          description: A list of Goal IDs that will be automatically added to any new experience created within this project.
          items:
            $ref: '#/components/schemas/SimpleGoalExpandable'
        default_audiences:
          type: array
          description: A list of Audience IDs that will be automatically added to any new experience created within this project.
          items:
            $ref: '#/components/schemas/SimpleAudienceExpandable'
        default_locations:
          type: array
          description: A list of Location IDs that will be automatically added to any new experience created within this project.
          items:
            $ref: '#/components/schemas/SimpleLocationExpandable'
    ClicksElementGoal:
      allOf:
      - $ref: '#/components/schemas/GoalBase'
      - type: object
        properties:
          type:
            enum:
            - clicks_element
          settings:
            $ref: '#/components/schemas/ClicksElementGoalSettings'
    Tag:
      type: object
      description: 'Represents a tag (keyword or label) that can be associated with various Convert entities like experiences, goals, audiences, hypotheses, and observations.

        Tags help organize and categorize these entities for easier filtering, searching, and management.

        Knowledge Base: "Adding tags to your Experiences".

        '
      properties:
        id:
          type: integer
          readOnly: true
          description: The unique numerical identifier for the tag.
        name:
          type: string
          description: The user-defined name of the tag (e.g., "Q3 Campaigns", "Homepage Tests", "High Priority", "Mobile Specific"). This is the primary identifier shown in the UI.
          maxLength: 100
        description:
          type: string
          description: (Optional) A brief explanation of the tag's purpose or the criteria for its application.
          maxLength: 200
          nullable: true
    BaseRuleWithCountryCodeValue:
      allOf:
      - $ref: '#/components/schemas/BaseRule'
      - type: object
        properties:
          value:
            description: The 2 letter ISO country code used for matching
            type: string
            minLength: 2
            maxLength: 2
    SimpleLocation:
      type: object
      properties:
        id:
          type: integer
          description: The unique numerical identifier of the location.
          readOnly: true
        name:
          type: string
          description: The user-defined, friendly name of the location.
          maxLength: 100
    ExperienceVariation:
      anyOf:
      - type: integer
        description: Variation ID
      - $ref: '#/components/schemas/CollapsedExperienceVariationData'
      - $ref: '#/components/schemas/ExpandedExperienceVariationData'
    ExperienceBase:
      type: object
      properties:
        description:
          description: An optional, detailed explanation of the experience's purpose, hypothesis, or specific changes being tested.
          type: string
          maxLength: 500
        start_time:
          description: 'Unix timestamp (UTC) indicating when the experience was first activated (status changed to ''active'').

            Null or 0 if the experience has never been started.

            '
          type: integer
          nullable: true
        end_time:
          description: 'Unix timestamp (UTC) indicating when the experience was last stopped (e.g., paused or completed).

            Null or 0 if the experience is currently active or has never been stopped.

            '
          type: integer
          nullable: true
        global_js:
          description: 'Custom JavaScript code that will be executed for all visitors bucketed into this experience, before any variation-specific code is applied.

            Useful for setting up common functionalities or variables needed by multiple variations.

            KB: "Project, Experience, Variation Javascript" - "Global Experience JavaScript".

            '
          type: string
        global_css:
          description: 'Custom CSS rules that will be applied for all visitors bucketed into this experience, before any variation-specific CSS.

            Useful for common styling adjustments needed across all variations.

            '
          type: string
        name:
          type: string
          description: A user-defined, friendly name for the experience (e.g., "Homepage Headline Test", "Checkout Funnel Optimization Q3"). This name is prominent in the Convert UI and reports.
          maxLength: 100
        key:
          description: 'A unique, machine-readable key or identifier for this experience within the project.

            Often auto-generated from the name if not specified, but can be user-defined for easier programmatic reference (e.g., in Full Stack SDKs or API calls).

            Example: "homepage_headline_test_q3".

            '
          type: string
          maxLength: 32
        primary_goal:
          type: integer
          description: 'The ID of the main conversion goal this experience is intended to optimize.

            Performance against this primary goal often determines the "winner" of an A/B test and is highlighted in reports.

            KB: "Experiment Report" - "Primary Goal".

            '
        objective:
          type: string
          nullable: true
          description: 'A detailed statement outlining the objective of this experience. This often includes the hypothesis being tested, the problem it aims to solve, the proposed solution (the variations), and the expected impact on key metrics.

            Connects to the "Hypotheses (Compass)" feature.

            '
          maxLength: 5000
        settings:
          $ref: '#/components/schemas/ExperienceSettings'
        site_area:
          nullable: true
          description: '(Deprecated) The legacy way to define on which pages the experience should run, using a set of include/exclude rules based on URL components or page tags.

            Modern experiences should use the `locations` array instead for more flexible targeting.

            '
          type: object
          properties:
            include:
              type: array
              items:
                $ref: '#/components/schemas/RuleElement'
            exclude:
              type: array
              items:
                $ref: '#/components/schemas/RuleElement'
        traffic_distribution:
          description: 'The percentage of total eligible website traffic (matching audience and location criteria) that will be directed into this entire experience.

            For example, a value of 50 means 50% of eligible visitors will participate, while the other 50% will see the default website content and not be tracked for this experience.

            The traffic within the experience is then further split among its variations based on `variations[].traffic_distribution`.

            KB: "What is an Traffic Distribution?".

            '
          type: number
          minimum: 0
          maximum: 100
          multipleOf: 0.0001
        type:
          $ref: '#/components/schemas/ExperienceTypes'
        url:
          description: 'The primary URL used to load the page in Convert''s Visual Editor when creating or editing this experience''s variations.

            For Split URL tests, this is typically the URL of the original (control) page.

            '
          type: string
          format: uri
          maxLength: 2048
        version:
          description: An internal version number for the experience, incremented upon certain modifications.
          type: number
        integrations:
          type: array
          description: 'A list of configurations for third-party integrations enabled for this experience (e.g., Google Analytics, Hotjar, Mixpanel).

            Each object specifies the `provider` and any provider-specific settings (like a GA Custom Dimension index).

            '
          items:
            anyOf:
            - $ref: '#/components/schemas/ExperienceIntegrationBaidu'
            - $ref: '#/components/schemas/ExperienceIntegrationClicktale'
            - $ref: '#/components/schemas/ExperienceIntegrationClicky'
            - $ref: '#/components/schemas/ExperienceIntegrationCnzz'
            - $ref: '#/components/schemas/ExperienceIntegrationCrazyegg'
            - $ref: '#/components/schemas/ExperienceIntegrationEconda'
            - $ref: '#/components/schemas/ExperienceIntegrationEulerian'
            - $ref: '#/components/schemas/ExperienceIntegrationGoogleAnalytics'
            - $ref: '#/components/schemas/ExperienceIntegrationGosquared'
            - $ref: '#/components/schemas/ExperienceIntegrationHeapanalytics'
            - $ref: '#/components/schemas/ExperienceIntegrationHotjar'
            - $ref: '#/components/schemas/ExperienceIntegrationMicrosoftClarity'
            - $ref: '#/components/schemas/ExperienceIntegrationMixpanel'
            - $ref: '#/components/schemas/ExperienceIntegrationMouseflow'
            - $ref: '#/components/schemas/ExperienceIntegrationPiwik'
            - $ref: '#/components/schemas/ExperienceIntegrationSegmentio'
            - $ref: '#/components/schemas/ExperienceIntegrationSitecatalyst'
            - $ref: '#/components/schemas/ExperienceIntegrationWoopra'
            - $ref: '#/components/schemas/ExperienceIntegrationYsance'
        screenshots_info:
          type: array
          readOnly: true
          description: Information about the generation status and timestamps of screenshots for each variation in this experience. Used by the UI.
          items:
            type: object
            description: Screenshot metadata for a single variation.
            properties:
              variation_id:
                type: number
                description: The ID of the variation.
              in_progress_since:
                type: number
                nullable: true
                description: Unix timestamp (UTC) if screenshot generation is currently in progress for this variation, null otherwise.
              last_taken_screenshot_time:
                type: number
                nullable: true
                description: 'Unix timestamp (UTC) of when the latest screenshot for this variation was successfully captured.

                  Null if no screenshot exists or if generation failed.

                  '
        environments:
          type: array
          deprecated: true
          description: (Deprecated) List of environment names where this experience will run. Use the singular `environment` field instead.
          items:
            type: string
        environment:
          type: string
          description: 'The specific environment (e.g., "production", "staging", "development") within the project where this experience is intended to run.

            This must match one of the environments defined at the project level. If not set, it typically defaults to the project''s default environment (often "production").

            KB: "The Environments Feature".

            '
        concurrency_key:
          $ref: '#/components/schemas/ConcurrencyKey'
    Location:
      allOf:
      - $ref: '#/components/schemas/LocationBase'
      - type: object
        properties:
          rules:
            nullable: true
            allOf:
            - $ref: '#/components/schemas/LocationRuleObject'
          trigger:
            $ref: '#/components/schemas/LocationTrigger'
    BaseMatch:
      type: object
      properties:
        negated:
          description: 'If `true`, the logical result of the match is inverted.

            For example, if `match_type` is ''contains'' and `value` is ''apple'', `negated: true` means the rule matches if the attribute *does not* contain ''apple''.

            '
          type: boolean
    WeatherConditionMatchRulesTypes:
      type: string
      enum:
      - weather_condition
    BrowserNameMatchRule:
      allOf:
      - $ref: '#/components/schemas/BaseRuleWithBrowserNameValue'
      - type: object
        required:
        - rule_type
        properties:
          rule_type:
            $ref: '#/components/schemas/BrowserNameMatchRulesTypes'
          matching:
            allOf:
            - $ref: '#/components/schemas/BaseMatch'
            - type: object
              properties:
                match_type:
                  $ref: '#/components/schemas/ChoiceMatchingOptions'
    ExperienceIntegrationGA3:
      allOf:
      - $ref: '#/components/schemas/GA_SettingsBase'
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
      - $ref: '#/components/schemas/IntegrationGA3'
      - type: object
        properties:
          custom_dimension:
            type: string
            description: Custom dimension where experience data should be sent to.
    ClicksLinkGoalSettings:
      type: object
      additionalProperties: false
      properties:
        href:
          type: string
          description: 'The exact URL (or a pattern if regex is supported by the `triggering_rule`''s match type for this setting) found in the `href` attribute of the hyperlink(s) to be tracked.

            When a link with this `href` is clicked, the goal triggers.

            The page(s) where the link resides are defined in the goal''s `triggering_rule`.

            '
      required:
      - href
    CountryMatchRule:
      allOf:
      - $ref: '#/components/schemas/BaseRuleWithCountryCodeValue'
      - type: object
        required:
        - rule_type
        properties:
          rule_type:
            $ref: '#/components/schemas/CountryMatchRulesTypes'
          matching:
            allOf:
            - $ref: '#/components/schemas/BaseMatch'
            - type: object
              properties:
                match_type:
                  $ref: '#/components/schemas/ChoiceMatchingOptions'
    GoalStats:
      type: object
      readOnly: true
      properties:
        conversions_last_48h:
          type: integer
          description: The total number of times this goal has been triggered (converted) across all experiences in the last 48 hours. Useful for verifying if a goal is actively tracking.
        times_used:
          type: integer
          description: The number of active (non-archived) experiences that currently have this goal attached for tracking.
    BaseRuleWithDayOfWeekValue:
      allOf:
      - $ref: '#/components/schemas/BaseRule'
      - type: object
        properties:
          value:
            description: Day of week used for matching
            type: number
            minimum: 1
            maximum: 7
    SE_ProcSettingsFrequentist:
      allOf:
      - $ref: '#/components/schemas/SE_ProcSettingsBase'
      - type: object
        description: Stats Engine Settings needed for the Frequentist processing
        properties:
          stats_type:
            enum:
            - frequentist
          confidence:
            description: Confidence value to be used (in percent)
            type: number
            minimum: 50
            maximum: 99
            multipleOf: 1
          power:
            description: Statistical power value to be used (in percent)
            type: number
            minimum: 10
            maximum: 99
            multipleOf: 1
          test_type:
            description: The type of test applied to the data
            type: string
            default: two_tails
            enum:
            - one_tail
            - one_tail_left
            - one_tail_right
            - two_tails
            - sequential
          multiple_comparison_correction:
            description: Multiple comparison correction
            type: string
            enum:
            - none
            - bonferroni
            - sidak
          power_calculation_type:
            description: Power calculation type
            type: string
            default: dynamic_mde
            enum:
            - dynamic_mde
            - fixed_mde
          fixed_mde:
            description: Fixed minimum detectable effect (corresponding to the relative improvement in percent)
            type: number
            minimum: 0
            maximum: 10000
          mab_settings:
            allOf:
            - $ref: '#/components/schemas/SE_MabSettings'
            nullable: true
    BrowserNameMatchRulesTypes:
      type: string
      enum:
      - browser_name
    LocationRuleElement:
      oneOf:
      - $ref: '#/components/schemas/GenericTextMatchRule'
      - $ref: '#/components/schemas/GenericNumericMatchRule'
      - $ref: '#/components/schemas/GenericTextKeyValueMatchRule'
      - $ref: '#/components/schemas/GenericNumericKeyValueMatchRule'
      - $ref: '#/components/schemas/GenericBoolKeyValueMatchRule'
      - $ref: '#/components/schemas/JsConditionMatchRule'
      discriminator:
        propertyName: rule_type
        mapping:
          url: '#/components/schemas/GenericTextMatchRule'
          url_with_query: '#/components/schemas/GenericTextMatchRule'
          query_string: '#/components/schemas/GenericTextMatchRule'
          page_tag_page_type: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_sku: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_price: '#/components/schemas/GenericNumericMatchRule'
          page_tag_customer_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_1: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_2: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_3: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_4: '#/components/schemas/GenericTextMatchRule'
          generic_text_key_value: '#/components/schemas/GenericTextKeyValueMatchRule'
          generic_numeric_key_value: '#/components/schemas/GenericNumericKeyValueMatchRule'
          generic_bool_key_value: '#/components/schemas/GenericBoolKeyValueMatchRule'
          js_condition: '#/components/schemas/JsConditionMatchRule'
    GaGoalSettings:
      type: object
      additionalProperties: false
      properties:
        ga_event:
          description: The name of the event in Google Analytics (GA4) or the Goal configuration in Universal Analytics that this Convert goal corresponds to. When this GA event/goal occurs, the Convert goal is triggered.
          type: string
    LocationBase:
      type: object
      properties:
        id:
          type: integer
          description: The unique numerical identifier for the location.
          readOnly: true
        description:
          type: string
          description: An optional, more detailed explanation of this location's purpose or the pages/conditions it targets.
          maxLength: 500
        status:
          $ref: '#/components/schemas/LocationStatuses'
        name:
          type: string
          description: A user-defined, friendly name for the location (e.g., "All Product Pages", "Homepage Only", "Checkout Funnel"). This name appears in the Convert UI when selecting locations for experiences.
          maxLength: 100
        preset:
          type: boolean
          description: Indicates if this location is a system-defined preset (e.g., "All Pages"). Preset locations cannot be modified directly but can be used as templates.
          readOnly: true
        selected_default:
          type: boolean
          description: If true, this location will be automatically pre-selected when creating new experiences within the project. Useful for commonly targeted site areas.
        stats:
          type: object
          readOnly: true
          description: Statistics related to the usage of this location.
          properties:
            experiences_usage:
              description: 'The number of currently active experiences that are using this location for targeting.

                This is an optional field, included if ''stats.experiences_usage'' is specified in the `include` parameter.

                '
              type: number
              default: 0
    ExperienceIntegrationGA4Base:
      allOf:
      - $ref: '#/components/schemas/GA_SettingsBase'
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
      - $ref: '#/components/schemas/IntegrationGA4Base'
    BaseRuleWithBrowserNameValue:
      allOf:
      - $ref: '#/components/schemas/BaseRule'
      - type: object
        properties:
          value:
            description: Browser name used for matching
            type: string
            enum:
            - chrome
            - microsoft_ie
            - firefox
            - microsoft_edge
            - mozilla
            - opera
            - safari
    ExperienceIntegrationClicky:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
    MetricTypes:
      type: string
      description: 'The primary types of performance metrics calculated by the reporting engine for each goal.

        - `conversion_rate`: The percentage of visitors who completed the goal (Conversions / Visitors).

        - `avg_revenue_visitor`: Average Revenue Per Visitor (RPV = Total Revenue / Total Visitors). Applicable for revenue goals.

        - `avg_products_ordered_visitor`: Average Products Per Visitor (APPV = Total Products Ordered / Total Visitors). Applicable for revenue goals tracking product counts.

        - `average_order_value`: Average Order Value (AOV = Total Revenue / Total Conversions). Applicable for revenue goals tracking order value.

        - `average_products_per_order`: Average Products Per Order (APPO = Total Products Ordered Per Visitor / Total Conversions). Applicable for revenue goals tracking product counts.

        Knowledge Base: "Understanding Report Metrics in Convert".

        '
      enum:
      - conversion_rate
      - avg_revenue_visitor
      - avg_products_ordered_visitor
      - average_order_value
      - average_products_per_order
    RuleElementNoUrl:
      oneOf:
      - $ref: '#/components/schemas/GenericTextMatchRule'
      - $ref: '#/components/schemas/GenericNumericMatchRule'
      - $ref: '#/components/schemas/GenericBoolMatchRule'
      - $ref: '#/components/schemas/CookieMatchRule'
      - $ref: '#/components/schemas/GenericTextKeyValueMatchRule'
      - $ref: '#/components/schemas/GenericNumericKeyValueMatchRule'
      - $ref: '#/components/schemas/GenericBoolKeyValueMatchRule'
      - $ref: '#/components/schemas/CountryMatchRule'
      - $ref: '#/components/schemas/LanguageMatchRule'
      - $ref: '#/components/schemas/GoalTriggeredMatchRule'
      - $ref: '#/components/schemas/SegmentBucketedMatchRule'
      - $ref: '#/components/schemas/DayOfWeekMatchRule'
      - $ref: '#/components/schemas/HourOfDayMatchRule'
      - $ref: '#/components/schemas/MinuteOfHourMatchRule'
      - $ref: '#/components/schemas/BrowserNameMatchRule'
      - $ref: '#/components/schemas/OsMatchRule'
      - $ref: '#/components/schemas/WeatherConditionMatchRule'
      - $ref: '#/components/schemas/VisitorTypeMatchRule'
      - $ref: '#/components/schemas/JsConditionMatchRule'
      - $ref: '#/components/schemas/VisitorDataExistsMatchRule'
      discriminator:
        propertyName: rule_type
        mapping:
          campaign: '#/components/schemas/GenericTextMatchRule'
          keyword: '#/components/schemas/GenericTextMatchRule'
          medium: '#/components/schemas/GenericTextMatchRule'
          source_name: '#/components/schemas/GenericTextMatchRule'
          avg_time_page: '#/components/schemas/GenericNumericMatchRule'
          city: '#/components/schemas/GenericTextMatchRule'
          country: '#/components/schemas/CountryMatchRule'
          region: '#/components/schemas/GenericTextMatchRule'
          days_since_last_visit: '#/components/schemas/GenericNumericMatchRule'
          language: '#/components/schemas/LanguageMatchRule'
          pages_visited_count: '#/components/schemas/GenericNumericMatchRule'
          goal_triggered: '#/components/schemas/GoalTriggeredMatchRule'
          visit_duration: '#/components/schemas/GenericNumericMatchRule'
          cookie: '#/components/schemas/CookieMatchRule'
          visitor_type: '#/components/schemas/VisitorTypeMatchRule'
          visits_count: '#/components/schemas/GenericNumericMatchRule'
          bucketed_into_experience: '#/components/schemas/GenericBoolMatchRule'
          bucketed_into_segment: '#/components/schemas/SegmentBucketedMatchRule'
          local_time_day_of_week: '#/components/schemas/DayOfWeekMatchRule'
          local_time_hour_of_day: '#/components/schemas/HourOfDayMatchRule'
          local_time_minute_of_hour: '#/components/schemas/MinuteOfHourMatchRule'
          project_time_day_of_week: '#/components/schemas/DayOfWeekMatchRule'
          project_time_hour_of_day: '#/components/schemas/HourOfDayMatchRule'
          project_time_minute_of_hour: '#/components/schemas/MinuteOfHourMatchRule'
          browser_name: '#/components/schemas/BrowserNameMatchRule'
          browser_version: '#/components/schemas/GenericTextMatchRule'
          os: '#/components/schemas/OsMatchRule'
          user_agent: '#/components/schemas/GenericTextMatchRule'
          is_desktop: '#/components/schemas/GenericBoolMatchRule'
          is_mobile: '#/components/schemas/GenericBoolMatchRule'
          is_tablet: '#/components/schemas/GenericBoolMatchRule'
          js_condition: '#/components/schemas/JsConditionMatchRule'
          page_tag_page_type: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_sku: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_price: '#/components/schemas/GenericNumericMatchRule'
          page_tag_customer_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_1: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_2: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_3: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_4: '#/components/schemas/GenericTextMatchRule'
          weather_condition: '#/components/schemas/WeatherConditionMatchRule'
          generic_text_key_value: '#/components/schemas/GenericTextKeyValueMatchRule'
          generic_numeric_key_value: '#/components/schemas/GenericNumericKeyValueMatchRule'
          generic_bool_key_value: '#/components/schemas/GenericBoolKeyValueMatchRule'
          visitor_id: '#/components/schemas/GenericTextMatchRule'
          visitor_data_exists: '#/components/schemas/VisitorDataExistsMatchRule'
    UTC_Offset:
      type: integer
      description: 'The time offset from Coordinated Universal Time (UTC) in seconds.

        For example, UTC-5 (EST) would be -18000. UTC+2 would be 7200.

        Used for interpreting or displaying date/time information according to a specific timezone.

        '
      default: 0
      minimum: -43200
      maximum: 50400
    BaseRuleWithWeatherConditionValue:
      allOf:
      - $ref: '#/components/schemas/BaseRule'
      - type: object
        properties:
          value:
            description: 'Weather Condition name used for matching. Full or partial condition.


              The weather provider used by Convert detects the following conditions:

              - Blizzard

              - Blowing snow

              - Cloudy

              - Fog

              - Freezing drizzle

              - Freezing fog

              - Heavy freezing drizzle

              - Heavy rain

              - Heavy rain at times

              - Light drizzle

              - Light freezing rain

              - Light rain

              - Mist

              - Moderate rain

              - Moderate rain at times

              - Overcast

              - Partly cloudy

              '
            type: string
    ProjectIntegrationGA3:
      allOf:
      - $ref: '#/components/schemas/ProjectGASettingsBase'
      - $ref: '#/components/schemas/IntegrationGA3'
    ExperienceChangeDefaultCodeDataBase:
      type: object
      description: Defines a standard code-based change, typically generated by the Visual Editor for modifications like text replacement, style changes, or element removal. It can include CSS, Convert's internal JS representation, and custom JS.
      allOf:
      - $ref: '#/components/schemas/ExperienceChangeBase'
      - type: object
        properties:
          type:
            enum:
            - defaultCode
          data:
            type: object
            description: Describes structure for "defaultCode" type of experience change
            additionalProperties: false
            properties:
              css:
                type: string
                nullable: true
                description: CSS code to be applied by this change
              js:
                type: string
                nullable: true
                description: Javascript code generated by the visual editor or written in the same structure, to be applied by this experience change
              custom_js:
                type: string
                description: Custom javascript code to be applied by this change
                nullable: true
    ExperienceChange:
      description: Represents a single, specific modification applied as part of an experience's variation. The exact structure and content depend on the `type` of change.
      oneOf:
      - $ref: '#/components/schemas/ExperienceChangeDefaultCodeData'
      - $ref: '#/components/schemas/ExperienceChangeDefaultCodeMultipageData'
      - $ref: '#/components/schemas/ExperienceChangeDefaultRedirectData'
      - $ref: '#/components/schemas/ExperienceChangeCustomCodeData'
      - $ref: '#/components/schemas/ExperienceChangeRichStructureData'
      - $ref: '#/components/schemas/ExperienceChangeFullStackFeature'
      discriminator:
        propertyName: type
        mapping:
          richStructure: '#/components/schemas/ExperienceChangeRichStructureData'
          customCode: '#/components/schemas/ExperienceChangeCustomCodeData'
          defaultCode: '#/components/schemas/ExperienceChangeDefaultCodeData'
          defaultCodeMultipage: '#/components/schemas/ExperienceChangeDefaultCodeMultipageData'
          defaultRedirect: '#/components/schemas/ExperienceChangeDefaultRedirectData'
          fullStackFeature: '#/components/schemas/ExperienceChangeFullStackFeature'
    ExperienceVariationBase:
      type: object
      properties:
        name:
          description: A user-defined, friendly name for the variation (e.g., "Original Homepage", "Variation B - Green Button", "Personalized Offer for New Users"). This name appears in reports and the Convert UI.
          type: string
          maxLength: 200
        description:
          description: An optional, more detailed explanation of what this variation entails or what changes it implements compared to the original or other variations.
          type: string
          maxLength: 2000
          nullable: true
        is_baseline:
          type: boolean
          description: 'If `true`, this variation is considered the baseline (control) against which other variations in the experience are compared for performance.

            Typically, the "Original" variation is the baseline. Only one variation per experience can be the baseline.

            Knowledge Base: "What is a Baseline?"

            '
        traffic_distribution:
          description: 'The percentage of eligible traffic allocated to this specific variation.

            The sum of `traffic_distribution` for all active variations within an experience should ideally be 100% of the traffic allocated to the experience itself.

            For Multi-Armed Bandit (MAB) experiences, this value may be dynamically adjusted by the system.

            Knowledge Base: "What is an Traffic Distribution?"

            '
          type: number
          minimum: 0
          maximum: 100
          multipleOf: 0.0001
        key:
          description: 'A unique, machine-readable key or identifier for this variation within the project.

            Often auto-generated from the name if not specified, but can be user-defined for easier programmatic reference (e.g., in Full Stack SDKs).

            Example: "control", "treatment_A".

            '
          type: string
          maxLength: 32
        concurrency_key:
          $ref: '#/components/schemas/ConcurrencyKey'
    ExperienceIntegrationYsance:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
      - type: object
        properties:
          custom_dimension:
            type: string
            description: Custom dimension where experience data should be sent to.
        required:
        - custom_dimension
    GenericTextKeyValueMatchRule:
      allOf:
      - $ref: '#/components/schemas/BaseRuleWithStringValue'
      - type: object
        required:
        - rule_type
        properties:
          rule_type:
            $ref: '#/components/schemas/GenericTextKeyValueMatchRulesTypes'
          matching:
            allOf:
            - $ref: '#/components/schemas/BaseMatch'
            - type: object
              properties:
                match_type:
                  $ref: '#/components/schemas/TextMatchingOptions'
      - $ref: '#/components/schemas/GenericKey'
    NumericOutlierPercentile:
      allOf:
      - $ref: '#/components/schemas/NumericOutlierBase'
      - type: object
        additionalProperties: false
        properties:
          detection_type:
            enum:
            - percentile
          min:
            allOf:
            - description: Minimum percentile value for the outlier detection; values outside this percentile are considered outliers
            - $ref: '#/components/schemas/Percentiles'
          max:
            allOf:
            - description: Maximum percentile value for the outlier detection; values outside this percentile are considered outliers
[...]
