openapi: 3.1.0
info:
  title: Convert Accounts Experiences API
  description: 'Move your app forward with the Convert API. The Convert API allows

    you to manage your Convert Experiences projects using code. The REST API is

    an interface for managing and extending functionality of Convert. For

    example, instead of creating and maintaining projects using the Convert

    Experiences web dashboard you can create an experiment programmatically.

    Additionally, if you prefer to run custom analysis on experiment results you

    can leverage the API to pull data from Convert Experiences into your own

    workflow. If you do not have a Convert account already, sign up for a free

    developer account at https://www.convert.com/api/.


    *[Convert API V1](/doc/v1) is still available and documentation can be found [here](/doc/v1) but using it is highly discouraged

    as it will be phased out in the future*

    '
  version: 2.0.0
servers:
- url: https://api.convert.com/api/v2
  description: Live API server
- url: https://apidev.convert.com/api/v2
  description: DEV API server
- url: http://apidev.convert.com:5000/api/v2
  description: DEV mocked API server
tags:
- name: Experiences
  description: Convert Experiences provides a couple different experiences types. A/B, Split URL, Multivariate (MVT), Deploys, A/A and Multi-page (funnel) testing. To learn more, see <a href="https://support.convert.com/hc/en-us/articles/204494049">Six experience types in Convert Experiences.</a>
paths:
  /accounts/{account_id}/projects/{project_id}/experiences:
    post:
      operationId: getExperiencesList
      summary: List experiences within a project
      description: 'Retrieves a list of all experiences (A/B tests, MVT, Split URL, Deployments, etc.) within a specific project.

        Supports filtering by status, type, tags, and other criteria. Pagination is also supported.

        The `include` parameter can fetch related data like `variations` or `goals`. The `expand` parameter can provide full objects for linked entities.

        The Knowledge Base article "The Experience Overview Screen" describes the UI equivalent.

        '
      tags:
      - Experiences
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        description: ID of the project to which save/retrieved data is connected
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/GetExperiencesListRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExperiencesListResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/projects/{project_id}/experiences/{experience_id}:
    get:
      operationId: getExperience
      summary: Get details for a specific experience
      description: 'Retrieves comprehensive details for a single experience, identified by its `experience_id`.

        This includes its configuration (name, type, URL, status), associated audiences, locations, goals, variations, and integration settings.

        The `include` and `expand` parameters allow fetching more detailed related data.

        The Knowledge Base article "Experience Summary" describes the UI equivalent of this data.

        '
      tags:
      - Experiences
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        description: ID of the project to which save/retrieved data is connected
        in: path
        required: true
        schema:
          type: integer
      - name: experience_id
        description: The ID of the experience to be retrieved
        in: path
        required: true
        schema:
          type: integer
      - name: report_token
        in: header
        required: false
        description: Token to access the experience report in read-only mode.
        schema:
          type: string
      - name: include
        description: 'Array parameter that would mention extra fields to be included into the response; otherwise those fields would be excluded by default


          Read more in the section related to [Optional Fields](#tag/Optional-Fields)

          '
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExperienceIncludeFields'
      - name: expand
        description: 'Specifies the list of objects which would be expanded in the response. Otherwise, only their id would be returned.


          Read more in the section related to [Expanding Fields](#tag/Expandable-Fields)

          '
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExperienceExpandFields'
      responses:
        '200':
          $ref: '#/components/responses/ExperienceResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/projects/{project_id}/experiences/{experience_key}:
    get:
      operationId: getExperienceByKey
      summary: Get experience details by its unique key
      description: 'Retrieves comprehensive details for a single experience, identified by its user-defined `experience_key` instead of its numerical ID.

        This is useful when you have a human-readable key for an experience.

        Functionality and parameters are otherwise similar to getting an experience by ID.

        '
      tags:
      - Experiences
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        description: ID of the project to which save/retrieved data is connected
        in: path
        required: true
        schema:
          type: integer
      - name: experience_key
        description: The key of the experience to be retrieved
        in: path
        required: true
        schema:
          type: string
      - name: include
        description: 'Array parameter that would mention extra fields to be included into the response; otherwise those fields would be excluded by default


          Read more in the section related to [Optional Fields](#tag/Optional-Fields)

          '
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExperienceIncludeFields'
      - name: expand
        description: 'Specifies the list of objects which would be expanded in the response. Otherwise, only their id would be returned.


          Read more in the section related to [Expanding Fields](#tag/Expandable-Fields)

          '
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExperienceExpandFields'
      responses:
        '200':
          $ref: '#/components/responses/ExperienceResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/projects/{project_id}/experiences/add:
    post:
      operationId: createExperience
      summary: Create a new experience
      description: 'Creates a new experience (e.g., A/B test, Split URL test, MVT, Deploy, A/A test, Multi-page Funnel) within a project.

        Requires defining the experience name, type, status (usually ''draft''), and the URL for the Visual Editor or original page.

        Variations, audiences, locations, goals, and other settings can be specified during creation.

        The Knowledge Base article "Create a New Experience" outlines the UI process.

        '
      tags:
      - Experiences
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        description: ID of the project to which save/retrieved data is connected
        in: path
        required: true
        schema:
          type: integer
      - name: include
        description: 'Specifies the list of optional objects which would be included in the response.


          Read more in the section related to [Expanding Fields](#tag/Optional-Fields)

          '
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExperienceIncludeFields'
      - name: expand
        description: 'Specifies the list of objects which would be expanded in the response. Otherwise, only their id would be returned.


          Read more in the section related to [Expanding Fields](#tag/Expandable-Fields)

          '
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExperienceExpandFields'
      requestBody:
        $ref: '#/components/requestBodies/CreateExperienceRequest'
      responses:
        '201':
          $ref: '#/components/responses/ExperienceResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/projects/{project_id}/experiences/{experience_id}/clone:
    post:
      operationId: cloneExperience
      summary: Clone an existing experience
      description: 'Creates a new experience as an identical copy of an existing one (specified by `experience_id`).

        This is useful for iterating on a previous test or using an existing experience as a template.

        The cloned experience starts in ''draft'' status and does not copy historical report data.

        The Knowledge Base article "How to Clone an Experiment?" describes this.

        '
      tags:
      - Experiences
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        description: ID of the project to which save/retrieved data is connected
        in: path
        required: true
        schema:
          type: integer
      - name: experience_id
        description: The ID of the experience to be cloned
        in: path
        required: true
        schema:
          type: integer
      - name: include
        description: 'Specifies the list of optional objects which would be included in the response.


          Read more in the section related to [Expanding Fields](#tag/Optional-Fields)

          '
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExperienceIncludeFields'
      - name: expand
        description: 'Specifies the list of objects which would be expanded in the response. Otherwise, only their id would be returned.


          Read more in the section related to [Expanding Fields](#tag/Expandable-Fields)

          '
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExperienceExpandFields'
      requestBody:
        $ref: '#/components/requestBodies/CloneExperienceRequest'
      responses:
        '201':
          $ref: '#/components/responses/ExperienceResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/projects/{project_id}/experiences/{experience_id}/update:
    post:
      operationId: updateExperience
      summary: Update an existing experience
      description: 'Modifies the configuration of an existing experience.

        This can include changing its name, description, status (e.g., from ''draft'' to ''active'', or ''active'' to ''paused''), URL, traffic distribution, audiences, locations, goals, variations, and integration settings.

        The Knowledge Base article "How Can I Change Variations After Experiment Started?" notes that variations cannot be added/removed after start, but other settings can be updated.

        '
      tags:
      - Experiences
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        description: ID of the project to which save/retrieved data is connected
        in: path
        required: true
        schema:
          type: integer
      - name: experience_id
        description: The ID of the updated experience
        in: path
        required: true
        schema:
          type: integer
      - name: include
        description: 'Specifies the list of optional objects which would be included in the response.


          Read more in the section related to [Expanding Fields](#tag/Optional-Fields)

          '
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExperienceIncludeFields'
      - name: expand
        description: 'Specifies the list of objects which would be expanded in the response. Otherwise, only their id would be returned.


          Read more in the section related to [Expanding Fields](#tag/Expandable-Fields)

          '
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ExperienceExpandFields'
      requestBody:
        $ref: '#/components/requestBodies/UpdateExperienceRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExperienceResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/projects/{project_id}/experiences/{experience_id}/delete:
    delete:
      operationId: deleteExperience
      summary: Delete an experience
      description: 'Permanently removes an existing experience and all its associated data from the project.

        This action is irreversible. It''s generally recommended to archive experiences instead of deleting them to preserve historical data.

        The Knowledge Base article "How Do I Archive / Delete an Experience?" highlights this.

        '
      tags:
      - Experiences
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        description: ID of the project to which save/retrieved data is connected
        in: path
        required: true
        schema:
          type: integer
      - name: experience_id
        in: path
        required: true
        description: ID of the experience to be delete
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/SuccessResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/projects/{project_id}/experiences/{experience_id}/report_token:
    post:
      operationId: getReportToken
      summary: Manage report access token for an experience
      description: 'Generates, regenerates, or deletes a unique token that allows read-only access to an experience''s report.

        This is useful for sharing report data with stakeholders who do not have a Convert account or full project access.

        The token has an expiration time.

        '
      tags:
      - Experiences
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        description: ID of the project to which save/retrieved data is connected
        in: path
        required: true
        schema:
          type: integer
      - name: experience_id
        description: ID of the Experience
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/ExperienceReportTokenRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExperienceReportTokenResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/projects/{project_id}/experiences/{experience_id}/livedata:
    post:
      operationId: getExperienceLiveData
      summary: Get live tracking events for a specific experience
      description: 'Retrieves the last 100 tracking events (views, conversions, revenue) specifically for the given experience.

        Useful for real-time monitoring and QA of a single active experience. Supports filtering by event type and goals.

        The Knowledge Base article "Live Logs for Projects and Experiments in Convert" describes this feature.

        '
      tags:
      - Experiences
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        in: path
        required: true
        description: ID of the project into which the experience is stored
        schema:
          type: integer
      - name: experience_id
        in: path
        required: true
        description: ID of the Experience
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/GetExperienceLiveDataRequest'
      responses:
        '200':
          $ref: '#/components/responses/LiveDataEventsListResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/projects/{project_id}/experiences/{experience_id}/change-history:
    post:
      operationId: getExperienceHistory
      summary: Get change history for a specific experience
      description: 'Retrieves a historical log of all changes made to a specific experience.

        This includes modifications to its settings, variations, audiences, goals, status, etc.

        Provides an audit trail for the lifecycle of an experience, filterable by date and user.

        The Knowledge Base article "Track User Changes with Change History" details this.

        '
      tags:
      - Experiences
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        in: path
        required: true
        description: ID of the project to which save/retrieved data is connected
        schema:
          type: integer
      - name: experience_id
        in: path
        required: true
        description: ID of the Experience
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/GetExperienceHistoryRequest'
      responses:
        '200':
          $ref: '#/components/responses/ChangeHistoryListResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/projects/{project_id}/experiences/{experience_id}/trigger-screenshots:
    post:
      operationId: triggerExperienceScreenshots
      summary: Trigger screenshot generation for experience variations
      description: 'Initiates the process of generating or regenerating screenshots for the variations of a specified experience.

        These screenshots are displayed in the Convert UI to help visualize the changes made in each variation.

        The Knowledge Base article "Whitelist IPs for Screenshot Previews" is related as it lists IPs our service uses.

        '
      tags:
      - Experiences
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        in: path
        required: true
        description: ID of the project to which save/retrieved data is connected
        schema:
          type: integer
      - name: experience_id
        in: path
        required: true
        description: ID of the Experience
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/TriggerExperienceScreenshotsRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/projects/{project_id}/experiences/bulk-update:
    post:
      operationId: bulkExperiencesUpdate
      summary: Update multiple experiences at once
      description: 'Allows for changing the status (e.g., activate, pause, archive) of multiple experiences within a project simultaneously.

        Requires a list of experience IDs and the target status.

        The Knowledge Base article "Bulk Actions on Experiences" describes this UI feature.

        '
      tags:
      - Experiences
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        description: ID of the project to which save/retrieved data is connected
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/BulkUpdateExperiencesRequest'
      responses:
        '200':
          $ref: '#/components/responses/BulkSuccessResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /accounts/{account_id}/projects/{project_id}/experiences/bulk-delete:
    post:
      operationId: bulkExperiencesDelete
      summary: Delete multiple experiences at once
      description: 'Permanently removes multiple experiences from a project in a single operation.

        Requires a list of experience IDs. This action is irreversible.

        The Knowledge Base article "Bulk Actions on Experiences" describes this UI feature.

        '
      tags:
      - Experiences
      parameters:
      - name: account_id
        in: path
        required: true
        description: ID of the account that owns the retrieved/saved data
        schema:
          type: integer
      - name: project_id
        description: ID of the project to which save/retrieved data is connected
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/BulkDeleteExperiencesRequest'
      responses:
        '200':
          $ref: '#/components/responses/BulkSuccessResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
components:
  schemas:
    ReportingSegmentsCountry:
      type: string
      description: 'The two-letter ISO 3166-1 alpha-2 country code of the visitor, determined by IP geolocation.

        Used for segmenting reports by country to analyze geographical performance.

        Knowledge Base: "How Do I Target by Geographic Location Like City, Region or Country?".

        '
      maxLength: 2
      minLength: 2
    ExperienceCreateUpdateLocations:
      type: array
      description: A list of Location IDs to associate with the experience. The experience will run on pages/conditions defined by these locations (according to `settings.matching_options.locations`).
      items:
        type: integer
    SimpleLocationExpandable:
      anyOf:
      - type: integer
        description: Location ID
      - $ref: '#/components/schemas/SimpleLocation'
    ReportingSegmentsSource:
      type: string
      description: 'The traffic source that brought the visitor to the site (e.g., ''google'', ''facebook.com'', ''direct'', ''newsletter'').

        Derived from `utm_source` URL parameters or the HTTP referrer. Enables report segmentation by traffic source.

        Knowledge Base: "How Do You Fill Medium, Keyword and Source Name?".

        '
      enum:
      - campaign
      - search
      - referral
      - direct
      - ai_tool
    RuleElement:
      oneOf:
      - $ref: '#/components/schemas/GenericTextMatchRule'
      - $ref: '#/components/schemas/GenericNumericMatchRule'
      - $ref: '#/components/schemas/GenericBoolMatchRule'
      - $ref: '#/components/schemas/GenericTextKeyValueMatchRule'
      - $ref: '#/components/schemas/GenericNumericKeyValueMatchRule'
      - $ref: '#/components/schemas/GenericBoolKeyValueMatchRule'
      - $ref: '#/components/schemas/CookieMatchRule'
      - $ref: '#/components/schemas/CountryMatchRule'
      - $ref: '#/components/schemas/LanguageMatchRule'
      - $ref: '#/components/schemas/GoalTriggeredMatchRule'
      - $ref: '#/components/schemas/SegmentBucketedMatchRule'
      - $ref: '#/components/schemas/DayOfWeekMatchRule'
      - $ref: '#/components/schemas/HourOfDayMatchRule'
      - $ref: '#/components/schemas/MinuteOfHourMatchRule'
      - $ref: '#/components/schemas/BrowserNameMatchRule'
      - $ref: '#/components/schemas/OsMatchRule'
      - $ref: '#/components/schemas/WeatherConditionMatchRule'
      - $ref: '#/components/schemas/VisitorTypeMatchRule'
      - $ref: '#/components/schemas/JsConditionMatchRule'
      discriminator:
        propertyName: rule_type
        mapping:
          url: '#/components/schemas/GenericTextMatchRule'
          url_with_query: '#/components/schemas/GenericTextMatchRule'
          query_string: '#/components/schemas/GenericTextMatchRule'
          campaign: '#/components/schemas/GenericTextMatchRule'
          keyword: '#/components/schemas/GenericTextMatchRule'
          medium: '#/components/schemas/GenericTextMatchRule'
          source_name: '#/components/schemas/GenericTextMatchRule'
          avg_time_page: '#/components/schemas/GenericNumericMatchRule'
          city: '#/components/schemas/GenericTextMatchRule'
          country: '#/components/schemas/CountryMatchRule'
          region: '#/components/schemas/GenericTextMatchRule'
          days_since_last_visit: '#/components/schemas/GenericNumericMatchRule'
          language: '#/components/schemas/LanguageMatchRule'
          pages_visited_count: '#/components/schemas/GenericNumericMatchRule'
          goal_triggered: '#/components/schemas/GoalTriggeredMatchRule'
          visit_duration: '#/components/schemas/GenericNumericMatchRule'
          cookie: '#/components/schemas/CookieMatchRule'
          visitor_type: '#/components/schemas/VisitorTypeMatchRule'
          visits_count: '#/components/schemas/GenericNumericMatchRule'
          bucketed_into_experience: '#/components/schemas/GenericBoolMatchRule'
          bucketed_into_segment: '#/components/schemas/SegmentBucketedMatchRule'
          local_time_day_of_week: '#/components/schemas/DayOfWeekMatchRule'
          local_time_hour_of_day: '#/components/schemas/HourOfDayMatchRule'
          local_time_minute_of_hour: '#/components/schemas/MinuteOfHourMatchRule'
          project_time_day_of_week: '#/components/schemas/DayOfWeekMatchRule'
          project_time_hour_of_day: '#/components/schemas/HourOfDayMatchRule'
          project_time_minute_of_hour: '#/components/schemas/MinuteOfHourMatchRule'
          browser_name: '#/components/schemas/BrowserNameMatchRule'
          browser_version: '#/components/schemas/GenericTextMatchRule'
          os: '#/components/schemas/OsMatchRule'
          user_agent: '#/components/schemas/GenericTextMatchRule'
          is_desktop: '#/components/schemas/GenericBoolMatchRule'
          is_mobile: '#/components/schemas/GenericBoolMatchRule'
          is_tablet: '#/components/schemas/GenericBoolMatchRule'
          js_condition: '#/components/schemas/JsConditionMatchRule'
          page_tag_page_type: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_sku: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_price: '#/components/schemas/GenericNumericMatchRule'
          page_tag_customer_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_1: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_2: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_3: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_4: '#/components/schemas/GenericTextMatchRule'
          weather_condition: '#/components/schemas/WeatherConditionMatchRule'
          generic_text_key_value: '#/components/schemas/GenericTextKeyValueMatchRule'
          generic_numeric_key_value: '#/components/schemas/GenericNumericKeyValueMatchRule'
          generic_bool_key_value: '#/components/schemas/GenericBoolKeyValueMatchRule'
    ReportingSegmentsFilters:
      type: object
      description: 'A collection of filters used to segment experience report data based on various visitor attributes and traffic sources.

        Applying these filters allows for deeper analysis of how different user groups interact with experience variations.

        Knowledge Base: "Using Basic and Advanced Post segmentation".

        '
      properties:
        devices:
          type: array
          items:
            $ref: '#/components/schemas/ReportingSegmentsDeviceCategories'
          nullable: true
        browsers:
          description: Filter report data for visitors using one or more specified web browsers.
          type: array
          items:
            $ref: '#/components/schemas/ReportingSegmentsBrowser'
          nullable: true
        countries:
          description: Filter report data for visitors from one or more specified countries (using 2-letter ISO codes).
          type: array
          items:
            $ref: '#/components/schemas/ReportingSegmentsCountry'
          nullable: true
        visitor_types:
          description: Filter report data for 'new' or 'returning' visitors.
          type: array
          items:
            $ref: '#/components/schemas/ReportingSegmentsVisitorType'
          nullable: true
        campaigns:
          description: Filter report data for visitors attributed to one or more specified marketing campaign names (from `utm_campaign`).
          type: array
          items:
            $ref: '#/components/schemas/ReportingSegmentsCampaign'
          nullable: true
        custom_segments:
          description: Filter report data for visitors belonging to one or more specified custom Convert Audience segments (by segment ID).
          type: array
          items:
            $ref: '#/components/schemas/ReportingSegmentsCustomSegment'
          nullable: true
        sources:
          description: Filter report data for visitors from one or more specified traffic sources (e.g., 'direct', 'search', 'referral').
          type: array
          items:
            $ref: '#/components/schemas/ReportingSegmentsSource'
          nullable: true
    VisitorTypeMatchRulesTypes:
      type: string
      enum:
      - visitor_type
    LocationTriggerTypes:
      type: string
      default: upon_run
      description: 'Specifies the mechanism that activates an experience when its location rules are met:

        - `upon_run`: (Default) The experience activates as soon as the Convert tracking script loads and evaluates that the visitor matches the location''s rules (e.g., URL match). This is the standard behavior for most A/B tests.

        - `manual`: The experience only activates when explicitly triggered by a JavaScript call (`window._conv_q.push({ what: ''triggerLocation'', params: { locationId: ''...'' } })`). Gives precise programmatic control over activation.

        - `dom_element`: The experience activates upon a specific user interaction (e.g., ''click'', ''hover'', ''in_view'', ''change'') with a defined DOM element (identified by a CSS `selector`). Useful for testing changes related to interactive elements.

        - `callback`: The experience activates when a custom JavaScript `callback` function (provided in `js`) calls the `activate()` function passed to it. Allows for complex asynchronous activation logic, e.g., after an API response or a specific SPA state change.

        Note: For Full Stack projects, `upon_run` is effectively the only mode, as activation is handled by the SDK.

        '
      enum:
      - upon_run
      - manual
      - dom_element
      - callback
    ExperienceChangeId:
      description: Represents the unique identifier of an existing change within an experience variation. Used when updating or referencing a specific change.
      type: object
      additionalProperties: false
      properties:
        id:
          description: The unique numerical identifier for this specific change.
          type: integer
      required:
      - id
    LocationExpandable:
      anyOf:
      - type: integer
        description: Location ID
      - $ref: '#/components/schemas/Location'
    AudienceExpandable:
      anyOf:
      - type: integer
        description: Audience ID
      - $ref: '#/components/schemas/Audience'
    ProjectStatuses:
      description: 'The overall status of a project:

        - `active`: The project is active, and experiences within it can run and track data.

        - `inactive`: The project is inactive (archived or paused). No experiences within it will run, and no new data will be tracked.

        - `suspended`: The project (or account) has been suspended, typically due to billing issues or terms of service violations. Services are disabled.

        '
      type: string
      enum:
      - active
      - inactive
      - suspended
    ExperienceChangeIdReadOnly:
      description: Represents the unique identifier of a change, typically when returned by the API after creation or in a list.
      type: object
      properties:
        id:
          description: The unique numerical identifier for this specific change.
          type: integer
          readOnly: true
    ExperienceChangeBase:
      description: The fundamental structure representing a single modification applied within an experience's variation. The specific content and behavior of the change are determined by its `type` and detailed in the `data` object.
      type: object
      properties:
        type:
          type: string
          enum:
          - richStructure
          - customCode
          - defaultCode
          - defaultCodeMultipage
          - defaultRedirect
          - fullStackFeature
        data:
          description: 'A flexible object containing the specific details and content for this change, structured according to the change `type`.

            For example, for `customCode`, it would contain `js` and `css` strings. For `defaultRedirect`, it would contain `original_pattern` and `variation_pattern`.

            This field is included by default when fetching a single `ExperienceChange` but might be omitted in list views unless specified in an `include` parameter.

            '
          type: object
    UserCustomization:
      description: A generic key-value pair for storing miscellaneous user-specific UI customizations or settings not covered by structured preferences.
      type: object
      properties:
        key:
          type: string
          maxLength: 20
        value:
          nullable: true
          oneOf:
          - type: string
            maxLength: 20
          - type: number
          - type: boolean
      required:
      - key
      - value
    BaseProject:
      type: object
      properties:
        global_javascript:
          type: string
          nullable: true
          description: 'Custom JavaScript code that will be included on all pages where this project''s tracking script is installed.

            This script runs before any experience-specific code, making it suitable for global helper functions, third-party integrations setup (like analytics), or defining global variables.

            KB: "Project, Experience, Variation Javascript" - "Global Project JavaScript".

            '
        name:
          type: string
          maxLength: 200
          description: A user-defined, friendly name for the project (e.g., "Main Website Optimization", "Q3 Marketing Campaigns", "Mobile App Features").
        project_type:
          type: string
          description: 'The type of project, determining its capabilities and how it''s used:

            - `web`: For traditional website A/B testing, MVT, Split URL, personalization, and deploys using the client-side JavaScript tracking snippet.

            - `fullstack`: For server-side experiments, feature flagging, and mobile app testing using Convert''s Full Stack SDKs.

            KB: "Full Stack Experiments on Convert".

            '
          enum:
          - web
          - fullstack
          default: web
        reporting_settings:
          allOf:
          - type: object
            description: Project settings used for reporting
            properties:
              tested_visitors_quota:
                type: integer
                minimum: 0
                description: Maximum number of tested visitors that is allowed to go through this project in a billing cycle. After that number has been reached, no experiences that have influence over tested visitors will run in this project.
              currency_symbol:
                type: string
                description: Currency symbol used in the reporting.
                maxLength: 10
              blocked_ips:
                type: object
                nullable: true
                properties:
                  single:
                    type: array
                    description: List of single ip addresses blocked.
                    items:
                      type: object
                      minProperties: 1
                      properties:
                        value:
                          type: string
                          format: ip-address
                        name:
                          type: string
                          nullable: true
                          maxLength: 64
                      required:
                      - value
                  range:
                    type: array
                    description: List of ip addresses range.
                    items:
                      type: object
                      minProperties: 1
                      properties:
                        start:
                          type: string
                          format: ip-address
                          description: Starts from ip.
                        end:
                          type: string
                          format: ip-address
                          description: Ends with ip.
                        name:
                          type: string
                          nullable: true
                          maxLength: 64
                      required:
                      - start
                      - end
                description: A list of blocked IPs that are not allowed to be counted in the reports
              stop_tracking_goals_after_days:
                type: string
                description: 'Defines goals tracking life time: goals won''t be tracking after specified days unless used in active experiments.'
                enum:
                - 'OFF'
                - 1 day
                - 15 days
                - 30 days
                - 60 days
              smart_recommendations:
                type: boolean
                default: true
                description: 'Whether to run or not Smart Recommendations.

                  '
              keep_running_until_confidence:
                type: boolean
                description: 'If true, experiments do not auto-complete when planned sample size (100% progress) is reached alone.

                  They only auto-complete when both planned sample size is reached and the confidence threshold is met.

                  If false, experiments complete automatically when planned sample size is reached, regardless of confidence level.

                  Default depends on automation toggle: when keep_winner or stop_loser is enabled, default is true; otherwise false.

                  '
          - $ref: '#/components/schemas/ExperienceReportingSettings'
        settings:
          type: object
          description: General operational settings for the project.
          properties:
            allow_crossdomain_tracking:
              type: boolean
              description: 'If true, enables automatic passing of Convert tracking cookies (`_conv_v`, `_conv_s`) as URL parameters when visitors navigate between different domains listed in this project''s `Active Websites`.

                Essential for maintaining consistent visitor identity and experiment bucketing across multiple domains (e.g., main site to a separate checkout domain).

                KB: "Cookies and Cross-Domain Testing".

                '
            allow_gdpr:
              type: boolean
              description: 'If true, displays GDPR-related warnings in the Convert UI for settings or features that might have privacy implications (e.g., using certain audience conditions, enabling cross-domain tracking).

                KB: "GDPR warnings".

                '
            data_anonymization:
              type: boolean
              description: 'If true, masks the names of experiences, variations, segments, and goals in the public JavaScript tracking snippet and in data sent to some third-party integrations.

                Instead of names, their numerical IDs are used. Enhances privacy by preventing public disclosure of experiment details.

                KB: "Prevent Experiment Details Data Leak with Data Anonymization".

                '
            do_not_track:
              type: string
              enum:
              - 'OFF'
              - EU ONLY
              - EEA ONLY
              - Worldwide
              description: 'Configures if and how the project respects the "Do Not Track" (DNT) browser setting sent by visitors.

                - `OFF`: DNT signals are ignored.

                - `EU ONLY`: Respects DNT for visitors from EU countries.

                - `EEA ONLY`: Respects DNT for visitors from European Economic Area countries.

                - `Worldwide`: Respects DNT for all visitors globally.

                If respected, the Convert script may not load or track for visitors with DNT enabled.

                KB: "Respect Browser Do Not Track Setting".

                '
            global_privacy_control:
              type: string
              enum:
              - 'OFF'
              - EU ONLY
              - EEA ONLY
              - Worldwide
              description: 'Configures if and how the project respects Global Privacy Control (GPC) signals sent by visitors'' browsers.

                Options are similar to `do_not_track`. If respected, data collection and tracking may be limited.

                KB: "Respect Browser Do Not Track Setting" - "Global Privacy Control (GPC)".

                '
            include_jquery:
              type: boolean
              description: '(For legacy tracking script) If true, Convert''s tracking script will include its own version of the jQuery library.

                If your website already loads jQuery, set this to false to avoid loading it twice and improve page performance. Ensure your site''s jQuery loads before the Convert script.

                KB: "Do not include jQuery into the tracking scripts".

                '
            include_jquery_v1:
              type: boolean
              default: false
              description: '(For new v1 tracking script) If true, includes a jQuery-compatible API within the Convert script, even though the core script is jQuery-independent.

                Set to true if your variation code or global JS relies on `convert.$()` syntax and your site doesn''t globally provide jQuery.

                The new script itself does not require jQuery to function.

                '
            disable_spa_functionality:
              type: boolean
              default: false
              description: 'If true, disables Convert''s built-in optimizations and automatic handling for Single Page Applications (SPAs).

                Most SPAs work well with default SPA functionality enabled. Only disable if encountering specific conflicts or issues.

                KB: "SPA Optimizations", "Running Experiments on Single Page Apps".

                '
            do_not_track_referral:
              type: boolean
              default: false
              description: 'If true, Convert will not store referral data (like HTTP referrer or UTM parameters) in visitor cookies for use across subsequent pages or sessions.

                Referral data will still be used for targeting on the initial page view where it''s present.

                '
            time_zone:
              type: string
              description: 'The primary timezone for this project (e.g., "America/New_York", "Europe/London", "UTC").

                This timezone is used for scheduling experiences, interpreting time-based audience conditions (like ''hour of day - project_tz''), and displaying timestamps in reports.

                '
            utc_offset:
              $ref: '#/components/schemas/UTC_Offset'
            time_format:
              type: string
              description: Preferred time format for display within the Convert application UI for this project (12-hour or 24-hour).
              enum:
              - 12h
              - 24h
            debug_token:
              $ref: '#/components/schemas/GenerateDebugTokenData'
            disable_default_config:
              type: boolean
              default: false
              description: '(For Full Stack projects) If true, disables the default public configuration endpoint for this project.

                Access to project configuration via SDKs would then strictly require an authenticated SDK key. Enhances security for Full Stack projects.

                '
            include_experience_collaborators:
              type: boolean
              default: false
              description: 'If true, experience details retrieved via API will include information about the experience owner and collaborators.

                KB: "Assign Visible Owners and Collaborators to Experiences".

                '
            version:
              type: string
              maxLength: 50
              nullable: true
              readOnly: true
              description: 'An internal version identifier for the project''s configuration.

                This version string changes whenever a modification is made that affects the tracking script''s content (e.g., updating an experience, goal, or project setting).

                Format: [ISO_datetime]-[incremental_number].

                '
            legacy_script:
              type: boolean
              default: false
              description: 'If true, this project is configured to use Convert''s legacy tracking script.

                If false, it uses the newer, more performant v1 tracking script.

                New projects default to `false`. Existing projects retain their current script setting.

                KB: "How to Install the Main Tag / Convert Tracking Code / JavaScript" - "The Tracking Script vs Legacy Tracking Script".

                '
            ignore_unused_locations:
              type: boolean
              default: false
              description: 'If true, locations that are not currently associated with any active experiences will be excluded from the tracking script data downloaded by visitors.

                This can help reduce snippet size and improve performance.

                KB: "Benefits of Archiving Unused Goals, Locations, and Audiences." (Related concept for goals).

                '
            personalization:
              type: object
              nullable: true
              description: Personalization settings.
              properties:
                enabled:
                  type: boolean
                  default: false
                  description: Indicates whether personalization is enabled for this project.
            tracking_script:
              type: object
              description: 'Settings related to the management and versioning of the Convert tracking script for this project.

                Allows choosing a release strategy (manual, latest, scheduled) and viewing available/applied script versions.

                KB: "Tracking Script Version Management".

                '
              additionalProperties: false
              nullable: true
              properties:
                current_version:
                  description: The version string of the tracking script currently active for this project (e.g., "v2.11.3").
                  type: string
                previous_version:
                  type: string
                  description: The version string of the tracking script that was active before the `current_version`. Only available if a rollback is possible (manual mode).
                  nullable: true
                  readOnly: true
                available_versions:
                  $ref: '#/components/schemas/TrackingScriptAvailableVersions'
                release:
                  $ref: '#/components/schemas/TrackingScriptRelease'
            visitor_insights:
              allOf:
              - $ref: '#/components/schemas/VisitorInsightsBase'
              - type: object
                properties:
                  id:
                    type: string
                    readOnly: true
                    description: Id of the visitor insights
                    nullable: true
              description: 'Settings for Convert Signals™ (Visitor Insights), which captures sessions with user frustration signals.

                KB: "Understanding Convert Signals™ and signals.observer.min.js script in Convert".

                '
        integrations_settings:
          type: object
          description: Project-wide settings for various third-party integrations (e.g., Google Analytics, Crazy Egg, Hotjar). Experience-level settings can sometimes override these.
          properties:
            crazyegg:
              description: 'Settings for Crazy Egg integration. Requires API key and secret for certain functionalities like automatically creating snapshots for variations.

                KB: "Integrate Convert Experiences with Crazy Egg".

                '
              properties:
                api_key:
                  type: string
                  maxLength: 100
                  nullable: true
                  description: Crazy Egg API key for this project.
                api_secret:
                  type: string
                  maxLength: 100
                  nullable: true
                  description: Crazy Egg API secret. Not returned in GET requests for security.
            google_analytics:
              $ref: '#/components/schemas/GA_Settings'
            kissmetrics:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: If true, enables sending of Convert experiment data to Kissmetrics for this project.
            hotjar:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: If true, enables sending of Convert experiment data (as tags) to Hotjar for this project.
        status:
          $ref: '#/components/schemas/ProjectStatuses'
        custom_domain:
          type: object
          nullable: true
          description: 'Configuration for using a custom domain (CNAME) to serve the Convert tracking script and receive tracking data.

            This can improve branding and potentially reduce issues with ad blockers or third-party cookie restrictions.

            Requires DNS setup.

            '
          required:
          - domain
          properties:
            domain:
              type: string
              description: The custom domain name (e.g., "analytics.yourcompany.com") to be used for Convert tracking.
              maxLength: 150
              pattern: ^.+\..+
            status:
              type: string
              description: 'The activation status of the custom domain:

                - `pending`: DNS changes are made, awaiting verification and activation by Convert.

                - `active`: Custom domain is verified and actively being used for tracking.

                '
              readOnly: true
              enum:
              - pending
              - active
            ownership_verification:
              type: array
              nullable: true
              readOnly: true
              description: DNS records and values required to verify ownership of the custom domain. Provided by Convert during setup.
              items:
                $ref: '#/components/schemas/CustomDomainOwnershipVerificationItem'
            version:
              type: string
              description: The version of the custom domain.
              readOnly: true
        environments:
          type: object
          description: 'A user-defined map of environments for this project (e.g., "production", "staging", "development").

            Each environment has its own variant of the tracking script. Experiences are typically configured to run in a specific environment.

            The number of allowed environments depends on the account''s subscription plan.

            KB: "The Environments Feature".

            '
          additionalProperties:
            type: object
            description: Defines a single environment. The key of this object in the parent `environments` map is the environment's machine-readable name (e.g., "production").
            properties:
              label:
                type: string
                description: A user-friendly display name for the environment (e.g., "Production Live Site", "QA Staging Server").
              is_default:
                type: boolean
                description: If true, this environment is considered the default for the project. New experiences might default to this environment if not specified. Only one environment can be the default.
              js:
                type: string
                nullable: true
                description: 'The environment-specific javascript code that will be loaded after the project''s global javascript.

                  When an environment is specified in the request, this code will be appended to the project''s global_javascript with a newline character.

                  '
            required:
            - label
            - is_default
          default:
            production:
              label: Production
              is_default: true
        default_goals:
          type: array
          description: A list of Goal IDs that will be automatically added to any new experience created within this project.
          items:
            $ref: '#/components/schemas/SimpleGoalExpandable'
        default_audiences:
          type: array
          description: A list of Audience IDs that will be automatically added to any new experience created within this project.
          items:
            $ref: '#/components/schemas/SimpleAudienceExpandable'
        default_locations:
          type: array
          description: A list of Location IDs that will be automatically added to any new experience created within this project.
          items:
            $ref: '#/components/schemas/SimpleLocationExpandable'
    ExperienceIncludeFields:
      type: string
      enum:
      - alerts
      - goals
      - stats
      - variations
      - variations.changes
      - min_running_timestamp
      - max_running_timestamp
      - audiences
      - locations
      - collaborators
    ExperienceBase:
      type: object
      properties:
        description:
          description: An optional, detailed explanation of the experience's purpose, hypothesis, or specific changes being tested.
          type: string
          maxLength: 500
        start_time:
          description: 'Unix timestamp (UTC) indicating when the experience was first activated (status changed to ''active'').

            Null or 0 if the experience has never been started.

            '
          type: integer
          nullable: true
        end_time:
          description: 'Unix timestamp (UTC) indicating when the experience was last stopped (e.g., paused or completed).

            Null or 0 if the experience is currently active or has never been stopped.

            '
          type: integer
          nullable: true
        global_js:
          description: 'Custom JavaScript code that will be executed for all visitors bucketed into this experience, before any variation-specific code is applied.

            Useful for setting up common functionalities or variables needed by multiple variations.

            KB: "Project, Experience, Variation Javascript" - "Global Experience JavaScript".

            '
          type: string
        global_css:
          description: 'Custom CSS rules that will be applied for all visitors bucketed into this experience, before any variation-specific CSS.

            Useful for common styling adjustments needed across all variations.

            '
          type: string
        name:
          type: string
          description: A user-defined, friendly name for the experience (e.g., "Homepage Headline Test", "Checkout Funnel Optimization Q3"). This name is prominent in the Convert UI and reports.
          maxLength: 100
        key:
          description: 'A unique, machine-readable key or identifier for this experience within the project.

            Often auto-generated from the name if not specified, but can be user-defined for easier programmatic reference (e.g., in Full Stack SDKs or API calls).

            Example: "homepage_headline_test_q3".

            '
          type: string
          maxLength: 32
        primary_goal:
          type: integer
          description: 'The ID of the main conversion goal this experience is intended to optimize.

            Performance against this primary goal often determines the "winner" of an A/B test and is highlighted in reports.

            KB: "Experiment Report" - "Primary Goal".

            '
        objective:
          type: string
          nullable: true
          description: 'A detailed statement outlining the objective of this experience. This often includes the hypothesis being tested, the problem it aims to solve, the proposed solution (the variations), and the expected impact on key metrics.

            Connects to the "Hypotheses (Compass)" feature.

            '
          maxLength: 5000
        settings:
          $ref: '#/components/schemas/ExperienceSettings'
        site_area:
          nullable: true
          description: '(Deprecated) The legacy way to define on which pages the experience should run, using a set of include/exclude rules based on URL components or page tags.

            Modern experiences should use the `locations` array instead for more flexible targeting.

            '
          type: object
          properties:
            include:
              type: array
              items:
                $ref: '#/components/schemas/RuleElement'
            exclude:
              type: array
              items:
                $ref: '#/components/schemas/RuleElement'
        traffic_distribution:
          description: 'The percentage of total eligible website traffic (matching audience and location criteria) that will be directed into this entire experience.

            For example, a value of 50 means 50% of eligible visitors will participate, while the other 50% will see the default website content and not be tracked for this experience.

            The traffic within the experience is then further split among its variations based on `variations[].traffic_distribution`.

            KB: "What is an Traffic Distribution?".

            '
          type: number
          minimum: 0
          maximum: 100
          multipleOf: 0.0001
        type:
          $ref: '#/components/schemas/ExperienceTypes'
        url:
          description: 'The primary URL used to load the page in Convert''s Visual Editor when creating or editing this experience''s variations.

            For Split URL tests, this is typically the URL of the original (control) page.

            '
          type: string
          format: uri
          maxLength: 2048
        version:
          description: An internal version number for the experience, incremented upon certain modifications.
          type: number
        integrations:
          type: array
          description: 'A list of configurations for third-party integrations enabled for this experience (e.g., Google Analytics, Hotjar, Mixpanel).

            Each object specifies the `provider` and any provider-specific settings (like a GA Custom Dimension index).

            '
          items:
            anyOf:
            - $ref: '#/components/schemas/ExperienceIntegrationBaidu'
            - $ref: '#/components/schemas/ExperienceIntegrationClicktale'
            - $ref: '#/components/schemas/ExperienceIntegrationClicky'
            - $ref: '#/components/schemas/ExperienceIntegrationCnzz'
            - $ref: '#/components/schemas/ExperienceIntegrationCrazyegg'
            - $ref: '#/components/schemas/ExperienceIntegrationEconda'
            - $ref: '#/components/schemas/ExperienceIntegrationEulerian'
            - $ref: '#/components/schemas/ExperienceIntegrationGoogleAnalytics'
            - $ref: '#/components/schemas/ExperienceIntegrationGosquared'
            - $ref: '#/components/schemas/ExperienceIntegrationHeapanalytics'
            - $ref: '#/components/schemas/ExperienceIntegrationHotjar'
            - $ref: '#/components/schemas/ExperienceIntegrationMicrosoftClarity'
            - $ref: '#/components/schemas/ExperienceIntegrationMixpanel'
            - $ref: '#/components/schemas/ExperienceIntegrationMouseflow'
            - $ref: '#/components/schemas/ExperienceIntegrationPiwik'
            - $ref: '#/components/schemas/ExperienceIntegrationSegmentio'
            - $ref: '#/components/schemas/ExperienceIntegrationSitecatalyst'
            - $ref: '#/components/schemas/ExperienceIntegrationWoopra'
            - $ref: '#/components/schemas/ExperienceIntegrationYsance'
        screenshots_info:
          type: array
          readOnly: true
          description: Information about the generation status and timestamps of screenshots for each variation in this experience. Used by the UI.
          items:
            type: object
            description: Screenshot metadata for a single variation.
            properties:
              variation_id:
                type: number
                description: The ID of the variation.
              in_progress_since:
                type: number
                nullable: true
                description: Unix timestamp (UTC) if screenshot generation is currently in progress for this variation, null otherwise.
              last_taken_screenshot_time:
                type: number
                nullable: true
                description: 'Unix timestamp (UTC) of when the latest screenshot for this variation was successfully captured.

                  Null if no screenshot exists or if generation failed.

                  '
        environments:
          type: array
          deprecated: true
          description: (Deprecated) List of environment names where this experience will run. Use the singular `environment` field instead.
          items:
            type: string
        environment:
          type: string
          description: 'The specific environment (e.g., "production", "staging", "development") within the project where this experience is intended to run.

            This must match one of the environments defined at the project level. If not set, it typically defaults to the project''s default environment (often "production").

            KB: "The Environments Feature".

            '
        concurrency_key:
          $ref: '#/components/schemas/ConcurrencyKey'
    ExperienceIntegrationGA3:
      allOf:
      - $ref: '#/components/schemas/GA_SettingsBase'
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
      - $ref: '#/components/schemas/IntegrationGA3'
      - type: object
        properties:
          custom_dimension:
            type: string
            description: Custom dimension where experience data should be sent to.
    ClicksLinkGoalSettings:
      type: object
      additionalProperties: false
      properties:
        href:
          type: string
          description: 'The exact URL (or a pattern if regex is supported by the `triggering_rule`''s match type for this setting) found in the `href` attribute of the hyperlink(s) to be tracked.

            When a link with this `href` is clicked, the goal triggers.

            The page(s) where the link resides are defined in the goal''s `triggering_rule`.

            '
      required:
      - href
    BulkSuccessData:
      allOf:
      - $ref: '#/components/schemas/SuccessData'
      - type: object
        properties:
          code:
            type: integer
            format: int32
          errors:
            type: array
            description: List of unprocessed entities. Would be empty, if all passed entities processed
            items:
              $ref: '#/components/schemas/BulkEntityError'
    CountryMatchRule:
      allOf:
      - $ref: '#/components/schemas/BaseRuleWithCountryCodeValue'
      - type: object
        required:
        - rule_type
        properties:
          rule_type:
            $ref: '#/components/schemas/CountryMatchRulesTypes'
          matching:
            allOf:
            - $ref: '#/components/schemas/BaseMatch'
            - type: object
              properties:
                match_type:
                  $ref: '#/components/schemas/ChoiceMatchingOptions'
    BrowserNameMatchRulesTypes:
      type: string
      enum:
      - browser_name
    LocationRuleElement:
      oneOf:
      - $ref: '#/components/schemas/GenericTextMatchRule'
      - $ref: '#/components/schemas/GenericNumericMatchRule'
      - $ref: '#/components/schemas/GenericTextKeyValueMatchRule'
      - $ref: '#/components/schemas/GenericNumericKeyValueMatchRule'
      - $ref: '#/components/schemas/GenericBoolKeyValueMatchRule'
      - $ref: '#/components/schemas/JsConditionMatchRule'
      discriminator:
        propertyName: rule_type
        mapping:
          url: '#/components/schemas/GenericTextMatchRule'
          url_with_query: '#/components/schemas/GenericTextMatchRule'
          query_string: '#/components/schemas/GenericTextMatchRule'
          page_tag_page_type: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_sku: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_price: '#/components/schemas/GenericNumericMatchRule'
          page_tag_customer_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_1: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_2: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_3: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_4: '#/components/schemas/GenericTextMatchRule'
          generic_text_key_value: '#/components/schemas/GenericTextKeyValueMatchRule'
          generic_numeric_key_value: '#/components/schemas/GenericNumericKeyValueMatchRule'
          generic_bool_key_value: '#/components/schemas/GenericBoolKeyValueMatchRule'
          js_condition: '#/components/schemas/JsConditionMatchRule'
    ExperienceIntegrationGA4Base:
      allOf:
      - $ref: '#/components/schemas/GA_SettingsBase'
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
      - $ref: '#/components/schemas/IntegrationGA4Base'
    BaseRuleWithBrowserNameValue:
      allOf:
      - $ref: '#/components/schemas/BaseRule'
      - type: object
        properties:
          value:
            description: Browser name used for matching
            type: string
            enum:
            - chrome
            - microsoft_ie
            - firefox
            - microsoft_edge
            - mozilla
            - opera
            - safari
    UTC_Offset:
      type: integer
      description: 'The time offset from Coordinated Universal Time (UTC) in seconds.

        For example, UTC-5 (EST) would be -18000. UTC+2 would be 7200.

        Used for interpreting or displaying date/time information according to a specific timezone.

        '
      default: 0
      minimum: -43200
      maximum: 50400
    ExperiencesList:
      type: array
      description: A list of experience objects.
      items:
        $ref: '#/components/schemas/Experience'
    ExperienceVariationBase:
      type: object
      properties:
        name:
          description: A user-defined, friendly name for the variation (e.g., "Original Homepage", "Variation B - Green Button", "Personalized Offer for New Users"). This name appears in reports and the Convert UI.
          type: string
          maxLength: 200
        description:
          description: An optional, more detailed explanation of what this variation entails or what changes it implements compared to the original or other variations.
          type: string
          maxLength: 2000
          nullable: true
        is_baseline:
          type: boolean
          description: 'If `true`, this variation is considered the baseline (control) against which other variations in the experience are compared for performance.

            Typically, the "Original" variation is the baseline. Only one variation per experience can be the baseline.

            Knowledge Base: "What is a Baseline?"

            '
        traffic_distribution:
          description: 'The percentage of eligible traffic allocated to this specific variation.

            The sum of `traffic_distribution` for all active variations within an experience should ideally be 100% of the traffic allocated to the experience itself.

            For Multi-Armed Bandit (MAB) experiences, this value may be dynamically adjusted by the system.

            Knowledge Base: "What is an Traffic Distribution?"

            '
          type: number
          minimum: 0
          maximum: 100
          multipleOf: 0.0001
        key:
          description: 'A unique, machine-readable key or identifier for this variation within the project.

            Often auto-generated from the name if not specified, but can be user-defined for easier programmatic reference (e.g., in Full Stack SDKs).

            Example: "control", "treatment_A".

            '
          type: string
          maxLength: 32
        concurrency_key:
          $ref: '#/components/schemas/ConcurrencyKey'
    ExperienceIntegrationYsance:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
      - type: object
        properties:
          custom_dimension:
            type: string
            description: Custom dimension where experience data should be sent to.
        required:
        - custom_dimension
    VisitorDataExistsMatchRulesTypes:
      type: string
      enum:
      - visitor_data_exists
    ExperienceIntegrationHeapanalytics:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
    ExperienceIntegrationGA4:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationGA4Base'
      - $ref: '#/components/schemas/IntegrationGA4'
      - type: object
        properties:
          audiences:
            type: object
            description: List of GA audiences created for each of this experience's variations
            additionalProperties:
              type: string
              description: Variation ID is the key, value is the ID of the audience created inside GoogleAnalytics
    OnlyCount:
      type: object
      properties:
        onlyCount:
          type: boolean
          description: 'If set to `true` in a list request, the response will only contain the total count of matching items (`extra.pagination.items_count`)

            and will not include the actual item data. Useful for quickly getting totals without fetching full datasets.

            '
    ExperienceAlert:
      type: object
      properties:
        code:
          type: string
          description: A machine-readable code for the alert type.
          enum:
          - not_in_project
          - max_visitors_reached
          - no_goals_set_up
          - no_visitors_tracked
          - no_conversions_tracked
          - experiments_completed
        title:
          type: string
          description: A short, human-readable title for the alert.
        description:
          type: string
          description: A more detailed explanation of the alert and potential actions to take.
    SuccessData:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    ProjectIntegrationGA4:
      allOf:
      - $ref: '#/components/schemas/ProjectGASettingsBase'
      - $ref: '#/components/schemas/IntegrationGA4'
      - type: object
        properties:
          no_wait_pageview:
            type: boolean
            description: Boolean indicating whether to wait for the page view event to complete before sending other events.
    BaseRuleWithNumericValue:
      allOf:
      - $ref: '#/components/schemas/BaseRule'
      - type: object
        properties:
          value:
            description: The value used to match against 'rule_type' using 'matching'
            type: number
    DayOfWeekMatchRulesTypes:
      type: string
      enum:
      - local_time_day_of_week
      - project_time_day_of_week
    ExperienceUserCustomizations:
      type: array
      description: A list of user-defined key-value pairs for customizing UI elements or behavior related to this experience within the Convert application itself. These do not affect the live experiment seen by visitors.
      items:
        $ref: '#/components/schemas/UserCustomization'
      maxItems: 100
    TrackingScriptReleaseLatest:
      allOf:
      - $ref: '#/components/schemas/TrackingScriptReleaseBase'
      - type: object
        additionalProperties: false
        properties:
          type:
            enum:
            - latest
    ChangeHistoryMethods:
      type: string
      enum:
      - api
      - app
    ExperienceChangeDefaultCodeMultipageDataBase:
      type: object
      description: Defines a standard code-based change that applies to a specific page within a Multi-page Funnel experiment. This allows different code (CSS, JS) to be applied to different steps of the funnel for the same variation.
      allOf:
      - $ref: '#/components/schemas/ExperienceChangeBase'
      - type: object
        properties:
          type:
            enum:
            - defaultCodeMultipage
          data:
            type: object
            description: Describes structure for "defaultCodeMultipage" type of experience change
            additionalProperties: false
            properties:
              css:
                type: string
                nullable: true
                description: CSS code to be applied by this change
              js:
                type: string
                nullable: true
                description: Javascript code generated by the visual editor or written in the same structure, to be applied by this experience change
              custom_js:
                type: string
                description: Custom javascript code to be applied by this change
                nullable: true
              page_id:
                description: The **id** of the page connected to this change.
                type: string
    MinuteOfHourMatchRule:
      allOf:
      - $ref: '#/components/schemas/BaseRuleWithMinuteOfHourValue'
      - type: object
        required:
        - rule_type
        properties:
          rule_type:
            $ref: '#/components/schemas/MinuteOfHourMatchRulesTypes'
          matching:
            allOf:
            - $ref: '#/components/schemas/BaseMatch'
            - type: object
              properties:
                match_type:
                  $ref: '#/components/schemas/NumericMatchingOptions'
    Pagination:
      type: object
      properties:
        current_page:
          description: The current page number being displayed from the paginated set.
          type: integer
          minimum: 1
        items_count:
          description: The total number of items available across all pages for the current filter criteria.
          type: integer
          minimum: 0
        items_per_page:
          description: The number of items included in the current page of results (matches `results_per_page` from the request).
          type: integer
          minimum: 0
        pages_count:
          description: The total number of pages available for the current filter criteria and `results_per_page` setting.
          type: integer
          minimum: 0
    CookieMatchRulesTypes:
      type: string
      enum:
      - cookie
    Domain:
      type: object
      description: A website domain data.
      properties:
        id:
          type: integer
          description: Domain ID.
          readOnly: true
        url:
          type: string
          maxLength: 150
          pattern: ^(http|https)://
          description: Domain's homepage url
        code_installed:
          type: boolean
          description: Indicating whether code installed check passed sometimes in the past.
          default: false
    SimpleProjectExpandable:
      oneOf:
      - type: integer
        description: Project ID
      - $ref: '#/components/schemas/SimpleProject'
    ExperienceIntegrationHotjar:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
    MultipageExperiencePage:
      description: Defines a single page within a 'multipage' (funnel) experience.
      allOf:
      - type: object
        properties:
          id:
            description: The ID of the page.
            type: string
            minLength: 1
            maxLength: 2
            pattern: ^[0-9a-z]{1,2}$
          name:
            description: Name of the page
            type: string
            maxLength: 200
          url:
            description: The url of page to load
            type: string
            maxLength: 2048
        additionalProperties: false
    ExperienceChangeDefaultCodeDataUpdate:
      type: object
      description: Data for updating an existing 'defaultCode' type change, identified by its `id`.
      allOf:
      - $ref: '#/components/schemas/ExperienceChangeId'
      - $ref: '#/components/schemas/ExperienceChangeDefaultCodeDataBase'
      - type: object
        properties:
          concurrency_key:
            $ref: '#/components/schemas/ConcurrencyKey'
      - required:
        - type
        - data
    LanguageMatchRule:
      allOf:
      - $ref: '#/components/schemas/BaseRuleWithLanguageCodeValue'
      - type: object
        required:
        - rule_type
        properties:
          rule_type:
            $ref: '#/components/schemas/LanguageMatchRulesTypes'
          matching:
            allOf:
            - $ref: '#/components/schemas/BaseMatch'
            - type: object
              properties:
                match_type:
                  $ref: '#/components/schemas/ChoiceMatchingOptions'
    ExperienceIntegrationEconda:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
    AudienceTypesNoUrl:
      description: 'Defines the behavior and persistence of an audience that does *not* use URL-based conditions in its rules.

        - `permanent`: Once a visitor matches the audience criteria, they are permanently considered part of this audience for future sessions and evaluations, even if their characteristics change later. The matching is checked only at the initial bucketing time.

        - `transient`: A visitor must match the audience criteria upon each evaluation (e.g., on every page load or when an experiment is rechecked) to be included. If conditions are no longer met, the visitor is no longer part of the audience for that specific evaluation.

        For Full Stack projects, only `transient` and `segmentation` (if applicable without URL rules) are valid.

        '
      type: string
      enum:
      - permanent
      - transient
    ExperienceChangeDefaultCodeMultipageDataUpdate:
      type: object
      description: Data for updating an existing 'defaultCodeMultipage' type change, identified by its `id`.
      allOf:
      - $ref: '#/components/schemas/ExperienceChangeId'
      - $ref: '#/components/schemas/ExperienceChangeDefaultCodeMultipageDataBase'
      - type: object
        properties:
          concurrency_key:
            $ref: '#/components/schemas/ConcurrencyKey'
      - required:
        - type
        - data
    VisitorTypeMatchRule:
      allOf:
      - $ref: '#/components/schemas/BaseRuleWithVisitorTypeValue'
      - type: object
        required:
        - rule_type
        properties:
          rule_type:
            $ref: '#/components/schemas/VisitorTypeMatchRulesTypes'
          matching:
            allOf:
            - $ref: '#/components/schemas/BaseMatch'
            - type: object
              properties:
                match_type:
                  $ref: '#/components/schemas/ChoiceMatchingOptions'
    ExperienceChangeDefaultRedirectData:
      type: object
      description: Represents a 'defaultRedirect' type change, including its system-assigned ID.
      allOf:
      - $ref: '#/components/schemas/ExperienceChangeIdReadOnly'
      - $ref: '#/components/schemas/ExperienceChangeDefaultRedirectDataBase'
      - type: object
        properties:
          concurrency_key:
            $ref: '#/components/schemas/ConcurrencyKey'
    BaseRuleWithHourOfDayValue:
      allOf:
      - $ref: '#/components/schemas/BaseRule'
      - type: object
        properties:
          value:
            description: Hour of day used for matching
            type: number
            minimum: 0
            maximum: 24
    SE_MabSettings:
      type: object
      description: 'Configuration for Multi-Armed Bandit (MAB) traffic allocation. If `null`, MAB is disabled and manual traffic allocation is used.

        MAB dynamically allocates more traffic to better-performing variations based on the `primary_metric` of the `primary_goal`.

        KB: "Multi-Armed Bandit (MAB) & Auto-Allocation in Convert".

        '
      properties:
        strategy:
          description: 'The MAB algorithm used for dynamic traffic allocation:

            - `epsilon_greedy`: Mostly exploits the best-known variation, but explores others with a small probability (epsilon).

            - `ucb`: Upper Confidence Bound, balances exploration and exploitation based on uncertainty and potential.

            - `thompson_sampling`: (Default) A Bayesian approach that samples from posterior distributions to choose variations.

            '
          type: string
          enum:
          - epsilon_greedy
          - ucb
          - thompson_sampling
          default: thompson_sampling
        exploration_rate:
          description: 'For `epsilon_greedy` strategy, this is the ''epsilon'' value (0 to 1) representing the probability of choosing a random variation for exploration instead of the current best-performing one.

            A higher value means more exploration. Default is often 0.1 or 0.3.

            '
          type: number
          minimum: 0
          maximum: 1
          enum:
          - 0
          - 0.1
          - 0.2
          - 0.3
          - 0.4
          - 0.5
          - 0.6
          - 0.7
          - 0.8
          - 0.9
          - 1
          default: 0.3
    ExpandedExperienceVariationData:
      allOf:
      - $ref: '#/components/schemas/ExperienceVariationBaseExtended'
      - type: object
        properties:
          changes:
            description: An array of changes that this variation would apply.
            type: array
            items:
              oneOf:
              - type: integer
                description: Change ID
              - $ref: '#/components/schemas/ExperienceChange'
    PageNumber:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          description: 'The page number for paginated results. For example, if `results_per_page` is 30, `page: 2` will retrieve items 31-60.

            Defaults to 1 if not specified.

            '
    ExperienceCollaborator:
      type: object
      properties:
        first_name:
          type: string
          description: Collaborator's first name.
        last_name:
          type: string
          nullable: true
          description: Collaborator's last name.
        role:
          type: string
          description: The collaborator's access role within the project or account (e.g., 'Admin', 'Editor').
        user_id:
          type: string
          description: The unique identifier for the collaborator user.
        is_author:
          type: boolean
          description: True if this collaborator is the original creator (author) of the experience.
    LiveDataExpandFields:
      type: string
      enum:
      - custom_segments
      - experiences
      - experiences.variation
      - conversion.goals
      - project
    CreateExperienceRequestData:
      description: Request body for creating a new experience. Requires at least `name`, `status`, `type`, and `url`. Other fields like variations, audiences, goals, and settings are highly recommended for a functional setup.
      required:
      - name
      - status
      - type
      - url
      allOf:
      - $ref: '#/components/schemas/ExperienceBase'
      - $ref: '#/components/schemas/ExperienceCreateUpdatePages'
      - type: object
        properties:
          status:
            $ref: '#/components/schemas/ExperienceCreateUpdateStatuses'
          audiences:
            $ref: '#/components/schemas/ExperienceCreateUpdateAudiences'
          locations:
            $ref: '#/components/schemas/ExperienceCreateUpdateLocations'
          goals:
            $ref: '#/components/schemas/ExperienceCreateUpdateGoals'
          tags:
            type: array
            description: The list of tags connected to this experience
            items:
              $ref: '#/components/schemas/TagExpandableRequest'
          customizations:
            $ref: '#/components/schemas/ExperienceUserCustomizations'
          variations:
            type: array
            description: 'The list of variations of this experience

              **Note:** This list is final, any variations not passed in the list which were previously connected to the experience

              will get deleted

              '
            items:
              $ref: '#/components/schemas/ExperienceVariationCreate'
    ExperienceIntegrationMouseflow:
      allOf:
      - $ref: '#/components/schemas/ExperienceIntegrationBase'
    ExperienceChangeFullStackFeatureUpdate:
      type: object
      description: Data for updating an existing 'fullStackFeature' type change, identified by its `id`.
      allOf:
      - $ref: '#/components/schemas/ExperienceChangeId'
      - $ref: '#/components/schemas/ExperienceChangeFullStackFeatureBase'
      - type: object
        properties:
          concurrency_key:
            $ref: '#/components/schemas/ConcurrencyKey'
      - required:
        - type
        - data
    ExperienceExpandFields:
      type: string
      enum:
      - project
      - audiences
      - goals
      - locations
      - variations
      - variations.changes
      - tags
    NoSettingsGoal:
      allOf:
      - $ref: '#/components/schemas/GoalBase'
      - type: object
        properties:
          type:
            enum:
            - visits_page
            - code_trigger
    ExperienceChangeCustomCodeDataUpdate:
      type: object
      description: Data for updating an existing 'customCode' type change, identified by its `id`.
      allOf:
      - $ref: '#/components/schemas/ExperienceChangeId'
      - $ref: '#/components/schemas/ExperienceChangeCustomCodeDataBase'
      - type: object
        properties:
          concurrency_key:
            $ref: '#/components/schemas/ConcurrencyKey'
      - required:
        - type
        - data
    BulkDeleteExperiencesRequestData:
      type: object
      description: Request body for bulk deleting multiple experiences. Contains a list of experience IDs to be permanently removed.
      additionalProperties: false
      properties:
        id:
          $ref: '#/components/schemas/BulkExperienceIds'
      required:
      - id
    IntegrationGA4:
      allOf:
      - $ref: '#/components/schemas/IntegrationGA4Base'
      - type: object
        properties:
          propertyId:
            type: string
            description: ID of the ga4 property where data will be sent. Used internally for API calls to GoogleAnalytics
    ExperienceLiveDataFilteringOptions:
      type: object
      description: Filters for the live data feed of a single experience.
      properties:
        event_types:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/LiveDataEventTypes'
        goals:
          type: array
          nullable: true
          description: A list of Goal IDs to filter conversion/transaction events for.
          maxItems: 20
          items:
            type: integer
        segments:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/ReportingSegmentsFilters'
    ReportingSegmentsVisitorType:
      type: string
      description: 'Classifies the visitor as either ''new'' or ''returning'' based on their site visit history (tracked by Convert cookies).

        - `new`: First-time visitor to the site (or no existing Convert cookie).

        - `returning`: Visitor has been to the site before.

        Allows report segmentation to compare behavior of new vs. returning users.

        Knowledge Base: "What is a New/Returning Visitor as Defined in an Experiment''s Audience?".

        '
      enum:
      - new
      - returning
    BulkExperienceStatuses:
      type: string
      enum:
      - active
      - paused
      - archived
    GaGoal:
      allOf:
      - $ref: '#/components/schemas/GoalBase'
      - type: object
        properties:
          type:
            enum:
            - ga_import
          settings:
            $ref: '#/components/schemas/GaGoalSettings'
    ReportingSegmentsCampaign:
      type: string
      description: 'The campaign name associated with the visitor''s session, typically derived from `utm_campaign` URL parameters.

        Allows report segmentation by marketing campaign.

        Knowledge Base: "How Do You Fill Medium, Keyword and Source Name?".

        '
    RuleObjectNoUrl:
      type: object
      nullable: true
      description: 'Similar to `RuleObject`, but the individual `RuleElementNoUrl` conditions within `OR_WHEN` arrays cannot include URL-based matching types.

        Used for ''permanent'' or ''transient'' audiences where URL context is not persistently evaluated or relevant for the audience type.

        '
      properties:
        OR:
          description: An array of AND-blocks.
          type: array
          items:
            type: object
            properties:
              AND:
                description: An array of OR_WHEN-blocks.
                type: array
                items:
                  type: object
                  properties:
                    OR_WHEN:
                      description: An array of individual rule elements that do not involve URL matching.
                      type: array
                      items:
                        $ref: '#/components/schemas/RuleElementNoUrl'
    TrackingScriptReleaseScheduled:
      allOf:
      - $ref: '#/components/schemas/TrackingScriptReleaseBase'
      - type: object
        additionalProperties: false
        properties:
          type:
            enum:
            - scheduled
          automatic_apply_on:
            $ref: '#/components/schemas/TrackingScriptReleaseAutomaticApplyOn'
    MinuteOfHourMatchRulesTypes:
      type: string
      enum:
      - local_time_minute_of_hour
      - project_time_minute_of_hour
    SE_ProcTypes:
      type: string
      description: 'The statistical methodology used for analyzing experiment results and determining winners.

        - `frequentist`: Traditional hypothesis testing approach using p-values and confidence intervals (e.g., T-tests). KB: "Statistical Methods Used".

        - `bayesian`: Bayesian statistical approach providing probabilities of one variation being better than another (e.g., Chance to Win). KB: "Statistical Models in Convert.com''s A/B Testing Platform".

        '
      enum:
      - frequentist
      - bayesian
    SimpleGoal:
      type: object
      properties:
        id:
          description: The unique numerical identifier of the goal.
          type: integer
        name:
          description: The user-defined, friendly name of the goal.
          type: string
    ExperienceIntegrationGoogleAnalytics:
      oneOf:
      - $ref: '#/components/schemas/ExperienceIntegrationGA3'
      - $ref: '#/components/schemas/ExperienceIntegrationGA4'
      discriminator:
        propertyName: type
        mapping:
          ga3: '#/components/schemas/ExperienceIntegrationGA3'
          ga4: '#/components/schemas/ExperienceIntegrationGA4'
    LocationTrigger:
      description: 'Defines how and when an experience associated with this location should be activated for a visitor who matches the location''s rules.

        The `type` determines the activation mechanism.

        Knowledge Base: "Locations" - "Dynamic Website Triggers".

        '
      oneOf:
      - $ref: '#/components/schemas/LocationTriggerDomElement'
      - $ref: '#/components/schemas/LocationTriggerCallback'
      - $ref: '#/components/schemas/LocationTriggerManual'
      - $ref: '#/components/schemas/LocationTriggerUponRun'
      discriminator:
        propertyName: type
        mapping:
          dom_element: '#/components/schemas/LocationTriggerDomElement'
          callback: '#/components/schemas/LocationTriggerCallback'
          manual: '#/components/schemas/LocationTriggerManual'
          upon_run: '#/components/schemas/LocationTriggerUponRun'
    LanguageMatchRulesTypes:
      type: string
      enum:
      - language
    LiveDataEventTypes:
      type: string
      enum:
      - view_experience
      - conversion
      - transaction
    Experience:
      allOf:
      - type: object
        properties:
          id:
            type: integer
            description: Experience's ID which identify an experience in the system
          project:
            $ref: '#/components/schemas/ProjectExpandable'
          alerts:
            type: array
            items:
              $ref: '#/components/schemas/ExperienceAlert'
          collaborators:
            type: array
            items:
              $ref: '#/components/schemas/ExperienceCollaborator'
          audiences:
            type: array
            description: The list of audiences for which this experience is supposed to run
            items:
              $ref: '#/components/schemas/AudienceExpandable'
          locations:
            type: array
            description: The list of locations on which this experience is supposed to run
            items:
              $ref: '#/components/schemas/LocationExpandable'
          goals:
            type: array
            description: The list of goals connected to this experience; experience of type deploy does not have goals attached;
            items:
              $ref: '#/components/schemas/GoalExpandable'
          tags:
            type: array
            description: The list of tags connected to this experience
            items:
              $ref: '#/components/schemas/TagExpandable'
          multipage_pages:
            type: array
            description: Only for multipage experience type
            items:
              $ref: '#/components/schemas/MultipageExperiencePage'
          customizations:
            $ref: '#/components/schemas/ExperienceUserCustomizations'
          stats:
            description: Experience's condensed statistics(only for experiences that get access to a report)
            type: object
            properties:
              goal_id:
                description: 'ID of the goal used to calculate the stats. It can be provided in the request or otherwise it defaults to experience''s Primary Goal

                  '
                type: integer
              conversions:
                description: Number of conversions recorded for after this experience was presented, for the primary goal or the goal given inside the request(if any)
                type: integer
              variations_observed_results:
                description: Results observed for each experience's variation
                type: array
                items:
                  type: object
                  properties:
                    variation_id:
                      description: Variation id
                      type: integer
                    improvement:
                      description: Improvement observed over Baseline, as percentage
                      type: number
                    probability_beat_control:
                      description: Calculated probability to beat control. Will be 0 if cannot be calculated yet
                      type: number
                    test_result:
                      description: Result of the statistical test for this variation, compared to the baseline
                      type: string
                      enum:
                      - winner
                      - losing
                      - notConcluded
                      - noChange
                    revenue_per_visitor:
                      description: Calculated revenue per visitor. Applicable for revenue goals, otherwise null.
                      type: number
                      default: null
                    mab_allocation:
                      description: Calculated mab allocation. Applicable for experiences with enabled mab_allocation.
[...]
